<%- include("../partials/head") %>
    <title>Account</title>
    <link rel="stylesheet" href="/Account/account.css">
    </head>

    <body>
        <%- include("../partials/header") %>
            <section class="firstsec">
                <div class="division1">
                    <div class="leftside">
                    </div>
                    <div class="rightside">
                        <h1 class="account">Account</h1>
                        <div class="quotes">
                            <p>“The gladdest moment in human life is a departure into unknown lands.”</p>
                            <p> “Be fearless in the pursuit of what sets your soul on fire.”</p>
                            <p>“Travel makes one modest. You see what a tiny place you occupy in the world.”</p>
                        </div>

                        <!-- <div class="grid-content">
                            <div class="A">Username</div>
                            <div class="b">:</div>
                            <div class="c"></div>
                            <div class="d">EmailId </div>
                            <div class="e">:</div>
                            <div class="f"></div>
                            <div class="g"></div>rs
                            <div class="h">:</div>
                            <div class="i"></div>
                        </div> -->
                        <a class="button" href="/logout">Signout</a>
                    </div>
                </div>
            </section>



            <script src="../Login/app.js"></script>
    </body>

    </html>