<nav>
    <div class="navbar">
        <div class="logo-container">
            <img draggable = "false" src="/Images/Trekidoo_logo.png" alt="Trekidoo_logo" class="Trekidoo_logo_nav" />
            <a href="/" class="logo"><span>Trek</span>idoo</a>
        </div>
        <ul class="nav-container">
            <li class="list-item"> <a href="/" class="home">Home</a></li>
            <li class="list-item"> <a href="/places" class="places">Place</a></li>
            <li class="list-item"> <a href="/PlanATrip" class="plan">Plan</a></li>
            <li class="list-item"> <a href="/about" class="about">About</a></li>
            <li class="list-item"> <a href="/login" class="signin"><%= log %></a></li>
        </ul>
        <div class="menu menu-transition">
            <div class="menu-lines"></div>
        </div>
    </div>
</nav>