@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap%27');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    user-select: none;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("../Places/images/patrick-fischer-niGsD4QOBTo-unsplash.jpg");
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
    
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -50;
    backdrop-filter: blur(3px);
    
}

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */
/* Navbar Sectio*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    position: absolute;
    z-index: 31;
    top: 0;
    background: rgba(0, 0, 0, 1);
    padding: 35px 0;
}

.logo-container {
    margin-left: 3rem;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    font-weight: 200;
    letter-spacing: 2px;
    transition: all 0.3s;
}

.logo span {
    font-weight: 600;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 5px white, 0 0 8px black;
    border-bottom: 3px solid white;
    border-radius: 10px;
}

.menu {
    position: absolute;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

.list-item {
    padding: 10px;
    list-style-type: none;
}

.list-item a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    font-size: 1.1rem;
}

.list-item a:hover{
    border-bottom: 3px solid white;
    border-radius: 0px;
}

 .container30 {
    
    height: 16.5vh;
    display: flex;
    align-items: flex-end;     
    
} 
/* button {
    position: relative;
} */

/*scrolll bar*/
/* .scroll-box {
    height: 90vh;
    /* width: 200px; */ /*
    width: 12.5rem;
    margin-top: 8vh;
    margin-right: auto;
    font-size: 16px;
    /* background-color: #ffffff; */ /*
    overflow-y: auto;
    border: none;
    border-radius: 6px;
    
}

.scroll-box .scroll-content { 
    min-width: 110px;
    height: 90px;
    line-height: 90px; 
    text-align: center;
     color: rgba(0, 0, 0, 1); 
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 16px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
    background: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    transition: 350ms;
    
} */
.scroll-box {
    
    /* width: 200px; */
    font-size: 16px;
     /* width: 300%; */
    border: none;
     /* border-radius: 15px;  */
    overflow-x: auto;  
    display: flex;
    align-items: flex-end;
    /* height: 9rem; */
     min-height: 90%; 
     margin-left: 10px;
    margin-right: 10px;    
    /* margin-top:90px; */
     margin-bottom: 0px;
           
} 

.scroll-box .scroll-content { 
    display: flex;
    justify-content: center;
    align-items: center;   
     min-width: 10rem; 
    
     min-height: 4.625rem;
     height: 60%; 
    
    /* transform: skew(-16deg); */
    /* line-height: 80px;  0 */
    text-align: center;
     color: rgba(255, 255, 255,0.6); 
    border-radius: 15px;  
      margin-right: 5px; 
     margin-left: 5px;       
         /* margin-bottom: 30px;       */
         margin-bottom: 1.875rem;
           /* margin-top:45px;         */
           margin-top: 2.813rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);  
     background: rgba(161, 160, 160, 0.1); 
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(1px);
    transition: 350ms;
    
  }

  
.state1 .p1{
    padding-top: 20px;
    
}
.state1 p{
    line-height: 25px;
    
}
.scroll-box .scroll-content:nth-child(1) {
    margin-left: 5px;
}

.animation {
    animation-name: clicker;
    animation-duration: 50ms;
    animation-fill-mode: forwards;
}
.scroll-box.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

 .scroll-content:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  /* background: linear-gradient(45deg,#545ec2,#d65d51); */
    
}
/* .state2:hover {
    background: linear-gradient(45deg,#ff6f91,#ff9671);
      
  }
.state3:hover {
    background: linear-gradient(45deg,#ff6f91,#545ec2);
      
  }
.state4:hover {
    background: linear-gradient(45deg,#ff9671,#d65d51);
      
  }
  .state5:hover {
    background: linear-gradient(45deg,#845EC2,#2C73D2);
      
  }   
  .state6:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state7:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state8:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state9:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state10:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state11:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state12:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  }
  .state13:hover {
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
      
  } */

.scroll-box::-webkit-scrollbar {
    /* margin-top: 0px;
    height: 6px; */
     display: none;  
    
     
}  

/* .scroll-box::-webkit-scrollbar-thumb {
    
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
    border-radius: 6px;
    
}
.scroll-box::-webkit-scrollbar-thumb:hover {
    
    background: linear-gradient(45deg,#00bf7a,#00b1cf,#008e9b);
  
} */
/* 
.scroll-box::-webkit-slider-thumb {
    /* height: 25px;
    width: 3px; */
/* } */ 
/* .scroll-box::-webkit-scrollbar-button:single-button {
    background-color: #000000;
    display: block;
    border-style: solid;
    border-radius:5px;
    
    height: 13px;
    width: 16px;
  }  */

/* @media (max-width: 800px) {
    .scroll-box {
        display: flex;
        align-items: center;
        width: 70%;
        height:100px; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        
    }
    .scroll-box .scroll-content {
        height: 60px;
        line-height: 60px;
        margin-right: 7px;
        margin-left: 7px;
    }


    .scroll-box::-webkit-scrollbar {
        display: none;    
    } 
    .scroll-box.active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
    }
      
        
     
    
} */

@keyframes clicker {
    0% {
        transform: scale(1.03); 
        margin-bottom: 30px;

    }
    100% {
        transform: scale(1.03); 
       /* margin-left: 12px;
       margin-right: 12px; */
        margin-bottom: 40px;
        background: linear-gradient(45deg,#545ec2,#d65d51); 
        box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
        
        
        
    }
    
    
}
.gradiant {
    background: linear-gradient(45deg,#545ec2,#d65d51); 
}
.card-content-all {
    display: none !important;
    
} 
.show {
    display: grid !important;
}

.cardbox {
    height: 83.5vh;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    
}
/* cards */
.card-content-all{
    
    position: relative;
    top: 30px;
    display: grid;
    grid-template-areas: 
    "card1 card2 card3 card4" 
    "card5 card6 card7 card8";
    /* grid-row-gap: 10%; */
       /* background-color: black;      */
    min-height: 100%;
    width: 100%;
     /* margin-bottom: 30px; */
     /* margin-bottom: 1.7%; */
    padding-top: 9%; 
    padding-left:7%;
    padding-right: 3%;
    padding-bottom: 1%;  
    /* margin-left: auto;
    margin-right: auto; */
     /* bottom: 5%;  */ 
    animation-name: cardanimation;
    animation-duration: 700ms;
    
    
}



@keyframes cardanimation {
    0%{
        transform: translateY(60px);
        opacity: 0.2;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.card {
    position: relative;
     /* width: 360px;    */
    width: 83%; 
    min-height: 12.5rem;  
    /* height: 71.3%;     */
    display: block;
     /* margin-right: 50px;  */
     margin-right: 3.125rem;
    /* margin-bottom: 80px;  */
     margin-bottom:20%; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
    background: rgba(48, 101, 199, 0.1);
    /* border: 1px solid black; */
    transition: 0.4s linear;
    border-radius: 10px;
    
}
.card:hover{
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.card.active .face img{
    opacity: 0.6;
    transform: scale(1.1);
    border-radius: 10px;
    
}
.card .face {
    position: absolute;
    /* background: black; */
    /* height: 220px; */
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.face img{
    height: 100%;
    width: 100%;
    transition: 0.3s;
    border-radius: 10px;
}
.card .content{
    
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    /* background: #2a2b2f; */
    background:linear-gradient(#008e9b,#008f7a);
    width: 100%;
    text-align: center;
    padding: 10px 1px;
}


.content .title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    color: white;
}
 .bottom p{
    /* position: absolute; */
    color: #ffffff;
    font-size: 16px;
    text-align: justify;
    /* line-height: 4.5em; */
    line-height:100%;
    margin-bottom: 5px;
} 
.bottom a{
    float: center;
    line-height: 5rem;
    padding: 7px 10px;
    font-size: 17px;
    background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 15px;
}
.bottom a:hover {
    transform: scale(0.9);
}
.bottom{
    display: none; 
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
}
.card6 {
    grid-area: card6;
}
.card7 {
    grid-area: card7;
}
.card8 {
    grid-area: card8;
}


/* state2 */

/* responsive */
@media (max-width: 1400px) {
    .container30 {
    
        height: 15vh;
        display: flex;
        /* padding-bottom: -90px; */
        align-items: flex-end;  
        /* margin-bottom: -10px; */
    } 
    .cardbox {
          height: 85vh;  
        display: flex;
        align-items: flex-end;
        justify-content: center;

        
        
     
        
    }
    .card-content-all{
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-areas: 
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8";
        /* grid-row-gap: 10%; */
         /* background-color: black;    */
        height: 100%;
        width: 100%;
         /* margin-bottom: 30px; */
         margin-bottom: 1.7%;
          padding-top: 15%; 
        padding-left:22%;
        padding-right: 10%;
         padding-bottom: 1%;  
        /* margin-left: auto;
        margin-right: auto; */
         /* bottom: 5%;  */ 
        animation-name: cardanimation;
        animation-duration: 700ms;
        
        
    }
    .card {
        
        position: relative;
         /* width: 360px;    */
        width: 73%; 
        /* height: 220px;  */
        
        min-height: 12.5rem;     
        display: block;
         margin-right: 10px; 
         /* margin-bottom: 80px;  */
         margin-bottom: 20%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
        background: rgba(48, 101, 199, 0.1);
        /* border: 1px solid black; */
        transition: 0.4s linear;
        border-radius: 10px;
        
    }
    .scroll-box {
    
        /* width: 200px; */
        font-size: 16px;
         /* width: 300%; */
        border: none;
         /* border-radius: 15px;  */
        overflow-x: auto;  
        display: flex;
        align-items: flex-end;
         margin-left: 10px;
        margin-right: 10px; 
        
        /* margin-bottom: -55rem; */
         /* margin-bottom: 0; */
        
        
        
         
        
    } 
    
     /* .scroll-box {
        display: flex;
        align-items: center;
        width: 70%;
        height:100px; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        
    } */
    /* .scroll-box .scroll-content {
        min-width: 10rem; 
    
        min-height: 4.625rem;
    }    */
    /* .scroll-box {
   
        /* width: 200px; 
        font-size: 16px;
         /* width: 300%; 
        border: none;
         /* border-radius: 15px; 
        overflow-x: auto;  
        display: flex;
        align-items: center;
        min-height: 9rem;
         margin-left: 10px;
        margin-right: 10px; 
        /* margin-bottom: -50px; */
        
        /* margin-bottom: 0;
         
    
         
        
    }  */

    .card-content-all::-webkit-scrollbar {
        margin-top: 0px;
        height: 6px;
        width: 8px;
         
        
         
    }  
    
    .card-content-all::-webkit-scrollbar-thumb {
        
        background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
        border-radius: 6px;
        
    }
    .card-content-all::-webkit-scrollbar-thumb:hover {
        
        background: linear-gradient(45deg,#00bf7a,#00b1cf,#008e9b);
      
    }
    @keyframes clicker {
        0% {
            transform: scale(1.03); 
            margin-bottom: 30px;
    
        }
        100% {
            transform: scale(1.03); 
           /* margin-left: 12px;
           margin-right: 12px; */
            background: linear-gradient(45deg,#545ec2,#d65d51); 
            box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
            
            
            
        }
    
    
    
}
    

@media (max-width: 1200px) {
    
    .cardbox {
        /* height: 150vh;  */
       display: flex;
       align-items: flex-end;
       justify-content: center;
       
    
       
   }
   .card-content-all{
       overflow: auto;
       position: relative;
       display: grid;
       grid-template-areas: 
       "card1 card2"
       "card3 card4"
       "card5 card6"
       "card7 card8";
       /* grid-row-gap: 10%; */
        /* background-color: black;    */
        height: 100%;
       width: 100%;
        margin-bottom: 30px;
        padding-top: 15%; 
       padding-left:14%;
       padding-right: 3%;
        padding-bottom: 1%;  
       /* margin-left: auto;
       margin-right: auto; */
        /* bottom: 5%;  */ 
       animation-name: cardanimation;
       animation-duration: 700ms;
       
       
   }
   .card {
       
       position: relative;
        /* width: 360px;    */
       width: 75%; 
       /* height: 220px;  */
    
       min-height: 12.5rem;     
       display: block;
        margin-right: 10px; 
        margin-bottom: 80px; 
       box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
       background: rgba(48, 101, 199, 0.1);
       /* border: 1px solid black; */
       transition: 0.4s linear;
       border-radius: 10px;
       
   }

   /* .scroll-box {
   
       /* width: 200px; */
       /*
       font-size: 16px;
        /* width: 300%; *//*
       border: none;
        /* border-radius: 15px;  *//*
       overflow-x: auto;  
       display: flex;
       align-items: center;
       min-height: 9rem;
        margin-left: 10px;
       margin-right: 10px; 
       
       margin-bottom: 1rem; 
       /* margin-bottom: 0;
        
   
        
       
   } *//*
   .scroll-box .scroll-content {
    min-width: 10rem; 

    min-height: 4.625rem;
    }  */

}
@media (max-width: 800px) {
    /* Navigation Section */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    position: absolute;
    top: 0px;
    background: black;
}

.nav-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all .8s ease-in-out;
    backdrop-filter: blur(15px);
    line-height: 5rem;
    font-size: 1.5rem;
    top: -150rem;
    font-weight: 900;
}

.menu {
    position: relative;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-lines {
    position: absolute;
    width: 1.4rem;
    height: .2rem;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-lines::before, .menu-lines::after {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: .2rem;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-lines::before {
    transform: translateY(.5rem);
}
.menu-lines::after {
    transform: translateY(-.5rem);
}

.menu.open .menu-lines {
    transform: translateX(1.8rem);
    background: transparent;
}
.menu.open .menu-lines::before {
    transform: rotate(45deg) translate(-20px, 20px) ;
}
.menu.open .menu-lines::after {
transform: rotate(-45deg) translate(-20px, -20px);
}
    .card-content-all{
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
        /* grid-row-gap: 10%; */
         /* background-color: black;    */
        height: 100%;
        width: 100%;
         margin-bottom: 30px; 
          padding-top: 15%; 
         padding-left:24%; 
          padding-right: 3%;
         padding-bottom: 1%;  
        /* margin-left: auto;*/
        /* margin-right: auto; */
         /* bottom: 5%;  */ 
        animation-name: cardanimation;
        animation-duration: 700ms;
        top: 20px;
        
    }
    .card {
        
        position: relative;
        /* align-items: center;
        justify-content: center; */
               /* width: 360px;    */
        width: 73%; 
        /* height: 220px;  */
        display: block;
        margin-right: 10px;  
          margin-bottom: 4.375rem;
         
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
        background: rgba(48, 101, 199, 0.1);
        /* border: 1px solid black; */
        transition: 0.4s linear;
        border-radius: 10px;
        
    }
    .card-content-all::-webkit-scrollbar {
        margin-top: 0px;
        height: 6px;
        width: 8px;
        display: none;
         
        
         
    }  
    
    .card-content-all::-webkit-scrollbar-thumb {
        
        background: linear-gradient(45deg,#ffc75f,#ff9671,#ff6f91);
        border-radius: 6px;
        
    }
    .card-content-all::-webkit-scrollbar-thumb:hover {
        
        background: linear-gradient(45deg,#00bf7a,#00b1cf,#008e9b);
      
    }
    /* .scroll-box .scroll-content {
        min-width: 10rem; 
    
        min-height: 4.625rem;
    }  */
    .scroll-box {
    
        /* width: 200px; */
        font-size: 16px;
         /* width: 300%; */
        border: none;
         /* border-radius: 15px;  */
        overflow-x: auto;  
        display: flex;
        align-items: flex-end;
        /* height: 9rem; */
         min-height: 90%; 
         margin-left: 10px;
        margin-right: 10px;    
        margin-top:5.625rem;
         margin-bottom: 0px;
               
    } 
    
    .scroll-box .scroll-content { 
        display: flex;
        justify-content: center;
        align-items: center;   
         min-width: 10rem; 
        
         min-height: 4.625rem;
         height: 60%; 
        
        /* transform: skew(-16deg); */
        /* line-height: 80px;  0 */
        text-align: center;
         color: rgba(255, 255, 255,0.6); 
        border-radius: 15px;  
          margin-right: 5px; 
         margin-left: 5px;       
             margin-bottom: 30px;      
               margin-top:45px;        
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);  
         background: rgba(161, 160, 160, 0.1); 
        border-top: 1px solid rgba(255,255,255,0.3);
        border-left: 1px solid rgba(255,255,255,0.3);
        backdrop-filter: blur(1px);
        transition: 350ms;
        
      }
    
    
 
        
      
    

}
@media (max-width: 700px) {
    
    .card-content-all{
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
        /* grid-row-gap: 10%; */
         /* background-color: black;    */
        height: 100%;
        width: 100%;
         margin-bottom: 1.875rem;
          padding-top: 20%; 
        padding-left:18%;
        padding-right: 3%;
         padding-bottom: 1%;  
        /* margin-left: auto;
        margin-right: auto; */
          /* bottom: %;   */
        animation-name: cardanimation;
        animation-duration: 700ms;
        
        
    }
    .card {
        
        position: relative;
         /* width: 360px;    */
        width: 83%; 
        /* height: 220px;  */
        height: 12.5rem;    
        display: block;
         margin-right: 10px; 
         margin-bottom:3.75rem; 
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
        background: rgba(48, 101, 199, 0.1);
        /* border: 1px solid black; */
        transition: 0.4s linear;
        border-radius: 10px;
        
    }
    /* .scroll-box .scroll-content {
        min-width: 10rem; 
    
        min-height: 4.625rem;
    }  */
}
@media (max-width: 500px) {
    
    .card-content-all{
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
        /* grid-row-gap: 10%; */
         /* background-color: black;    */
        height: 100%;
        
        width: 100%;
         margin-bottom: 1.875rem;
          padding-top: 30%; 
        padding-left:10%;
        padding-right: 3%;
         padding-bottom: 1%;  
        /* margin-left: auto;
        margin-right: auto; */
         /* bottom: 5%;  */ 
        animation-name: cardanimation;
        animation-duration: 700ms;
        
        
    }
    .card {
        
        position: relative;
         /* width: 360px;    */
        width: 93%; 
        /* height: 220px;  */
        height: 12.5rem; 
        min-height: 200px;    
        display: block;
         margin-right: 10px; 
         margin-bottom: 3.75rem; 
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
        background: rgba(48, 101, 199, 0.1);
        /* border: 1px solid black; */
        transition: 0.4s linear;
        border-radius: 10px;
        
    }
    /* .scroll-box .scroll-content {
        min-width: 10rem; 
    
        min-height: 4.625rem;
    }  */
}
@media (max-width: 400px) {
  
    .card-content-all{
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
        /* grid-row-gap: 10%; */
         /* background-color: black;    */
        height: 100%;
        
        width: 100%;
         margin-bottom: 1.875rem;
          padding-top: 30%; 
        padding-left:6%;
        padding-right: 3%;
         padding-bottom: 1%;  
        /* margin-left: auto;
        margin-right: auto; */
         /* bottom: 5%;  */ 
        animation-name: cardanimation;
        animation-duration: 700ms;
        
        
    }
    .card {
        
        position: relative;
         /* width: 360px;    */
        width: 98%; 
        /* height: 220px;  */
        height: 51.3%; 
         min-height: 11.25rem;     
        display: block;
         margin-right: 10px; 
         margin-bottom: 2.5rem; 
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
        background: rgba(48, 101, 199, 0.1);
        /* border: 1px solid black; */
        transition: 0.4s linear;
        border-radius: 10px;
        
    }
}
@media (max-width: 350px) {
    
    .card-content-all{
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
        /* grid-row-gap: 10%; */
         /* background-color: black;    */
        height: 100%;
        
        width: 100%;
         margin-bottom: 1.875rem;
          padding-top: 40%; 
        padding-left:6%;
        padding-right: 3%;
         padding-bottom: 1%;  
        /* margin-left: auto;
        margin-right: auto; */
         /* bottom: 5%;  */ 
        animation-name: cardanimation;
        animation-duration: 700ms;
        
        
    }
    .card {
        
        position: relative;
         /* width: 360px;    */
        width: 98%; 
        /* height: 220px;  */
        height: 51.3%; 
        min-height: 10rem;     
        display: block;
        margin-right: 10px; 
        margin-bottom: 2.5rem; 
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
        background: rgba(48, 101, 199, 0.1);
        /* border: 1px solid black; */
        transition: 0.4s linear;
        border-radius: 10px;
        
    }
    /* .scroll-box .scroll-content {
        min-width: 10rem; 
    
        min-height: 4.625rem;
    }  */
}

}