<%- include("../partials/head") %>
    <title>Andhra Pradesh</title>
    <link rel="stylesheet" href="/Places/states.css">
</head>

<body>
    <%- include("../partials/header") %>
        <p id="placeNone">
            <%= place %>
        </p>
        <section class="main_body">
            <div class="place1" id="thirumala">
                <div class="image">
                    <h1 class="text">Tirumala Temple</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/thirumala/tirumala_temple4.jpg" alt="tirumala_temple4"
                        class="image1" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/thirumala/tirumala_temple3.jpg" alt="tirumala_temple3" />
                        <p> Tirumala Tirupati Devasthanam (TTD), which manages the affairs of the famous Sri
                            Venkateswara
                            Temple, has 7,235 kg of yellow metal deposited with two nationalized banks under
                            different gold
                            deposit schemes. ... The remaining 553 kg of gold in TTD treasury comprises small
                            jewellery and
                            other items offered by the devotees.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">According to sources, the temple has over Rs 12,000 crore in fixed deposits
                            in
                            various banks.It is also believed to be earning about 100 kg of gold as annual interest
                            on gold
                            deposits in the banks.However, the actual wealth of the temple is beyond anybody's guess
                            as the
                            main deity at Balaji temple and several other processional idols are adorned with
                            diamond-studded gold ornaments and antiques said to be worth hundreds of crores.</p>
                        <img draggable = "false" src="/Places/states_img/Andhra/thirumala/tirumala_temple1.jpg" alt="tirumala_temple1" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/thirumala/tirumala_temple2.jpg" alt="tirumala_temple2" />
                        <p>The Tirumala Tirupati Devasthanam (TTD) trust, which manages the temple, said it has lost
                            two
                            billion rupees (S$37.5 million) in revenue every month since it closed its doors on
                            March 19.
                            Cash liquidity had "hit rock bottom", said TTD chairman Y.S. Subba Reddy.On May 1, the
                            temple
                            trust terminated the services of 1,300 contract workers, saying it could not afford them
                            at the
                            moment.</p>
                    </div>

                </div>
            </div>

            <div class="place2" id="rishikonda_beach">
                <div class="image">
                    <h1 class="text">Rishikonda Beach</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/rishikonda_beach/rishikonda_beach3.jpg" alt="rishikonda_beach3"
                        class="image2" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/rishikonda_beach/rishikonda_beach1.jpg"
                            alt="rishikonda_beach1" />
                        <p>The beach city of Andhra Pradesh, Visakhapatnam attracts huge number of tourists from all
                            over
                            the country looking to spend some relaxed moments amidst the pristine sandy beaches
                            located
                            here. Situated at around 8 km from the Vizag city is the beautiful Rushikonda beach, a
                            popular
                            beach of Vizag that attracts tourists as well as the locals here.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Rushikonda beach is widely known for its golden sands and tidy waves of Bay
                            of
                            Bengal. Surrounded by green plants, Rushikonda beach looks picture perfect attracting
                            nature
                            lovers in huge numbers. With its vast stretch of waters, Rushikonda beach is the perfect
                            place
                            to enjoy water sports like swimming, water skiing and wind surfing.</p>
                        <img draggable = "false" src="/Places/states_img/Andhra/rishikonda_beach/Rishikonda-Beach1.jpg"
                            alt="Rishikonda-Beach1" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/rishikonda_beach/Rishikonda-Beach1.jpg"
                            alt="Rishikonda-Beach1" />
                        <p>Tourists indulging in water sports in the clear waters of the beach is a regular sight
                            here.
                            Additionally, AP Tourism has built up cottages around the beach along with restaurants
                            and other
                            amenities making it an attractive tourist spot.</p>
                    </div>

                </div>
            </div>



            <div class="place3" id="borra_caves">
                <div class="image">
                    <h1 class="text">Borra Caves</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/borra_caves/borra_caves3.jpg" alt="borra_caves3"
                        class="image3" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/borra_caves/borra_caves1.jpg" alt="borra_caves1" />
                        <p> Discovered by William King George of the Geological Survey of India, these one million
                            year old
                            caves attract huge number of tourists every day and have become one of the major
                            attractions of
                            Vizag. Located at an elevation of 1400 m above sea level, these beautiful caves are a
                            visual
                            treat to the tourists.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">There are several legends regarding the discovery of the caves among the
                            tribals
                            living here. According to a popular legend, Borra caves were discovered when a cowherd
                            while
                            searching for his lost cow came across these caves. He found a Shiva Lingam inside the
                            cave and
                            believed that Lord Shiva has saved his cow.</p>
                        <img draggable = "false" src="/Places/states_img/Andhra/borra_caves/borra_caves2.jpg" alt="borra_caves2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/borra_caves/borra_caves4.jpg" alt="borra_caves4" />
                        <p>The villagers built a small temple outside the cave which is visited by the people coming
                            here.
                            Another popular belief is that the Shiva Lingam found here had a stone formation of cow
                            above it
                            and the udder of this cow is believed to be the source for Gosthani river that flows
                            through the
                            Vizag city.</p>
                    </div>

                </div>
            </div>



            <div class="place4" id="tada_falls">
                <div class="image">
                    <h1 class="text">Tada Falls</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/tada_falls/tada_falls4.jpg" alt="tada_falls4" class="image4" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/tada_falls/tada_falls1.jpg" alt="tada_falls1" />
                        <p>Buses are available from Chennai(starting at Koyembedu bustand) SETC bus no.114(Sri
                            kalahasti)
                            and 200 (Tirupati) drops you till Varadayya palem(the last human settlement on the way
                            to TADA
                            falls). Varadyya palem is approximately 8 km from the forest dept. check post. Autos are
                            available for travel from Varadayya palem to the check post.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">To reach Tada, Cross the Padi junction in Chennai and take the redhills
                            route and
                            join NH-5. Drive for about 60Kms and you will reach Tada town. Before you reach Tada you
                            will
                            cross the AP checkpost. If you are taking taxis, then you will have to shell out permit
                            tax here
                            (Rs.250 for Indica and Ambassador) and it is pretty high for a Tata Sumo or Tempo
                            Traveller.</p>
                        <img draggable = "false" src="/Places/states_img/Andhra/tada_falls/tada_falls2.jpg" alt="tada_falls2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/tada_falls/tada_falls3.webp" alt="tada_falls3" />
                        <p>To reach Tada, Cross the Padi junction in Chennai and take the redhills route and join
                            NH-5.
                            Drive for about 60Kms and you will reach Tada town. Before you reach Tada you will cross
                            the AP
                            checkpost. If you are taking taxis, then you will have to shell out permit tax here
                            (Rs.250 for
                            Indica and Ambassador) and it is pretty high for a Tata Sumo or Tempo Traveller.</p>
                    </div>

                </div>
            </div>



            <div class="place5" id="ins_museum">
                <div class="image">
                    <h1 class="text">INS Kursura Submarine Museum</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/ins_museum/ins_museum4.jpg" alt="ins_museum4" class="image5" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/ins_museum/ins_museum1.jpg" alt="ins_museum1" />
                        <p> Vizag is known not just for the amazing beaches, but many other places that attract
                            visitors
                            from all over the country. One such place is INS Kurusura submarine museum, a museum
                            established
                            at the beach of Rama Krishna. INS Kurusura is a submarine constructed by Russians in the
                            year
                            1969. It reached Visakhapatnam in 1970 via the Baltic Sea and since then served the
                            Indian Navy.
                        </p>
                    </div>
                    <div class="content2">
                        <p class="text1">INS Kurusura served the Indian Navy for 31 years and then it was
                            decommissioned and
                            turned into a museum in 2001. With a length of 91.3 meters and breadth of 8 meters, the
                            INS
                            Kurusura submarine played a vital role in a number of wars including the 1971 Indo-Pak
                            war.

                        </p>
                        <img draggable = "false" src="/Places/states_img/Andhra/ins_museum/ins_museum2.jpg" alt="ins_museum2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/ins_museum/ins_museum3.jpg" alt="ins_museum3" />
                        <p>The INS Kurusura submarine museum at RK beach is the first submarine turned into a museum
                            in the
                            whole of Asia and second in the world. Various parts of the submarine like the radar
                            room, sonar
                            room, control room, and the weapons used during war are in display in this museum.</p>
                    </div>

                </div>
            </div>



            <div class="place6" id="belum_caves">
                <div class="image">
                    <h1 class="text">Belum Caves</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/belum_caves/belum_caves3.jpg" alt="belum_caves3"
                        class="image6" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/belum_caves/belum_caves1.jpg" alt="belum_caves1" />
                        <p>Even though the Belum Caves were known to the locals, the first records of Caves were
                            mentioned
                            in expedition report of Mr Robert Bruce Foote, in 1884. Thereafter, Belum Caves was
                            unnoticed
                            for almost a century thereafter till a German team headed by Mr Herbert Daniel Gebauer
                            conducted
                            detailed exploration of the caves in 1982 and 1983. </p>
                    </div>
                    <div class="content2">
                        <p class="text1">Belum Caves are geologically and historically important caves. There are
                            indications that Jains and Buddhists monks were occupying these caves centuries ago.
                            Many
                            Buddhists relics were found inside the caves. These relics are now housed in Museum at
                            Anantapur.Archaeological survey of India (ASI) also found remnants of vessels, etc. of
                            pre-Buddhist era and has dated the remnants of vessels found in the caves to 4500 BC.
                        </p>
                        <img draggable = "false" src="/Places/states_img/Andhra/belum_caves/belum_caves2.jpg" alt="belum_caves2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/belum_caves/belum_caves4.jpg" alt="belum_caves4" />
                        <p>The caves were used to dump wastes of nearby places till 1988. The local people of nearby
                            areas,
                            notably Retired Additional Superintendent of Police M. Narayana Reddy, residents of
                            Belum
                            Village like B. Chalapathi Reddy and others followed up Government of Andhra Pradesh to
                            develop
                            the caves as tourist attraction. Finally their almost two decade long efforts resulted
                            in when
                            Government of Andhra Pradesh declaring entire area to be protected zone.</p>
                    </div>

                </div>
            </div>



            <div class="place7" id="kailasagiri">
                <div class="image">
                    <h1 class="text">Kailasagiri</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/kailasagiri/kailasagiri3.jpg" alt="kailasagiri3"
                        class="image7" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/kailasagiri/kailasagiri1.jpg" alt="kailasagiri1" />
                        <p>One place in Visakhapatnam which is as famous as the sprawling beaches here is the
                            Kailasagiri
                            Park situated on a hilltop. Kailasagiri is one of the prime attractions and a popular
                            picnic
                            spot for all the tourists visiting the beautiful city of Vizag.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Spread over 100 acres on a hilltop, Kailasagiri offers a panoramic view of
                            the
                            surroundings that every nature lover craves for. A well-maintained park, Kailasagiri is
                            always
                            bustling with people enjoying the tranquil atmosphere and scenic beauty around.</p>
                        <img draggable = "false" src="/Places/states_img/Andhra/kailasagiri/kailasagiri2.jpg" alt="kailasagiri2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/kailasagiri/kailasagiri4.jpg" alt="kailasagiri4" />
                        <p>The major attraction of Kailasagiri is the 40 feet tall statue of Shiva and Parvathi.
                            Kailasagiri
                            derives its name from this statue depicting the abode of Lord Shiva and Parvathi. This
                            hilltop
                            can be reached by ropeway as well as by road.The experience of taking a ropeway while
                            enjoying
                            the breathtaking view of the city is something that everyone should cherish.</p>
                    </div>

                </div>
            </div>

            <div class="place8" id="ahobilam_temple">
                <div class="image">
                    <h1 class="text">Ahobilam Temple</h1>
                    <img draggable = "false" src="/Places/states_img/Andhra/ahobilam_temple/ahobilam_temple2.jpg" alt="ahobilam_temple2"
                        class="image8" />
                    <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Andhra/ahobilam_temple/ahobilam_temple1.jpg"
                            alt="ahobilam_temple1" />
                        <p>The temple consists of nine shrines to Lord Nrisimha located around a 5 KM circle. In
                            addition to
                            the nine shrines, there is a temple for Prahaladavarada Varadhan in the foothills of the
                            mountain. Due to security reasons and the difficulty in performing daily worship, many
                            of the
                            utsava vigrahas of the nine shrines are kept in this temple.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Garuda wished for a vision of Lord Nrisimha in the form of the Avathara. To
                            fulfill
                            his wish, the Lord settled in the hills around Ahobilam in the midst of dense forests in
                            nine
                            different forms. For this reason this hill came to be known as Garudadri, Garudachalam,
                            and
                            Garudasailam</p>
                        <img draggable = "false" src="/Places/states_img/Andhra/ahobilam_temple/ahobilam_temple3.jpg"
                            alt="ahobilam_temple3" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Andhra/ahobilam_temple/ahobilam_temple4.jpg"
                            alt="ahobilam_temple4" />
                        <p>Sri Ahobila Muth, one of the most important Sri Vaishnava religious institutions in
                            India, was
                            established by Sri Athivan Satakopan at the instructions of Lord Lakshmi Nrisimha of
                            Ahobilam.
                            In fact, the utsava moorthy of the Malola Nrisimha temple, one of the nine shrines of
                            Ahobilam,
                            is the presiding deity of Sri Ahobila Mutham. Sri Malolan accompanies Srimad Azhagiya
                            Singar,
                            the spiritual and titular head of Sri Ahobila Mutham, on his travels.</p>
                    </div>

                </div>
            </div>

        </section>
        <%- include("../partials/footer") %>

            <script src="/Places/states.js"></script>
</body>

</html>