<%- include("../partials/head") %>
    <title>Arunachal Pradesh</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div class="place1" id="namdapha_national_park">
        <div class="image">
          <h1 class="text">Namdapha National Park</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/namdapha_national_park/namdapha_national_park4.jpg"
            alt="namdapha_national_park4"
            class="image1"
          />
          <img draggable = "false" src="../Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/namdapha_national_park/namdapha_national_park3.jpg"
              alt="namdapha_national_park3"
            />
            <p>
              Namdapha National Park is a 1,985 km2 (766 sq mi) large protected
              area in Arunachal Pradesh of Northeast India. With more than 1,000
              floral and about 1,400 faunal species, it is a biodiversity
              hotspot in the Eastern Himalayas. The national park harbours the
              northernmost lowland evergreen rainforests in the world at 27°N
              latitude.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Namdapha was originally declared a Wildlife Sanctuary in 1972,
              then a National Park in 1983 and became a Tiger Reserve under the
              Project Tiger scheme in the same year.Its name was combination of
              two Singpho words "nam" means water and "dapha" means origin
              (river which originates from Dapha Bum glaciers.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/namdapha_national_park/namdapha_national_park2.jpg"
              alt="namdapha_national_park2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/namdapha_national_park/namdapha_national_park1.jpg"
              alt="namdapha_national_park1"
            />
            <p>
              The land cover changes with increasing elevation from tropical
              evergreen forest to temperate broadleaf and mixed forest.
              Secondary forests cover 345.47 km2 (133.39 sq mi); seasonal snow
              occurs at above 2,700 m (8,900 ft) between December and
              March.Additionally, the park has extensive bamboo forests.
            </p>
          </div>
        </div>
      </div>

      <div class="place2" id="tawang">
        <div class="image">
          <h1 class="text">Tawang</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/tawang/tawang1.jpg"
            alt="tawang1"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/tawang/tawang2.jpg"
              alt="tawang2"
            />
            <p>
              The quaint hill station is also famous for its several Buddhist
              monasteries which see a massive influx of travellers throughout
              the year. From the mesmerizing ranges of Gudpi to ethereal Tawang
              valley and Madhuri Lake, the sightseeing spots in Tawang will
              spoil you for choices.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              One can’t leave this place without hiking the spectacular Gorichen
              Peak which offers surreal vistas of the town.Tawang is known for
              its picturesque landscapes, waterfalls and spiritual significance.
              Whether you want to soak in the charm of nature or explore the
              rich heritage of north-east, the town has something for everyone.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/tawang/tawang3.jpg"
              alt="tawang3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/tawang/tawang4.jpg"
              alt="tawang4"
            />
            <p>
              The place is an ideal vacation spot for those who wish to take a
              break and get away from the hustle and bustle of city life. Most
              of the peace seekers visit here to meditate at the Taktsang Gompa,
              a pilgrimage site surrounded by mountains and coniferous trees.
              March to September remains the most preferred time to explore this
              beautiful hill station.
            </p>
          </div>
        </div>
      </div>

      <div class="place3" id="sela_pass">
        <div class="image">
          <h1 class="text">Sela Pass</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/sela_pass/sela_pass2.jpg"
            alt="sela_pass2"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/sela_pass/sela_pass1.jpg"
              alt="sela_pass1"
            />
            <p>
              One of the most visited tourist places in Tawang, Sela Pass boasts
              of stunning natural beauty. Reckoned for its geographical
              importance, Sela Pass is located at a height of 4170 metres in the
              state of Arunachal Pradesh. The awe-inspiring landcapes will help
              you relax and unwind in the midst of marvellous surroundings.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Blessed with a blanket of snow throughout the year, Sela Pass
              offers some of the most magnificent views of the Himalayan range.
              Along with being a popular tourist attraction, the place is also
              known for being a prominent religious site for Buddhists.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/sela_pass/sela_pass3.jpg"
              alt="sela_pass3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/sela_pass/sela_pass4.jpg"
              alt="sela_pass4"
            />
            <p>
              One such spectacular and famous lakes in Arunachal Pradesh is Sela
              Lake, it is also called as a Paradise Lake because of its appeal
              and beauty. Getting to Sela Pass is just a mere 78 kilometres from
              Tawang town and it is a significant place for the Buddhists and an
              interesting attraction for the tourists in Arunachal Pradesh.
            </p>
          </div>
        </div>
      </div>

      <div class="place4" id="tezu">
        <div class="image">
          <h1 class="text">Tezu</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/tezu/tezu4.jpg"
            alt="tezu4"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/tezu/tezu3.jpg"
              alt="tezu3"
            />
            <p>
              The town’s bewitching scenic beauty sprinkled with gorgeous fruit
              orchards, pristine lakes and verdant forests, lends it’s an
              unmatched captivating charm which lures innumerable nature lovers,
              trekking buffs and wildlife enthusiasts from across the nation.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The little hill town is a famous Hindu pilgrimage spot too and is
              swarmed by uncountable devotees who travel here to absolve their
              sins and purify their souls by taking a dip in the holy waters of
              the sacred ‘Parashuram Kund’, one of the most famous tourist
              attractions of the town.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/tezu/tezu2.jpg"
              alt="tezu2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/tezu/tezu1.jpg"
              alt="tezu1"
            />
            <p>
              Tezu is a small little hill town located amidst the beautiful
              Mishmi Hills in Lohit district of Arunachal Pradesh. The tiny
              hamlet is simply a nature lover’s paradise, soaked in
              soul-soothing panoramas of picturesque lakes, mist-covered valleys
              and striking fruit orchards.
            </p>
          </div>
        </div>
      </div>

      <div class="place5" id="dirang">
        <div class="image">
          <h1 class="text">Dirang</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/dirang/dirang3.jpg"
            alt="dirang3"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/dirang/dirang1.jpg"
              alt="dirang1"
            />
            <p>
              The Dirang village is an overnight tourist stopover in the western
              part of Arunachal Pradesh. It is located halfway between Jorhat,
              in Assam, and Tawang and lies on the banks of the pristine River
              Kameng. The paradise enjoys pleasant weather as it is not at a
              very high altitude.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              A hamlet that encompasses the best of everything unique to this
              region, from landscape to culture to food, it offers an
              opportunity to get acquainted with all things of Arunachal
              Pradesh. One of the oldest monasteries here, the Khastung Gompa,
              is an uphill trek from the village.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/dirang/dirang2.jpg"
              alt="dirang2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/dirang/dirang4.jpg"
              alt="dirang4"
            />
            <p>
              The distance between Jorhat in Assam and Tawang in Arunachal
              Pradesh is more than 320 km and given the road condition in the
              area, the total travel time can be anywhere between 12 to 18
              hours. Dirang is ideally located almost halfway in between. As a
              result, it has come up as an overnight destination for tourists
              visiting Tawang. Dirang and Bomdila are both overnight
              destinations.
            </p>
          </div>
        </div>
      </div>

      <div class="place6" id="pasighat">
        <div class="image">
          <h1 class="text">Pasighat</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/pasighat/pasighat2.jpg"
            alt="pasighat2"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/pasighat/pasighat1.jpg"
              alt="pasighat1"
            />
            <p>
              The little hamlet’s virgin scenery and a tranquil setup, still
              unscathed from the hands of commercial tourism, truly makes it an
              idyllic destination to spend some peaceful holidays close to
              nature and away from deafening roars of today’s crowded city
              lives.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Perched at an elevation of 155 metres above sea level, the town is
              blessed with an enchanting scenic beauty of lush forests, majestic
              mountains, sparkling waterfalls and splendidly gorgeous hanging
              bridges.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/pasighat/pasighat3.jpg"
              alt="pasighat3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/pasighat/pasighat4.jpg"
              alt="pasighat4"
            />
            <p>
              The little hill town of Pasighat is also bound by an interesting
              history dating back to the colonial era; ‘Kekar Monying’ hill
              cliff and ‘Komsing’ village in the vicinity of this hill town are
              some of the famous tourist attractions that still speak intriguing
              tales of a ranging war once held between the native tribes and the
              British Army.
            </p>
          </div>
        </div>
      </div>

      <div class="place7" id="nuranang_falls">
        <div class="image">
          <h1 class="text">Nuranang Falls</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/nuranang_falls/nuranang_waterfalls1.webp"
            alt="nuranang_waterfalls1"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/nuranang_falls/nuranang_waterfalls2.jpg"
              alt="nuranang_waterfalls2"
            />
            <p>
              Often reckoned as one of the most fascinating waterfalls in India,
              Nuranang Falls is one of the hidden gems of Tawang. Originating in
              Sela Pass, Nuranang Falls is a serene place where you can behold a
              stunning landscape. Located at a height of 6000 ft above sea
              level, Nuranang Falls takes you in the middle of untouched forests
              as you the enjoy the wonder of nature.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Also known as Jung/Jang Falls or Bong Bong Falls, Nuranang Falls
              drops down from an altitude of 100 meters. It originates from
              northern slopes of the famous Sela Pass, furth Nuranang River
              forms the waterfalls and then it plunges into Tawang River.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/nuranang_falls/nuranang_waterfalls3.jpg"
              alt="nuranang_waterfalls3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/nuranang_falls/nuranang_waterfalls4.jpg"
              alt="nuranang_waterfalls4"
            />
            <p>
              It is located hardly 2 kilometers from Jang nearby the road that
              connects Tawang and Bomdila. And that's perhaps the reason why it
              is known as Jang waterfalls.There is a small hydel plant located
              near the base that generates electricity.Not only it's a
              spectacular attraction of Arunachal Pradesh, but also it is used
              to generate electricity for the local use.
            </p>
          </div>
        </div>
      </div>

      <div class="place8" id="sangti">
        <div class="image">
          <h1 class="text">Sangti</h1>
          <img draggable = "false"
            src="/Places/states_img/arunachal_pradesh/sangti/sangti4.jpg"
            alt="sangti4"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/sangti/sangti2.jpg"
              alt="sangti2"
            />
            <p>
              Sangti valley is not well known to the outside world. In fact,
              very minimal tourist infrastructure exists here. But, in my mind,
              this is the place to be if you are looking at holidaying in a
              heavenly hill station.These birds are referred to as tung tung ka
              uk by the people of Sangti Valley.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Surrounded by the towering ranges of Eastern Himalayas, blessed
              with pleasant weather round the year with maybe some light
              snowfall in the winter months, covered with fruit orchards (kiwi
              fruit, apple, apricot, orange), dotted with pristine forests and
              meandering fast hill rivers and home to a very interesting culture
              and tradition.
            </p>
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/sangti/sangti1.jpg"
              alt="sangti1"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/arunachal_pradesh/sangti/sangiti3.jpg"
              alt="sangiti3"
            />
            <p>
              Sangti valley is situated about 15 kilometres from Dirang, which
              is on the Bomdila - Tawang highway of Western Arunachal Pradesh in
              North East India. Sangti Valley is situated 7 km away from Dirang.
              The location of Sangti Valley is beyond description.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
