<%- include("../partials/head") %>
    <title>Assam</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="kamakhya_temple" class="place1">
        <div class="image">
          <h1 class="text">Kamakhya temple</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/kamakhya_temple/kamakhya_temple3.jpg"
            alt="kamakhya_temple3"
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/kamakhya_temple/kamakhya_temple1.jpg"
              alt="kamakhya_temple1"
            />
            <p>
              The Kamakhya Temple, which is situated high aloft a hill called
              Neelachal Parbat or Kamagiri in the city of Guwahati is one of its
              several religious landmarks, which speaks volumes about the rich
              historical treasure over which the state of Assam is seated. This
              sacred temple in the heart of the capital city of Assam holds more
              than it meets the eye of the onlooker.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              According to the legend, Sati the wife of Lord Shiva (one of the
              holy Trinities in Hindu mythology) took her life at a 'Yagna'
              ceremony that had been organized by her father Daksha, because she
              could not bear the insults hurled at her husband by her father.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/kamakhya_temple/kamakhya_temple2.jpg"
              alt="kamakhya_temple2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/kamakhya_temple/kamakhya_temple4.jpg"
              alt="kamakhya_temple4"
            />
            <p>
              In the midst of this struggle, Sati's corpse accidentally got cut
              into 51 parts by the disc in the hands of Lord Vishnu (also one of
              the Trinities in Hindu mythology), and her female genitalia or
              'Yoni' fell on the spot where the Kamakhya temple stands today,
              forming one of the many Shakti 'Peethas' embellishing the rest of
              her body parts.
            </p>
          </div>
        </div>
      </div>

      <div id="pobitora_wildlife_sanctuary" class="place2">
        <div class="image">
          <h1 class="text">Pobitora Wildlife Sanctuary</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/pobitora_wildlife_sanctuary/pobitora_wildlife_sanctuary4.jpg"
            alt="pobitora_wildlife_sanctuary4"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/pobitora_wildlife_sanctuary/pobitora_wildlife_sanctuary1.jpg"
              alt="pobitora_wildlife_sanctuary1"
            />
            <p>
              Pobitora Wildlife Sanctuary, situated in the flood plains of River
              Brahmaputra in the district of Morigaon and about 45 kms from
              Guwahati, the capital of Assam, India. Pobitora originally was a
              grazing reserve for cattle of erstwhile Nagaon district, came into
              limelight during the year 1961-62 for sighting of One Horned Rhino
              (Rhinoceros unicornis).
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              During that time a few rhinos strayed out of Lawkhowa and Orang
              Wild Life Sanctuaries and gradually became resident. Two such
              grazing reserves comprising 38.83 square kilometers was declared
              as reserve forests in 1971. In 1987, Pobitora was declared a
              wildlife sanctuary covering an area of 16 square kilometers.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/pobitora_wildlife_sanctuary/pobitora_wildlife_sanctuary3.jpg"
              alt="pobitora_wildlife_sanctuary3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/pobitora_wildlife_sanctuary/pobitora_wildlife_sanctuary2.jpg"
              alt="pobitora_wildlife_sanctuary2"
            />
            <p>
              These 90 plus rhinos are surviving on merely 16 square kilometre
              area of the park. Pobitora has exceeded its rhino-bearing capacity
              and is overpopulated. Thus Pobitora Wildlife Sanctuary harbors
              world's highest density of rhinoceros.In Pobitora wildlife
              sanctuary, there are now around 90 plus rhinos, a ten per cent
              increase over the last six years.
            </p>
          </div>
        </div>
      </div>

      <div id="umananda_temple" class="place3">
        <div class="image">
          <h1 class="text">Umananda Temple</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/umananda_temple/umananda_temple2.jpg"
            alt="umananda_temple3"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/umananda_temple/umananda_temple1.jpg"
              alt="umananda_temple1"
            />
            <p>
              The great Shiva temple situated on a hillock in the middle of the
              Brahmaputra River in Guwahati attracts devotees from all over the
              country, especially during the 'Shivaratri' festival. The hillock
              is accessible by country boats and is called Bhasmachal.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Umananda Temple is located on Peacock Island that lies on the
              mighty Brahmaputra River. This serene place of worship is named
              after and dedicated to Lord Shiva. The name 'Umananda' comes from
              the two Hindi words, namely 'Uma', which was another name for Lord
              Shiva’s wife and 'Ananda' which means happiness.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/umananda_temple/umananda_temple2.jpg"
              alt="umananda_temple2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/umananda_temple/umananda_temple4.jpg"
              alt="umananda_temple4"
            />
            <p>
              The temple is situated on the top of a hill called Bhasmakala or
              Bhasmakuta. The island was originally built in 1694 A.D. by King
              Gadadhar Singha. However, it was destroyed by an earthquake in
              1897 and later rebuilt by a wealthy local merchant.
            </p>
          </div>
        </div>
      </div>

      <div id="brahmaputra_river" class="place4">
        <div class="image">
          <h1 class="text">Brahmaputra River</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/brahmaputra_river/brahmaputra_river4.jpg"
            alt="brahmaputra_river4"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/brahmaputra_river/brahmaputra_river3.jpg"
              alt="brahmaputra_river3"
            />
            <p>
              The Brahmaputra River in Assam, India, characterized by high
              seasonal variability in flow, experienced a secular period of
              aggradation from 1971 to 1979. The suspended load budget indicates
              an overall aggradation of the 607‐km Assam reach of the
              Brahmaputra by about 16 cm during that period, with about 70% of
              the suspended sediment inflow into the reach being retained in the
              channel.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Expressed as a percentage of the change in storage for the
              different reaches, computed errors due to sampling variability in
              sediment discharge generally lie within about 5–15% and do not
              appear to be large enough to affect the conclusions drawn from the
              suspended load budget.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/brahmaputra_river/brahmaputra_river2.jpg"
              alt="brahmaputra_river2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/brahmaputra_river/brahmaputra_river1.jpg"
              alt="brahmaputra_river1"
            />
            <p>
              The current high rate of denudation of the Himalayas may be
              attributed mainly to the rapid uplift of the mountain system,
              recent earthquake activity, and high susceptibility of geologic
              formations to erosion by running water coupled with the
              effectiveness of the monsoon rainfall regime.
            </p>
          </div>
        </div>
      </div>

      <div id="purva_tirupati_sri_balaji_temple" class="place5">
        <div class="image">
          <h1 class="text">Purva Tirupati Sri Balaji Temple</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/Balaji_Temple/balaji_temple4.jpg"
            alt="balaji_temple4"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/Balaji_Temple/balaji_temple3.jpg"
              alt="balaji_temple3"
            />
            <p>
              Dedicated Lord Venkateswara, Purva Tirupati Sri Balaji Mandir was
              built in the year 1998. Sprawling over 2 acres, the temple is
              considered as the replica of the original Tirupati Balaji Temple.
              This white colored temple is built in the similar architectural
              style of the South Indian temples. The temple has a Rajagopuram
              (70 feet in height), a Maha Mandapam, an Ardha Mandapam, and the
              Sanctorum.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              There is a Ganesha Temple at the entrance of the complex. The main
              temple is the home of Lord Balaji. The deity inside the sanctum
              sanctorum is carved out of a single stone that weighs more than 4
              tonnes. Besides, there are also the temples of Goddess Padmavati
              and Garuda- the vahana of Lord Balaji inside the premises.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/Balaji_Temple/balaji_temple2.jpg"
              alt="balaji_temple2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/Balaji_Temple/balaji_temple1.jpg"
              alt="balaji_temple1"
            />
            <p>
              The magnificent temple dedicated to Lord Venkateshwara Balajee is
              a holy place in the town. The temple is constructed in a typical
              south India style in huge area in stunning white colour.There is a
              Lord Ganesh temple at the entrance. The other temples include Lord
              Balajee temple , Garuda temple & Goddess Padmavati temple. The
              deities of Lord Balajee & Padmavati Devi are very attractive.
            </p>
          </div>
        </div>
      </div>

      <div id="hoollongapar_gibbon_sanctuary" class="place6">
        <div class="image">
          <h1 class="text">Hoollongapar Gibbon Sanctuary</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/hoollongapar_gibbon_sanctuary/hoollongapar_gibbon_sanctuary4.jpg"
            alt="hoollongapar_gibbon_sanctuary4"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/hoollongapar_gibbon_sanctuary/hoollongapar_gibbon_sanctuary3.jpg"
              alt="hoollongapar_gibbon_sanctuary3"
            />
            <p>
              The Hoollongapar Gibbon Sanctuary renamed on 25 May 2004, formerly
              known as the Gibbon Wildlife Sanctuary or Hollongapar Reserve
              Forest, is an isolated protected area of evergreen forest located
              in Jorhat district of Assam, India. The sanctuary was officially
              established and renamed in 1997.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              In the early 1900s, artificial regeneration was used to a develop
              well-stocked forest, resulting in the site’s rich biodiversity.
              The Hoollongapar Gibbon Sanctuary contains India’s only gibbons –
              the hoolock gibbons, and Northeastern India’s only nocturnal
              primate – the Bengal slow loris.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/hoollongapar_gibbon_sanctuary/hoollongapar_gibbon_sanctuary2.jpg"
              alt="hoollongapar_gibbon_sanctuary2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/hoollongapar_gibbon_sanctuary/hoollongapar_gibbon_sanctuary1.jpg"
              alt="hoollongapar_gibbon_sanctuary1"
            />
            <p>
              On 30 July 1997, the sanctuary was constituted under the civil
              district of Jorhat and named it the “Gibbon Wildlife Sanctuary”
              after the only apes found in India. It is the only sanctuary in
              India named after a gibbon due to its distinction for containing
              the densest gibbon populations in Assam.
            </p>
          </div>
        </div>
      </div>

      <div id="Chitralekha_Udayan_Park" class="place7">
        <div class="image">
          <h1 class="text">Chitralekha Udayan Park</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/Chitralekha_Udayan_Park/Chitralekha_Udayan_Park4.jpg"
            alt="Chitralekha_Udayan_Park4"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/Chitralekha_Udayan_Park/Chitralekha_Udayan_Park3.jpg"
              alt="Chitralekha_Udayan_Park3"
            />
            <p>
              It is, undoubtedly, one of the most beautiful places in Tezpur.
              Established by a British Deputy Commissioner, Mr. Cole in 1906,
              the park has two massive ornamented stone pillars, and other
              sculptural remnants .It was recently renovated and revitalized in
              1996 under the stewardship of the then Deputy Commissioner, Mr.
              M.G.V.K.Bhanu, IAS.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              In the beautiful city of Tezpur, a picturesque park is located,
              called the Cole Park. The park was built in 1906 by a commissioner
              of Assam named Mr. Cole, and was later reconstructed by M.G.V.K
              Bhanu in 1996. The park has recently been renamed as Chitralekha
              Udayan Park, after the name of a famous person in the Aniruddha
              Usha love story.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/Chitralekha_Udayan_Park/Chitralekha_Udayan_Park2.jpg"
              alt="Chitralekha_Udayan_Park2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/Chitralekha_Udayan_Park/Chitralekha_Udayan_Park1.jpg"
              alt="Chitralekha_Udayan_Park1"
            />
            <p>
              Located amidst a number of misty hillocks and green terrains and
              blue lakes, this park is well known for its breathtaking scenic
              beauty. Inside the park there is a serene lake, in which boating
              can be done. The park remains open from 9 am to 7 pm. It has open
              spaces, open air stage and restaurants for the entertainment of
              the visitors.
            </p>
          </div>
        </div>
      </div>

      <div id="kalia_bhomora_bridge" class="place8">
        <div class="image">
          <h1 class="text">Kalia Bhomora Bridge</h1>
          <img draggable = "false"
            src="/Places/states_img/Assam/kalia_bhomora_bridge/kalia_bhomora_bridge4.jpg"
            alt="kalia_bhomora_bridge4"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Assam/kalia_bhomora_bridge/kalia_bhomora_bridge3.jpg"
              alt="kalia_bhomora_bridge3"
            />
            <p>
              Originally built in 1987 to connect Nagaon and Sonitpur Districts
              on the North and South Banks, Kolia Bhomora Setu with a length of
              3 kilometers is surrounded by the Brahmaputra on both the sides.
              The bridge got its name from the Ahom General, Kalia Bhomora
              Phukan.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Smooth, and broad, it is one of the best places to go for a drive.
              Along with tourism, the bridge plays an important role in the
              development of Northeast India states - it cuts off the seven
              sister states of the North-East from the rest of the country.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Assam/kalia_bhomora_bridge/kalia_bhomora_bridge2.jpg"
              alt="kalia_bhomora_bridge2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Assam/kalia_bhomora_bridge/kalia_bhomora_bridge1.jpg"
              alt="kalia_bhomora_bridge1"
            />
            <p>
              First thing first, any trip to Tezpur is incomplete without a
              drive to the iconic Kolia Bhomora Setu. To make the visit little
              more charismatic, try to drive during the dawn or dusk to see the
              beautiful view of sunrise, and sunset respectively.A boat ride
              under the Kolia Bhomora Setu can be a good idea too so as to feel
              the environs.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
