<%- include("../partials/head") %>
    <title>Bihar</title>
    <link rel="stylesheet" href="/Places/states.css">
    </head>

    <body>
        <%- include("../partials/header") %>
            <p id="placeNone">
                <%= place %>
            </p>
            <section class="main_body">
                <div id="nalanda_university" class="place1">
                    <div class="image">
                        <h1 class="text">Nalanda University</h1>
                        <img draggable = "false" src="/Places/states_img/bihar/Nalanda_university/Nalanda4.jpg" alt="Nalanda4"
                            class="image1">
                        <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                    </div>
                    <div class="color">
                        <div class="content1">
                            <img draggable = "false" src="/Places/states_img/bihar/Nalanda_university/Nalanda1.jpg" alt="Nalanda1" />

                            <p> On 28 March 2006 the 11th President of India A. P. J. Abdul Kalam proposed the idea
                                while
                                addressing the Joint Session of the Bihar Vidhan Mandal for revival of Nalanda
                                university. The
                                Nalanda University Bill, 2010 was passed on 21 August 2010 in Rajya Sabha and 26 August
                                2010 in
                                Lok Sabha. The bill received Presidential assent on 21 September 2010 thereby becoming
                                an Act.
                            </p>
                        </div>
                        <div class="content2">
                            <p class="text1">Despite the international dimension of the project being repeatedly
                                stressed, the
                                total amount received from the participating countries in the East Asia summit,
                                including
                                Australia, China, Thailand, Laos and Indonesia, is ₹124.5 million (US$1.7 million).
                                However, out
                                of this total, $1 million promised by the Chinese is earmarked for a Chinese style
                                building on
                                the campus. </p>
                            <img draggable = "false" src="/Places/states_img/bihar/Nalanda_university/Nalanda2.jpg" alt="Nalanda2" />
                        </div>

                        <div class="content3">
                            <img draggable = "false" src="/Places/states_img/bihar/Nalanda_university/Nalanda3.jpg" alt="Nalanda3" />

                            <p>Surpassing the foreign government contributions, former Chancellor George Yeo's
                                initiative to
                                raise funds from private Singaporeans has led to a pledge of 10 million Singaporean
                                dollars (₹
                                488.9 million) for the library building. Japan promised to finance the construction but
                                has not
                                paid anything. Singapore may not pay for the library, now that Yeo has resigned.</p>
                        </div>
                    </div>
                </div>




                <div id="buxar_fort" class="place2">
                    <div class="image">
                        <h1 class="text">Buxar Fort</h1>
                        <img draggable = "false" src="/Places/states_img/Mahabalipuram/mahabalipuram2.jpg" alt="mahabalipuram2"
                            class="image2" />


                        <div id="buxar_fort" class="place2">
                            <div class="image">
                                <h1 class="text">Buxar Fort</h1>
                                <img draggable = "false" src="/Places/states_img/bihar/Buxar_fort/Buxa_Fort3.jpg" alt="Buxa_Fort3"
                                    class="image2" />

                                <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                            </div>
                            <div class="color">
                                <div class="content1">

                                    <img draggable = "false" src="/Places/states_img/Mahabalipuram/Mahabalipuram1.jpg"
                                        alt="Mahabalipuram1" />

                                    <img draggable = "false" src="/Places/states_img/bihar/Buxar_fort/Buxa_Fort1.jpg" alt="Buxa_Fort1" />

                                    <p>This town has been known since the epic period for being the seats of eminent
                                        saints,
                                        battlefield of gods and demons, according to the Puranas, and a combat zone
                                        between
                                        foreign invasion and countrymen in modern Indian history. The discoveries from
                                        excavations have established a link between Buxar and the civilisations of
                                        Mohenjodaro
                                        and Harappa. </p>
                                </div>
                                <div class="content2">
                                    <p class="text1">The tiger face of Rishi Vedshira, an outcome of the curse of the
                                        sage Rishi
                                        Durvasha, was restored after bathing in a holy tank which was later named
                                        VyaghraSar.
                                        The tiger face of Rishi Vedshira, an outcome of the curse of the sage Rishi
                                        Durvasha,
                                        was restored after bathing in a holy tank which was later named VyaghraSar. </p>

                                    <img draggable = "false" src="/Places/states_img/Mahabalipuram/Mahabalipuram1.jpg"
                                        alt="Mahabalipuram1" />
                                </div>
                                <div class="content3">
                                    <img draggable = "false" src="/Places/states_img/Mahabalipuram/mahabalipuram3.jpg"
                                        alt="mahabalipuram3" />

                                    <img draggable = "false" src="/Places/states_img/bihar/Buxar_fort/Buxa_Fort2.jpg" alt="Buxa_Fort2" />
                                </div>
                                <div class="content3">
                                    <img draggable = "false" src="/Places/states_img/bihar/Buxar_fort/Buxa_Fort4.jpg" alt="Buxa_Fort4" />

                                    <p>According to mythology, sage Vishwamitra, the family guru of Lord Rama and eighty
                                        thousand saints, had their sacred ashram at the banks of holy river Ganges that
                                        reside
                                        inside the modern District Buxar. He was disturbed in the yagna (sacrificial
                                        offering)
                                        by the demons.</p>
                                </div>
                            </div>
                        </div>




                        <div id="navlakha_palace" class="place3">
                            <div class="image">
                                <h1 class="text">Navlakha Palace</h1>
                                <img draggable = "false" src="/Places/states_img/Marina_beach/Marina1.jpg" alt="Marina1" class="image3" />

                                <div id="navlakha_palace" class="place3">
                                    <div class="image">
                                        <h1 class="text">Navlakha Palace</h1>
                                        <img draggable = "false" src="/Places/states_img/bihar/Navlekha_palace/Navlekhapalace4.jpg"
                                            alt="Navlekhapalace4" class="image3" />

                                        <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                                    </div>
                                    <div class="color">
                                        <div class="content1">

                                            <img draggable = "false" src="/Places/states_img/Marina_beach/marina3.jpg" alt="marina3" />

                                            <img draggable = "false" src="/Places/states_img/bihar/Navlekha_palace/Navlekhapalace1.jpg"
                                                alt="Navlekhapalace1" />

                                            <p> Navlakha Palace has a central tower which is seven storeys. Originally,
                                                it had a
                                                Durga Bhawan towards the north end of the complex. The bhawan has a
                                                glittering
                                                pond in the front and a pearly white marble temple dedicated to Goddess
                                                Kali to
                                                its north.</p>
                                        </div>
                                        <div class="content2">
                                            <p class="text1">Situated in Rajnagar on the eastern bank of River Kamla,
                                                near
                                                Madhubani district of Bihar, Navlakha Palace, also known as Rajnagar
                                                Palace, is
                                                an ancient royal palace which is a popular heritage building in the
                                                region.Built
                                                by Maharaja Rameshwar Singh, the palace formerly boasted of well paved
                                                gardens,
                                                tinkering ponds, temple complexes and the like.</p>

                                            <img draggable = "false" src="/Places/states_img/Marina_beach/marina2.jpg" alt="marina2" />
                                        </div>
                                        <div class="content3">
                                            <img draggable = "false" src="/Places/states_img/Marina_beach/marina4.jpg" alt="marina4" />

                                            <img draggable = "false" src="/Places/states_img/bihar/Navlekha_palace/Navlekhapalace2.jpg"
                                                alt="Navlekhapalace2" />
                                        </div>
                                        <div class="content3">
                                            <img draggable = "false" src="/Places/states_img/bihar/Navlekha_palace/Navlekhapalace3.jpg"
                                                alt="Navlekhapalace3" />

                                            <p>The Durga Bhawan is still in function while the other structures have
                                                been
                                                dismantled. It is also made in ivory marble and resemble the Taj Mahal.
                                                The
                                                portico has four arches resting on cement elephants.There is a
                                                functioning
                                                family room in the building called the Gausani Ghar which houses the
                                                family
                                                deity. </p>
                                        </div>
                                    </div>
                                </div>



                                <div id="bodhi_tree" class="place4">
                                    <div class="image">
                                        <h1 class="text">Bodhi tree</h1>

                                        <img draggable = "false" src="/Places/states_img/Thiruvalluvar/thiruvalluvar3.jpg"
                                            alt="thiruvalluvar3" class="image4" />

                                        <img draggable = "false" src="/Places/states_img/bihar/Bhodi_tree/Bodhitree2.jpg" alt="Bodhitree2"
                                            class="image4" />

                                        <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                                    </div>
                                    <div class="color">
                                        <div class="content1">

                                            <img draggable = "false" src="/Places/states_img/Thiruvalluvar/thiruvalluvar1.jpg"
                                                alt="thiruvalluvar1" />

                                            <img draggable = "false" src="/Places/states_img/bihar/Bhodi_tree/Bodhitree1.jpg"
                                                alt="Bodhitree1" />

                                            <p>The Bodhi tree, a central symbol in Buddhism, is the tree under which the
                                                Buddha
                                                found enlightenment. Descendants of that fig tree still stand in that
                                                place,
                                                though there are now Bodhi trees around the world.About 2,500 years ago,
                                                a
                                                Nepalese prince named Siddartha was born to the royal family. He lived
                                                in
                                                extreme privilege but gave it all up for a spiritual life.</p>
                                        </div>
                                        <div class="content2">
                                            <p class="text1">For six years he dedicated himself to meditation, a
                                                practice of
                                                training the mind to free itself from the worries of everyday life. At
                                                times he
                                                nearly succumbed to starvation. Yet, he did not find peace. At 29, he
                                                set out
                                                into the woods to find enlightenment.</p>

                                            <img draggable = "false" src="/Places/states_img/Thiruvalluvar/thiruvalluvar2.JPG"
                                                alt="thiruvalluvar2" />
                                        </div>
                                        <div class="content3">
                                            <img draggable = "false" src="/Places/states_img/Thiruvalluvar/thiruvalluvar4.jpg"
                                                alt="bigtemple3" />

                                            <img draggable = "false" src="/Places/states_img/bihar/Bhodi_tree/Bodhitree3.jpg"
                                                alt="Bodhitree3" />
                                        </div>
                                        <div class="content3">
                                            <img draggable = "false" src="/Places/states_img/bihar/Bhodi_tree/Bodhitree4.jpg"
                                                alt="Bodhitree4" />

                                            <p>The fig tree that sheltered The Buddha took on great significance as the
                                                Buddhist
                                                religion developed. Just as Siddartha became the Buddha, the tree became
                                                the
                                                Bodhi tree, or tree of enlightenment.Each Bodhi tree represents the
                                                journey to
                                                enlightenment that Buddhists seek and the tree is often replicated in
                                                imagery.
                                            </p>
                                        </div>
                                    </div>
                                </div>




                                <div id="jalmandir_temple" class="place5">
                                    <div class="image">
                                        <h1 class="text">Jalmandir Temple</h1>
                                        <img draggable = "false" src="/Places/states_img/Dhanushkodi/dhanushkodi3.jpg" alt="dhanushkodi3"
                                            class="image5" />

                                        <div id="jalmandir_temple" class="place5">
                                            <div class="image">
                                                <h1 class="text">Jalmandir Temple</h1>
                                                <img draggable = "false" src="/Places/states_img/bihar/Jalmandir_temple/Jalmandirtemple1.jpg"
                                                    alt="Jalmandirtemple1" class="image5" />

                                                <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                                            </div>
                                            <div class="color">
                                                <div class="content1">

                                                    <img draggable = "false" src="/Places/states_img/Dhanushkodi/dhanushkodi1.jpg"
                                                        alt="dhanushkodi1" />

                                                    <img draggable = "false" src="/Places/states_img/bihar/Jalmandir_temple/Jalmandirtemple2.jpg"
                                                        alt="Jalmandirtemple2" />

                                                    <p>This world famous temple is, made of white marble, within a very
                                                        large
                                                        pond. Here in the evening when the light shines, it adds to the
                                                        beauty
                                                        of the Mandir multiple times. It is said that after the
                                                        beatification of
                                                        Lord Mahavir, he was cremated in the same venue. </p>
                                                </div>
                                                <div class="content2">
                                                    <p class="text1">The Jal Mandir or Water Temple is situated in
                                                        Pawapuri
                                                        (also known as Apapuri which means a town without sins), in the
                                                        Indian
                                                        state of Bihar. It is a major pilgrimage destination of Jains
                                                        and the
                                                        temple is dedicated to Lord Mahavira, the 24th Tirthankara
                                                        (religious
                                                        preacher of Jainism), which marks the place of his cremation.
                                                    </p>

                                                    <img draggable = "false" src="/Places/states_img/Dhanushkodi/dhanushkodi4.jpg"
                                                        alt="dhanushkodi4" />
                                                </div>
                                                <div class="content3">
                                                    <img draggable = "false" src="/Places/states_img/Dhanushkodi/dhanushkodi2.jpg"
                                                        alt="dhanushkodi2" />

                                                    <img draggable = "false" src="/Places/states_img/bihar/Jalmandir_temple/Jalmandirtemple3.jpg"
                                                        alt="Jalmandirtemple3" />
                                                </div>
                                                <div class="content3">
                                                    <img draggable = "false" src="/Places/states_img/bihar/Jalmandir_temple/Jalmandirtemple4.jpg"
                                                        alt="Jalmandirtemple4" />

                                                    <p>Mahavira attained Nirvana (salvation) in Pawapuri in 527 BC. The
                                                        temple
                                                        was originally built by King Nandivardhan, elder brother of
                                                        Mahavira,
                                                        within the pond which is filled with red coloured lotus flowers.
                                                        It is
                                                        one of the five main temples in Pawpuri, where the "Charan
                                                        Paduka" or
                                                        foot impression of Mahavira is deified.</p>
                                                </div>
                                            </div>
                                        </div>




                                        <div id="muchalinda_lake" class="place6">
                                            <div class="image">
                                                <h1 class="text">muchalinda lake</h1>
                                                <img draggable = "false" src="../Trekidoo_290_reference//Places/states_img/Meenakshi_amman/amman3.jpg"
                                                    alt="amman3" class="image6" />

                                                <div id="muchalinda_lake" class="place6">
                                                    <div class="image">
                                                        <h1 class="text">muchalinda lake</h1>
                                                        <img draggable = "false" src="/Places/states_img/bihar/Muchalinda_lake/muchalinda_lake3.jpg"
                                                            alt="muchalinda_lake3" class="image6" />

                                                        <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                                                    </div>
                                                    <div class="color">
                                                        <div class="content1">

                                                            <img draggable = "false" src="/Places/states_img/Meenakshi_amman/amman4.jpg"
                                                                alt="amman4" />

                                                            <img draggable = "false" src="/Places/states_img/bihar/Muchalinda_lake/muchalinda_lake4.jpg"
                                                                alt="muchalinda_lake4" />

                                                            <p>Fishes are turning up dead in Muchalinda lake in Bihar's
                                                                Gaya
                                                                district due to soaring temperatures.The lake is located
                                                                3 km
                                                                south of Mahabodhi Temple and lies close to the Mucharim
                                                                village
                                                                in Gaya District of Bihar."Due to excessive hot weather
                                                                fishes
                                                                of the lake are dying.</p>
                                                        </div>
                                                        <div class="content2">
                                                            <p class="text1">The workers of the temple clean the lake
                                                                and bury
                                                                deep the dead fishes so that it do not pollute the
                                                                atmosphere.
                                                                To maintain the sacredness of the Bodhgaya Temple we
                                                                bury the
                                                                fishes," said Surya Pratap Singh, priest, Mahabodhi
                                                                temple,
                                                                Gaya.</p>

                                                            <img draggable = "false" src="/Places/states_img/Meenakshi_amman/amman2.jpg"
                                                                alt="amman2" />
                                                        </div>
                                                        <div class="content3">
                                                            <img draggable = "false" src="/Places/states_img/Meenakshi_amman/amman1.jpg"
                                                                alt="amman1" />

                                                            <img draggable = "false" src="/Places/states_img/bihar/Muchalinda_lake/Muchalindalake1.jpg"
                                                                alt="Muchalindalake1" />
                                                        </div>
                                                        <div class="content3">
                                                            <img draggable = "false" src="/Places/states_img/bihar/Muchalinda_lake/Muchalindalake2.jpg"
                                                                alt="Muchalindalake2" />

                                                            <p>The lake fish are considered sacred and dead ones are
                                                                buried in
                                                                ground."We collect ten to twenty dead fishes and bury
                                                                them.
                                                                Nobody eats dead fishes," said Ramchandra Kumar,
                                                                caretaker,
                                                                Muchalinda Lake.People who visit this holy lake feed the
                                                                fish
                                                                and consider that feeding them will fulfil their wishes.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div id="patna_museum" class="place7">
                                                    <div class="image">
                                                        <h1 class="text">Patna Museum</h1>

                                                        <img draggable = "false" src="/Places/states_img/Poompuhar/poompuhar1.JPG"
                                                            alt="poompuhar1" class="image7" />

                                                        <img draggable = "false" src="/Places/states_img/bihar/Patna_Museum/PatnaMuseum4.jpg"
                                                            alt="PatnaMuseum4" class="image7" />

                                                        <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                                                    </div>
                                                    <div class="color">
                                                        <div class="content1">

                                                            <img draggable = "false" src="/Places/states_img/Poompuhar/poompuhar2.jpg"
                                                                alt="poompuhar2" />

                                                            <img draggable = "false" src="/Places/states_img/bihar/Patna_Museum/PatnaMuseum3.jpg"
                                                                alt="PatnaMuseum3" />

                                                            <p>atna Museum is the state museum of the Indian state of
                                                                Bihar.
                                                                Started on 3 April 1917 during the British Raj to house
                                                                the
                                                                historical artefacts found in the vicinity of Patna, it
                                                                is in
                                                                the style of Mughal and Rajput architecture and is known
                                                                locally
                                                                as the Jadu Ghar. Most of the early collections have now
                                                                been
                                                                transferred to Bihar Museum.</p>
                                                        </div>
                                                        <div class="content2">
                                                            <p class="text1">The museum was constructed by the British
                                                                to
                                                                conserve and display the historical artifacts found in
                                                                the
                                                                vicinity of the state capital. The concept of having a
                                                                museum
                                                                arose in 1912, after Bihar and Bengal were separated.
                                                                Patna
                                                                Museum started functioning in 1915 from the
                                                                commissioner's
                                                                bungalow, on the campus of A. N. Sinha Institute.</p>

                                                            <img draggable = "false" src="/Places/states_img/Poompuhar/poompuhar3.jpg"
                                                                alt="poompuhar3" />
                                                        </div>
                                                        <div class="content3">
                                                            <img draggable = "false" src="/Places/states_img/Poompuhar/poompuhar4.jpg"
                                                                alt="poompuhar4" />

                                                            <img draggable = "false" src="/Places/states_img/bihar/Patna_Museum/PatnaMuseum2.jpg"
                                                                alt="PatnaMuseum2" />
                                                        </div>
                                                        <div class="content3">
                                                            <img draggable = "false" src="/Places/states_img/bihar/Patna_Museum/PatnaMuseum1.jpg"
                                                                alt="PatnaMuseum1" />

                                                            <p>The artifacts were then shifted to new rooms at the Patna
                                                                High
                                                                Court building before being taken to the present
                                                                building in
                                                                1929. The land that was selected for the museum, in
                                                                1925, was on
                                                                Patna-Gaya road (now Budh Marg). The two-storeyed
                                                                building,
                                                                designed by Rai Bahadur Bishnu Swarup, was completed in
                                                                1928.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div id="Tsang" class="place8">
                                                    <div class="image8">
                                                        <h1 class="text">Tsang</h1>

                                                        <img draggable = "false" src="/Places/states_img/Ooty/ooty1.jpg" alt="ooty1"
                                                            class="image8" />

                                                        <img draggable = "false" src="/Places/states_img/bihar/Tsang/tsang1.jpg"
                                                            alt="tsang1" class="image8" />

                                                        <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
                                                    </div>

                                                    <div class="color">
                                                        <div class="content1">

                                                            <img draggable = "false" src="/Places/states_img/Ooty/ooty2.jpg" alt="ooty2" />

                                                            <img draggable = "false" src="/Places/states_img/bihar/Tsang/Tsang2.jpg"
                                                                alt="Tsang2" />

                                                            <p>Among the most attractive tourist stopovers in Nalanda,
                                                                the Hiuen
                                                                Tsang Memorial Hall was built in the memory of Hiuen
                                                                Tsang, a
                                                                popular Chinese traveller who had come to study Buddhism
                                                                and
                                                                mysticism at the Nalanda University in 633 AD, and
                                                                stayed here
                                                                for 12 years.</p>
                                                        </div>
                                                        <div class="content2">
                                                            <p class="text1"> Tsang travelled around the country and
                                                                also
                                                                visited Takshila for further studies on Buddhism. The
                                                                place
                                                                where he used to learn yoga from his teacher Acharya
                                                                Shil
                                                                Bhadra, is now known as the memorial hall. The
                                                                construction of
                                                                the hall was started in January 1957 by Pt Jawaharlal
                                                                Nehru and
                                                                got completed in 1984.</p>

                                                            <img draggable = "false" src="/Places/states_img/Ooty/ooty3.jpg" alt="ooty3" />
                                                        </div>
                                                        <div class="content3">
                                                            <img draggable = "false" src="/Places/states_img/Ooty/ooty4.jpg" alt="ooty4" />

                                                            <img draggable = "false" src="/Places/states_img/bihar/Tsang/tsang3.jpg"
                                                                alt="tsang3" />
                                                        </div>
                                                        <div class="content3">
                                                            <img draggable = "false" src="/Places/states_img/bihar/Tsang/tsang4.jpg"
                                                                alt="tsang4" />

                                                            <p>The construction of the Hiuen Tsang Memorial Hall was
                                                                started in
                                                                1957 by Pt Jawahar Lal Nehru and was completed in 1984.
                                                                The
                                                                memorial was built in the memory of Hiuen Tsang, a
                                                                popular
                                                                Chinese traveler who had come to study Buddhism and
                                                                mysticism at
                                                                the Nalanda University in 633 AD and stayed here for 12
                                                                years.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
            </section>
            <%- include("../partials/footer") %>

                <script src="/Places/states.js"></script>
    </body>

    </html>