<%- include("../partials/head") %>
    <title>Chhattisgarh</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="ghatarani" class="place1">
        <div class="image">
          <h1 class="text">Ghatarani Waterfall</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Ghatarni_waterfall/GhataraniWaterfall4.jpg"
            alt="GhataraniWaterfall4"
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Ghatarni_waterfall/GhataraniWaterfall3.jpg"
              alt="GhataraniWaterfall3"
            />
            <p>
              It is a big waterfall located 25km from Jatmai Temple. In Gatarani
              Temple Navratri festival is celebrated with much enthusiasm and
              devotion. Here we sees a decoration especially on festive
              occasions like Navratri.After the monsoon it is the best time for
              visit.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Beautiful waterfall flows near the temple, which makes this place
              more attractive The waterfall in full flow to make the destination
              as a favorite picnic spot for the whole family.Waterfall is the
              best place to take a dip before entering the temple.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Ghatarni_waterfall/Ghataraniwaterfall2.jpg"
              alt="Ghataraniwaterfall2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Ghatarni_waterfall/Ghatarani_waterfall1.webp"
              alt="Ghatarani_waterfall1"
            />
            <p>
              We visited this spot in Oct 2015 forgot to post the experience so
              sharing it now. It is a nice spot for nature lovers & bikers like
              us who needs the divine serenity of the nature & calmness of the
              villages and wants to breathe in the fresh air. Our bike trip from
              Bhilai, C.G. was almost 280km to & fro.
            </p>
          </div>
        </div>
      </div>

      <div id="chitrakote_waterfalls" class="place2">
        <div class="image">
          <h1 class="text">Chitrakote Waterfalls</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Chitrakote_Waterfall/ChitrakoteWaterfall1.jpg"
            alt="ChitrakoteWaterfall1"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Chitrakote_Waterfall/Chitrakotewaterfall2.jpg"
              alt="Chitrakotewaterfall2"
            />
            <p>
              Chitrakot Waterfall is a beautiful waterfall situated on the river
              Indravati in Bastar district of Chhattisgarh state of India. The
              height of this waterfall is 90 feet. The specialty of this
              waterfall is that during the rainy days, this water is reddish, it
              looks absolutely white during the summer moonlight night.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The waterfall is located at a distance of 40 km from Jagdalpur and
              273 km from Raipur . Chitrakote waterfall is Chhattisgarh’s
              largest and most water-logged waterfall. It is considered as the
              main waterfall of Bastar division.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Chitrakote_Waterfall/ChitrakoteWaterfall3.jpg"
              alt="ChitrakoteWaterfall3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Chitrakote_Waterfall/ChitrakoteWaterfall4.JPG"
              alt="ChitrakoteWaterfall4"
            />
            <p>
              Due to being adjacent to Jagdalpur, it has also gained fame as a
              major picnic spot. Due to the similar shape of horse feet , this
              fall is also called Niagara of India. Chitrakoot waterfall is very
              beautiful and the tourists like it very much.
            </p>
          </div>
        </div>
      </div>

      <div id="achanakmar" class="place3">
        <div class="image">
          <h1 class="text">Achanakmar Wildlife Sanctuary</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Achanakmar_wildlife_sanctuary/Achanakmar_wildlife_sanctuary4.jpg"
            alt="Achanakmar_wildlife_sanctuary4"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Achanakmar_wildlife_sanctuary/Achanakmar_wildlife_sanctuary3.JPG"
              alt="Achanakmar_wildlife_sanctuary3"
            />
            <p>
              We reached Achanakmar wildlife sanctuary located in the North
              Chhattisgarh late at night. Though we could see the tall trees all
              around us, there was not much that we could make out. We crossed
              several barriers or entry points into various ranges in the
              forest, but we stopped only at the Amadob resort where we were
              staying.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Before calling it a day I had a small conversation with the
              manager of the resort. He told me about the important spots in and
              around the Achanakmar wildlife sanctuary. Which is also a Tiger
              Reserve as part of Project Tiger.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Achanakmar_wildlife_sanctuary/Achanakmar_wildlife_sanctuary2.jpg"
              alt="Achanakmar_wildlife_sanctuary2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Achanakmar_wildlife_sanctuary/Achanakmar_wildlife_sanctuary.jpg"
              alt="Achanakmar_wildlife_sanctuary"
            />
            <p>
              Leaves were dotted with small pale yellow flowers of Mahua, lying
              face down on the dried leaves. We were told that this is the
              season of Mahua and all the locals collect these flowers through
              the day during this season.The Sal trees had bright green leaves
              coming out.
            </p>
          </div>
        </div>
      </div>

      <div id="ibrahim_rauza_tomb" class="place4">
        <div class="image">
          <h1 class="text">Ibrahim Rauza Tomb</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Ibrahim_rauza_tomb/Ibrahimrauzatomb3.jpg"
            alt="Ibrahimrauzatomb3"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="https://i.pinimg.com/originals/37/13/0a/37130a398a64c2ca85506d797f178813.jpg"
              alt="Ibrahimrauzatomb4"
            />
            <p>
              Believed to have been inspired by the architectural beauty of the
              Taj Mahal, Ibrahim Rauza houses the tomb of Ibrahim Adil Shah II
              and his wife, Taj Sultana. The word 'rauza' means tomb. It took
              around 47 years to complete the monument that comprises the tomb
              at the eastern end and a mosque at the western end.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              These two beautiful buildings stand on a podium and have a
              fountain and an imposing tank between them. A lush green garden
              surrounds the buildings and adds to their overall charm. The
              architecture of these buildings is inspired from Turkish and
              Persian designs.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Ibrahim_rauza_tomb/Ibrahimrauzatomb2.jpg"
              alt="Ibrahimrauzatomb2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="https://media-cdn.tripadvisor.com/media/photo-c/2560x500/11/30/d8/fa/bijapur.jpg"
              alt="Ibrahimrauzatomb1"
            />
            <p>
              It is said that the monument would have been at par with the Taj
              Mahal of Agra had it been built in white marble.Both are in same
              place located next to each other. Only change in story is King
              died before Queen then it become family Tomb for Adi Adil Shah 2
              Big wall, Inside design is so different, its Persian based.
            </p>
          </div>
        </div>
      </div>

      <div id="purkhouti_muktangan" class="place5">
        <div class="image">
          <h1 class="text">Purkhouti Muktangan</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Purkhouti_Muktangan/PurkhoutiMuktangan2.jpg"
            alt="PurkhoutiMuktangan2"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Purkhouti_Muktangan/PurkhoutiMuktangan.jpg"
              alt="PurkhoutiMuktangan"
            />
            <p>
              Inaugurated by the Hon’ble A.P.J Abdul Kalam the former President
              of India, on Nov 2006, this blissful garden gives a glimpse of
              Chhattisgarh’s rich culture. Life-like figures of tribals
              performing, different folk-art provide a wonderful, perspective on
              the vibrant treasures of Chhattisgarh.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Inaugurated by the honorable A.P.J. Abdul Kalam in the year 2006,
              this place is a visitor’s delight reflecting the rich culture of
              Chhattisgarh. With its fantastic folk art, vibrant sceneries and
              lifelike tribal figures this place have a unique appeal which is
              difficult to resist.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Purkhouti_Muktangan/PurkhoutiMuktangan3.jpg"
              alt="PurkhoutiMuktangan3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Purkhouti_Muktangan/PurkhoutiMuktangan4.jpg"
              alt="PurkhoutiMuktangan4"
            />
            <p>
              Inaugurated by the honorable A.P.J. Abdul Kalam in the year 2006,
              this place is a visitor’s delight reflecting the rich culture of
              Chhattisgarh. With its fantastic folk art, vibrant sceneries and
              lifelike tribal figures this place have a unique appeal which is
              difficult to resist.
            </p>
          </div>
        </div>
      </div>

      <div id="jatmai_temple" class="place6">
        <div class="image">
          <h1 class="text">Jatmai Temple</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Jatmai_Temple/Jatmai_Temple2.jpg"
            alt="Jatmai_Temple2"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Jatmai_Temple/Jatmai_Temple.jpg"
              alt="Jatmai_Temple"
            />
            <p>
              Located in Gariaband, 85 km from Raipur. “Jatmayi Temple” is
              dedicated to the “Mata Jatmayi” located between the beautiful
              sights of a small forest. Temple is beautifully carved out of
              granite with a huge tower and many small peak/ towers.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Set amidst a breathtaking lush green forest and beautified by the
              gushing Ghatarani waterfall, Jatmai Temple is one of the ancient
              places of worship in Raipur. The magnificently built temple is
              dedicated to Mata Jatmai and is delicately carved out of granite.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Jatmai_Temple/Jatmai_Temple3.jpg"
              alt="Jatmai_Temple3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Jatmai_Temple/Jatmai_Temple.jpg"
              alt="Jatmai_Temple"
            />
            <p>
              Adorned with numerous towers, the main entrance of this temple
              carries murals that depict mythological characters. The shrine
              houses a stone idol that is placed inside the sanctum sanctorum.
              The temple wears a heavily festooned appearance during the
              occasion of Navaratri which is celebrated with much devotion and
              enthusiasm.
            </p>
          </div>
        </div>
      </div>

      <div id="naya_raipur_central_park" class="place7">
        <div class="image">
          <h1 class="text">Naya Raipur Central Park</h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Naya_raipur_central_park/Naya_Raipur_central_Park2.jpg"
            alt="Naya_Raipur_central_Park2"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Naya_raipur_central_park/Naya_Raipur_central_Park1.jpg"
              alt="Naya_Raipur_central_Park1"
            />
            <p>
              Naya Raipur is emerging an excellent planned city about 25 kms
              south east of Raipur. The Central Park which opened few days back
              is presently the most amazing place in Naya Raipur. The park is
              really big and has nots of greenery alog with different apparatus
              for children to play. It also hols some fountains and an
              ampitheatre.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Built in traditional style, Lakshman Sagar offers elegantly
              designed individual cottages with lake view. It is spread over 32
              acres and is a representation of a quaint 19th century hunting
              lodge.It features an outdoor swimming pool. It is 1.2 mi from
              Marwar Bus Station.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Naya_raipur_central_park/Naya_Raipur_central_Park3.jpg"
              alt="Naya_Raipur_central_Park3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Naya_raipur_central_park/Naya_Raipur_central_Park4.jpg"
              alt="Naya_Raipur_central_Park4"
            />
            <p>
              It's very simple here, so what you get is a streach of lush green
              garden. Long enough to think twice before taking end to end walk.
              Towards the entrance it has an amazing amphitheatre and I'm really
              waiting to witness first Performance at this place.
            </p>
          </div>
        </div>
      </div>

      <div id="shaheed_veer_narayan_singh_international_cricket" class="place8">
        <div class="image8">
          <h1 class="text">
            Shaheed Veer Narayan Singh International Cricket Stadium
          </h1>
          <img draggable = "false"
            src="/Places/states_img/Chattisgarh/Shaheed_veer_narayan_singh_international_cricket_stadium/Shaheed_veer_narayan_singh_international_cricket_stadium4.jpg"
            alt="Shaheed_veer_narayan_singh_international_cricket_stadium4"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Shaheed_veer_narayan_singh_international_cricket_stadium/Shaheed_veer_narayan_singh_international_cricket_stadium3.jpg"
              alt="Shaheed_veer_narayan_singh_international_cricket_stadium3"
            />
            <p>
              It is the third largest cricket stadium in india and
              fourth-largest cricket stadium in the world. The stadium has a
              seating capacity of 65,000 approx.[2] Inaugurated in 2008, this
              ground hosted its first ever match in 2010, when the Canada
              national cricket team arrived in India and played a practice match
              against the Chhattisgarh state team.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The construction of the stadium began in the year 2001 and it was
              completed in a couple of years. It was built and owned by the
              Government of Chhattisgarh.[10] The stadium has been built with as
              a modern sports arena. The media facilities have been redone, the
              corporate boxes are plush, and roofs cover the rest of the ground
              to provide comfort from heat
            </p>
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Shaheed_veer_narayan_singh_international_cricket_stadium/Shaheed_veer_narayan_singh_international_cricket_stadium2.png"
              alt="Shaheed_veer_narayan_singh_international_cricket_stadium2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Chattisgarh/Shaheed_veer_narayan_singh_international_cricket_stadium/Shaheed_veer_narayan_singh_international_cricket_stadium1.jpg"
              alt="Shaheed_veer_narayan_singh_international_cricket_stadium1"
            />
            <p>
              The 22-yards strip usually offers a good balance between the bat
              and the ball. Three IPL , one CLT20 and 2020–21 Road Safety World
              Series games have been played at this venue and twice a team has
              crossed 200 here in two of Road safety world series matches. Apart
              from that, from time to time, the pitch offers some assistance to
              the pacers as well as the spinners.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
