<%- include("../partials/head") %>
  <title>Goa</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="mangesh_temple" class="place1">
          <div class="image">
            <h1 class="text">Mangesh Temple</h1>
            <img draggable = "false" src="/Places/states_img/goa/mangesh_temple/mangesh_temple3.jpg" alt="mangesh_temple3" class="image1" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/mangesh_temple/mangesh_temple1.jpg" alt="mangesh_temple1" />

              <p>
                Since the time of the shifting, the temple has been rebuilt and
                renovated twice during the reign of the Marathas and again in the
                year 1890. The final renovation occurred in the year 1973 when a
                golden kalasha (holy vessel) was fitted atop the tallest dome of
                the temple.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The original site was a very simple structure, and the current
                structure was only built under Maratha rule, some 150 years after
                it had been moved. The Peshwas donated the village of Mangeshi to
                the temple in 1739 on the suggestion of their Sardar, Shri
                Ramchandra Malhar Sukhtankar, who was a staunch follower of Shri
                Mangesh.
              </p>
              <img draggable = "false" src="/Places/states_img/goa/mangesh_temple/mangesh_temple2.jpg" alt="mangesh_temple2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/mangesh_temple/mangesh_temple4.jpg" alt="mangesh_temple4" />

              <p>
                Just a few years after it was built, this area too fell into
                Portuguese hands in 1763,[4] but by now, the Portuguese had lost
                their initial religious zeal and had become quite tolerant of
                other religions, and so, this structure remained untouched.
              </p>
            </div>
          </div>
        </div>

        <div id="chapora_beach" class="place2">
          <div class="image">
            <h1 class="text">Chapora Beach</h1>
            <img draggable = "false" src="/Places/states_img/goa/chapora_beach/chapora_beach3.jpg" alt="chapora_beach3" class="image2" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/chapora_beach/chapora_beach1.jpg" alt="chapora_beach1" />
              <p>
                Chapora Beach is a coastal village at Chapora River estuary lying
                alongside a beach stretch in North Goa that is around 10 km. from
                Mapusa, a City in Northern Goa.[1] It is close to Chapora Fort, an
                old Portuguese fort. Chapora is also close to a trawler-fishing
                jetty. Chapora is home to many cheapest travel accommodation
                houses found in entire Northern Goa.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Chapora Beach is located on the northern side of the Vagator,
                which is at the distance of 10 km from Mapusa. It's one of the
                best beaches of Goa that touches a chord in the heart of tourists
                with its white sandy unfold, black lava rocks, sapphire expanse,
                and shaking palms.
              </p>
              <img draggable = "false" src="/Places/states_img/goa/chapora_beach/chapora_beach2.jpg" alt="chapora_beach2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/chapora_beach/chapora_beach4.jpg" alt="chapora_beach4" />
              <p>
                It's the favourite spot for the one, who love the surf and the
                sand. It's one of the most cloistered and tranquil beaches in Goa,
                which brings a lots of shacks and restaurant all around. However,
                a long walk through Chapora Main Street will simply take you to
                the past traditional buildings, luxury restaurants, pubs, bars and
                other stores.
              </p>
            </div>
          </div>
        </div>

        <div id="reis_magos" class="place3">
          <div class="image">
            <h1 class="text">Reis Magos</h1>
            <img draggable = "false" src="/Places/states_img/goa/reis_magos/reis_magos4.jpg" alt="reis_magos4" class="image3" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/reis_magos/reis_magos3.jpg" alt="reis_magos3" />
              <p>
                Reis Magos is a village located on the northern bank of the
                Mandovi River in Bardez, Goa, opposite to the capital city of
                Panjim. The village is famous for two of Goa’s famous structures;
                the Reis Magos Fort, and the Reis Magos Church – the first church
                in Bardez. Reis Magos is the Portuguese name for the Three Wise
                Men from the Bible.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Predating Fort Aguada by half a century, a second, smaller fort
                that crowns the headland jutting into the narrowest stretch of the
                Mandovi, almost facing the capital city Panjim, is the Reis Magos
                Fort. This Fort, surrounded by sturdy laterite walls studded with
                typically Portuguese turrets, was erected in 1551 to protect the
                narrowest point at the mouth of the Mandovi estuary.
              </p>

              <img draggable = "false" src="/Places/states_img/goa/reis_magos/reis_magos2.jpg" alt="reis_magos2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/reis_magos/reis_magos1.png" alt="reis_magos1" />

              <p>
                The fort formerly accommodated viceroys and other dignitaries
                newly arrived from, or en route to, Lisbon, and in the early
                eighteenth century proved a linchpin in the wars against the Hindu
                Marathas, who were never able to take it. The bastion was used as
                a prison. Though far inferior in size to the fortress of Mormugao,
                yet standing on an eminence, it commands a splendid view all
                around.
              </p>
            </div>
          </div>
        </div>

        <div id="bondla_wildlife_sanctuary" class="place4">
          <div class="image">
            <h1 class="text">Bondla Wildlife Sanctuary</h1>
            <img draggable = "false" src="/Places/states_img/goa/bondla_wildlife_sanctuary/bondla_wildlife_sanctuary3.jpg"
              alt="bondla_wildlife_sanctuary3" class="image4" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/bondla_wildlife_sanctuary/bondla_wildlife_sanctuary4.jpg"
                alt="bondla_wildlife_sanctuary4" />

              <p>
                Bondla Wildlife Sanctuary is located in northeastern Goa, India in
                Ponda taluka. The total area of the park is 8 km2. It is a popular
                destination for both tourists and schoolchildren. A wide variety
                of animal life can be encountered, including: sambar deer, Indian
                bison, Malabar giant squirrel, Indian peafowl and many species of
                snakes.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Bondla provides sanctuary to leopards who have been injured in
                human-wildlife conflict, as well as "dancing" bears and cobras
                who, along with their trainers, need a new life after this
                treatment of endangered wildlife. Bondla zoo is known for its
                successful breeding of gaur. As it is the only zoo in Goa, many
                visit the zoo.
              </p>

              <img draggable = "false" src="/Places/states_img/goa/bondla_wildlife_sanctuary/bondla_wildlife_sanctuary2.jpg"
                alt="bondla_wildlife_sanctuary2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/bondla_wildlife_sanctuary/bondla_wildlife_sanctuary1.jpg"
                alt="bondla_wildlife_sanctuary1" />

              <p>
                Although it is the smallest of all the wildlife sanctuaries in
                Goa, Bondla Wildlife Sanctuary is also the most popular with
                children, families and eco-tourists. Its convenient location in
                the Ponda Taluka combined with its manageable size of just 8 sq.
                km; make it an ideal destination for a day trip.
              </p>
            </div>
          </div>
        </div>

        <div id="church_of_our_lady_of_hope" class="place5">
          <div class="image">
            <h1 class="text">Church of Our Lady of Hope</h1>
            <img draggable = "false" src="/Places/states_img/goa/church_of_our_lady_of_hope/church_of_our_lady_of_hope4.jpg"
              alt="church_of_our_lady_of_hope4" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/church_of_our_lady_of_hope/church_of_our_lady_of_hope3.jpg"
                alt="church_of_our_lady_of_hope3" />

              <p>
                The Church of Our Lady of Hope, also known as "Igreja Da Nossa
                Senhora Da Esperança" is a Roman Catholic church in the Diocese of
                Cochin. It is located at the island of Vypeen - the point where
                the Vembanad Lake merges with the Arabian Sea, with Fort Cochin on
                the other side.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                During the Age of Discovery, the Roman Catholic Church established
                a number of Missions in the New World in order to spread
                Christianity. The missionaries of the different orders
                (Franciscans, Dominicans, Jesuits, Augustinians, etc.) flocked out
                and began at once to build churches along the coast districts
                wherever the Portuguese power made itself felt.
              </p>

              <img draggable = "false" src="/Places/states_img/goa/church_of_our_lady_of_hope/church_of_our_lady_of_hope2.jpg"
                alt="church_of_our_lady_of_hope2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/church_of_our_lady_of_hope/church_of_our_lady_of_hope1.jpg"
                alt="church_of_our_lady_of_hope1" />

              <p>
                The Dutch who conquered Cochin in 1663, destroyed all Catholic
                buildings in Cochin. Only the St. Francis Church, Santa Cruz
                Basilica, and St. Louis Church Mundamveli (2nd Parish Church)
                escaped this fate. The original wooden altar and screen of St
                Francis church were moved to this church when the Dutch took
                possession of St Francis church.
              </p>
            </div>
          </div>
        </div>

        <div id="shanta" class="place6">
          <div class="image">
            <h1 class="text">Shanta Durga Temple</h1>
            <img draggable = "false" src="/Places/states_img/goa/shanta_durga_temple/shanta_durga_temple3.webp" alt="shanta_durga_temple3"
              class="image6" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/shanta_durga_temple/shanta_durga_temple4.jpg"
                alt="shanta_durga_temple4" />

              <p>
                Shri Shantadurga Saunsthan is a private temple complex belonging
                to the Goud Saraswat Brahman Samaj, located 30 km (19 mi) from
                Panaji at the foothill of Kavalem village in Ponda Taluka, Goa,
                India.H.H.Shrimad Swamiji of Shri Kavale Math is spiritual head Of
                Shree Shantadurga Saunsthan, Kavale.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The temple is dedicated to Shantadurga, the goddess who mediates
                between Vishnu and Shiva. The deity is also called 'Santeri'
                colloquially. Purana talks of a battle between Shiva and Vishnu
                The battle was so fierce that the God Brahma prayed to Goddess
                Parvati to intervene, which she did in the form of Shantadurga.
              </p>

              <img draggable = "false" src="/Places/states_img/goa/shanta_durga_temple/shanta_durga_temple2.jpg" alt="amman2" />
            </div>

            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/shanta_durga_temple/shanta_durga_temple1.jpg"
                alt="shanta_durga_temple1" />

              <p>
                The original temple at Quelossim (Keloshi) in Salcete was
                destroyed by the Portuguese in 1566. The goddess was shifted to
                Kavalem and worship was Continued there. The site on which the
                original Temple of Shantadurga stood at Quelossim (Keloshi) is
                known as "Deoolbhata" and it is in the possession of the Shree
                Shantadurga Saunsthan Committee,Kavale.
              </p>
            </div>
          </div>
        </div>

        <div id="calangute" class="place7">
          <div class="image">
            <h1 class="text">Calangute Beach</h1>
            <img draggable = "false" src="/Places/states_img/goa/calangute_beach/calangute_beach4.jpg" alt="calangute_beach4"
              class="image7" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/calangute_beach/calangute_beach3.png" alt="calangute_beach3" />

              <p>
                Calangute is a town in the North Goa district, famous for its
                beach. beach is the largest in North Goa and visited by thousands
                of domestic and international tourists alike. The peak tourist
                season is during Christmas and New Year, and during the summer in
                May.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                As of the 2011 India census, Calangute had a population of 13,810.
                Males constituted 54% of the population and females 46%. Calangute
                had an average literacy rate of 73%, higher than the national
                average of 59.5%; male literacy was 78% and female literacy 67%.
                10% of the population was under 6 years of age.
              </p>

              <img draggable = "false" src="/Places/states_img/goa/calangute_beach/calangute_beach2.jpg" alt="calangute_beach2" />
            </div>
            
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/calangute_beach/calangute_beach1.jpg" alt="calangute_beach1" />

              <p>
                Calangute has secondary education schools viz. Little Flower of
                Jesus High School , St. Josephs High School, Don Bosco High
                School, Mark Memorial High School, apart from the Government
                Primary schools located in Umtavaddo & Naikavaddo.Lorna Cordeiro
                recorded a song in Konkani titled "Calangute" about the town and
                Calangute Beach.
              </p>
            </div>
          </div>
        </div>

        <div id="divar" class="place8">
          <div class="image">
            <h1 class="text">Divar Island</h1>
            <img draggable = "false" src="/Places/states_img/goa/divar_island/divar_island4.jpg" alt="divar_island4" class="image8" />

            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/goa/divar_island/divar_island3.jpg" alt="divar_island3" />

              <p>
                It is located approximately upriver 10 km (6 mi) from Panjim. The
                Island is connected to Old Goa on the south-east side, Ribandar,
                on the south-west side and Narve on the north side, all by ferry.
                A launch also connects Divar to the city of Panjim from further
                north-west, in the island-village of Vanxim.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Initially, there were three Communidades in Divar : Piedade, São
                Matias (now Malar), Goathias. The Piedade Communidade was later
                sub-divided into two, Goltim and Navelim.According to legend, the
                original inhabitants of this island were people who once lived in
                Old Goa but had to desert during a disastrous pestilence that
                heavily decimated the population of Old Goa.
              </p>

              <img draggable = "false" src="/Places/states_img/goa/divar_island/divar_island2.webp" alt="divar_island2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/goa/divar_island/divar_island1.jpg" alt="divar_island1" />

              <p>
                Spread at the bottom of a small forested hillock, Piedade, is a
                small typical Goan village. The Church of Our Lady of Compassion
                sits on top of this hillock overlooking the horizon. From the top
                of the hill, superb panoramic views of the surrounding
                countryside, including the meandering Mandovi river and Old Goa
                can be seen.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>