<%- include("../partials/head") %>
  <title>Gujarat</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div class="place1" id="junagadh">
          <div class="image">
            <h1 class="text">Junagadh</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/junagadh/junagadh4.jpg" alt="junagadh4" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/junagadh/junagadh1.jpg" alt="junagadh1" />
              <p>
                The many temples and mosques in Junagadh’s vicinity reveal the
                city’s long and complex history. To the east are the Uparkot, an
                old Hindu citadel; Buddhist caves dating from the 3rd century BCE;
                and the edicts (carved on stone) of the Mauryan emperor Ashoka.
                The peaks of the Girnar Hills are dotted with Jaina temples.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The area in which Junagadh is situated in the Kathiawar Peninsula
                is bounded to the southwest by the Arabian Sea. It consists of a
                level plain except for the Girnar Hills and the forested Gir
                Hills, both of which have wildlife sanctuaries where survive the
                only wild lions in India.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/junagadh/junagadh2.jpg" alt="junagadh2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/junagadh/junagadh3.jpg" alt="junagadh3" />
              <p>
                Junagadh is a city in the western Indian state of Gujarat. Mahabat
                Maqbara is the huge 19th-century mausoleum of a local ruler, which
                showcases intricate Indo-Islamic architectural details. Uparkot
                Fort, founded around 300 BC, has city views from its
                ramparts.Within the fort are the stone-cut stepwells Adi Kadi Vav
                and Navghan Kuwo, plus Buddhist caves.
              </p>
            </div>
          </div>
        </div>

        <div class="place2" id="dwarkadhish_temple">
          <div class="image">
            <h1 class="text">Dwarkadhish Temple</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/dwarkadhish_temple/dwarkadhish_temple3.jpg" alt="dwarkadhish_temple3"
              class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/dwarkadhish_temple/dwarkadhish_temple1.jpg"
                alt="dwarkadhish_temple1" />
              <p>
                The main draw for tourists coming to Dwarka, the Dwarkadhish
                Temple (Jagat Mandir), is believed to have been established more
                than 2500 years ago by Lord Krishna’s great grandson, Vajranabh.
                The ancient temple has been renovated several times, especially
                leaving imprints of 16th and 19th centuries.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The temple stands on a small hill accessed by 50 plus steps, with
                heavily sculptured walls that cocoon the sanctum with the main
                Krishna idol. Around the complex lie other smaller shrines. The
                walls have intricately carved mythical characters and legends. The
                impressive 43 m high spire is topped with a flag made from 52
                yards of cloth that flutters in the soft breeze from the Arabian
                Sea behind the temple.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/dwarkadhish_temple/dwarkadhish_temple2.jpg"
                alt="dwarkadhish_temple2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/dwarkadhish_temple/dwarkadhish_temple4.jpg"
                alt="dwarkadhish_temple4" />
              <p>
                Dwarka on the western tip of the Kathiawar Peninsula is clubbed
                with the holiest sites in India – the Char Dhams that include
                Badrinath, Puri and Rameshwaram. It is believed that Lord Krishna
                arrived here from Braj in Uttar Pradesh to build the city. The
                temple was established by his grandson.
              </p>
            </div>
          </div>
        </div>

        <div class="place3" id="ahmadabad">
          <div class="image">
            <h1 class="text">Ahmadabad</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/ahmadabad/ahmadabad2.jpg" alt="ahmadabad2" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/ahmadabad/ahmadabad2.jpg" alt="ahmadabad2" />
              <p>
                Ahmadabad, also spelled Ahmedabad, city, eastern Gujarat state,
                west-central India. It lies along the Sabarmati River about 275
                miles (440 km) north of Mumbai (Bombay). Ahmadabad is at the
                junction of the main roads leading to Mumbai and central India,
                the Kathiawar Peninsula, and the Rajasthan border.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The city was founded in 1411 by the Muslim ruler of Gujarat,
                Sultan Aḥmad Shah, next to the older Hindu town of Asawal.
                Ahmadabad grew larger and wealthier for a century, but dynastic
                decay and anarchy eventually brought about a decline, and the city
                was captured in 1572 by the Mughal emperor Akbar.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/ahmadabad/ahmadabad1.jpg" alt="ahmadabad1" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/ahmadabad/ahmadabad1.jpg" alt="ahmadabad1" />
              <p>
                The old city lies east of the Sabarmati River, while newer
                sections lie along the west bank. An interesting local feature is
                the division of the old city centre into pols, or self-contained
                blocks of houses that shelter several thousand people each.Some
                pols are virtually small townships, crossed by a street with gates
                at either end.
              </p>
            </div>
          </div>
        </div>

        <div class="place4" id="bhuj">
          <div class="image">
            <h1 class="text">Bhuj</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/bhuj/bhuj1.jpg" alt="bhuj" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/bhuj/bhuj2.jpg" alt="bhuj2" />
              <p>
                The Aina Mahal, a palace built by Rao Lakhpatji in the 18th
                century and now a museum, is one of Bhuj’s major tourist
                destinations. The city is a commercial centre for wheat, barley,
                cattle, cotton, and salt produced in the hinterland.Bhuj, city,
                northwestern Gujarat state, west-central India. It is situated in
                the lowlands between the Rann (marsh) and the Gulf of Kachchh
                (Kutch).
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Handicrafts include the manufacture of cotton cloth and silver
                items. Bhuj is the site of the country’s first large-scale
                experiment with solar pond technology (a means of collecting solar
                energy using brine ponds), and it has several colleges. It is the
                junction of several state highways and the terminus of a railroad,
                and it has an airport.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/bhuj/bhuj1.jpg" alt="bhuj1" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/bhuj/bhuj2.jpg" alt="bhuj2" />
              <p>
                Bhuj was devastated by a massive earthquake in 2001, which badly
                damaged the Aina Mahal and the nearby Prag Mahal; both structures
                subsequently were restored. Pop. (2001) town, 98,528; urban
                agglom., 136,429; (2011) city, 143,286; urban agglom.,
                188,236.Bhuj is known for its small, meandering streets, palaces
                and temples.
              </p>
            </div>
          </div>
        </div>

        <div class="place5" id="baroda">
          <div class="image">
            <h1 class="text">Baroda</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/baroda/baroda2.jpg" alt="baroda2" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/baroda/baroda1.png" alt="baroda1" />
              <p>
                The leader of the peace cities movement in Baroda, India is Mukund
                M. Purohit. Mr. Purohit is a retired Independent Director in
                Baroda and will lead a coalition for the city of peace initiative
                that includes toleration and cooperation among the diverse
                population and a cessation of violence, including that regarding
                the Gujarat separatist movement.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                In February 2002, the train attack at Godhra lead to state-wide
                riots, resulting in deaths of 1044 people – 790 Muslims and 254
                Hindus, and hundreds missing still unaccounted for. On 26 July
                2008 a series of seventeen bomb blast rocked the city, killing and
                injuring several people.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/baroda/baroda3.jpg" alt="baroda3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/baroda/baroda4.jpg" alt="baroda4" />
              <p>
                Baroda has long been considered for its educational institutions.
                Due to changes of generation, the city is in need much to work for
                peace so that Baroda can take its rightful place as a peaceful
                city. The intention is to live and let live in our relations to
                others. The city is full of multifaceted activities and peace
                building is needed in the years to come.
              </p>
            </div>
          </div>
        </div>

        <div class="place6" id="somnath">
          <div class="image">
            <h1 class="text">Somnath</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/somnath/somnath1.jpg" alt="somnath1" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/somnath/somnath2.jpg" alt="somnath2" />
              <p>
                The Somnath temple (also known as the Deo Patan) located in
                Veraval in Saurashtra on the western coast of Gujarat, India is
                believed to be the first among the twelve Jyotirlinga shrines of
                Shiva.[1] It is an important pilgrimage and tourist spot of
                Gujarat.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The temple is considered sacred due to the various legends
                connected to it. Somnath means "Lord of the Soma", an epithet of
                Lord Shiva.The Somnath temple is known as "the Shrine Eternal",
                following a book by K. M. Munshi by this title and his narration
                of the temple's destruction and reconstruction many times in
                history.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/somnath/somnath3.jpg" alt="somnath3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/somnath/somnath4.jpg" alt="somnath4" />
              <p>
                The site of Somnath has been a pilgrimage site from ancient times
                on account of being a triveni sangam (the confluence of three
                rivers: Kapila, Hiran and the mythical Saraswati). Soma, the Moon
                god, is believed to have lost his lustre due to a curse, and he
                bathed in the Sarasvati River at this site to regain it.
              </p>
            </div>
          </div>
        </div>

        <div class="place7" id="sasan_gir_national_park">
          <div class="image">
            <h1 class="text">Sasan Gir National Park</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/sasan_gir_national_park/national_park1.jpg" alt="national_park1"
              class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/sasan_gir_national_park/national_park2.jpg" alt="national_park2" />
              <p>
                The 14th Asiatic Lion Census 2015 was conducted in May 2015. In
                2015, the population was 523 (27% up compared to previous census
                in 2010). The population was 411 in 2010 and 359 in 2005. The lion
                population in Junagadh District was 268 individuals, 44 in Gir
                Somnath District, 174 in Amreli District, and 37 in Bhavangar
                District.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                British viceroys brought the drastic decline of the lion
                population in Gir to the attention of the Muslim Nawab of
                Junagadh, who established the sanctuary. Today, it is the only
                area in Asia where Asiatic lions occur and is considered one of
                the most important protected areas in Asia because of its
                biodiversity.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/sasan_gir_national_park/national_park2.jpg" alt="national_park2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/sasan_gir_national_park/national_park4.jpg" alt="national_park4" />
              <p>
                During peak summer, surface water for wild animals is available at
                about 300 water points. When drought hits the area following a
                poor rainfall, surface water is not available at a majority of
                these points, and water scarcity becomes a serious problem.
                Ensuring the availability of water during peak summer is one of
                the major tasks of the Forest Department staff.
              </p>
            </div>
          </div>
        </div>

        <div class="place8" id="rann_of_kutch">
          <div class="image">
            <h1 class="text">Rann of Kutch</h1>
            <img draggable = "false" src="/Places/states_img/Gujarat/rann_of_kutch/rann_of_kutch1.jpg" alt="rann_of_kutch1"
              class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Gujarat/rann_of_kutch/rann_of_kutch2.jpg" alt="rann_of_kutch2" />
              <p>
                Rann Utsav is an awesome festival of Kutch, Gujarat, India. It is
                a Carnival of Music, Dance, nature beauty of White Rann and much
                more then that when visit under the full Moon. Kutch Rann Utsav is
                the shimmering landscape that gives the enchanting moments of this
                Fest, which feels like as Heaven On Earth during Festival Time. In
                fact, it’s a Family holiday destination to explore fun moments and
                store in cameras for life time.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                There are plenty of things to do during ran festival stay
                including participation in Golf Cart, ATV Ride, Camel Cart
                Excursion, Paramotoring, Meditaiton, Yoga and Enjoying Gujarati
                Culture. To know more about rann utsav packages, rann utsav tent
                booking, how to reach kutch rann utsav, Ran utsav full moon tour
                package, Contact Authorized Gujarat tourism tour operator called
                Akshar tour and Travels for Kutch rann utsav online bookings and
                offline bookings.
              </p>
              <img draggable = "false" src="/Places/states_img/Gujarat/rann_of_kutch/rann_of_kutch3.jpg" alt="rann_of_kutch3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Gujarat/rann_of_kutch/rann_of_kutch4.jpg" alt="rann_of_kutch4" />
              <p>
                The distinctive folk dances and music, intricate arts and crafts,
                gracious people and nature along with the affluent handicraft
                culture of the district like folk textiles, exquisite embroidery,
                Bandhani sarees, traditional ornaments and mirror work are some of
                the specialties of Kutch, Gujarat, India.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>