<%- include("../partials/head") %>
  <title>Himacha Pradesh</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="kasol" class="place1">
          <div class="image">
            <h1 class="text">Kasol</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasol/kasol1.jpg" alt="kasol1" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasol/kasol2.jpg" alt="kasol2" />
              <p>
                Kasol is a hamlet in the district Kullu of the Indian state of
                Himachal Pradesh.[3][4] It is situated in Parvati Valley, on the
                banks of the Parvati River, on the way between Bhuntar and
                Manikaran. It is located 30 km from Bhuntar[5] and 3.5 km from
                Manikaran. Kasol is the Himalayan hotspot for backpackers
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                There are different transport options available to reach Kasol. To
                reach Kasol one must first reach Bhuntar from where one has the
                option to use the Bus service which is available hourly and is
                available only between 8 AM to 6 PM. However, the local Taxi
                Service is available all the times.
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasol/kasol3.jpg" alt="kasol3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasol/kasol4.jpg" alt="kasol4" />
              <p>
                Kasol Music Festival is a music festival which happens in Kasol on
                every New Year's Eve. People from around the world gather for this
                festival.Kasol, being a tourist destination in the region, has
                frequent local bus service running from Manali. There is no direct
                flight or rail connectivity to Kasol.
              </p>
            </div>
          </div>
        </div>

        <div id="spiti_valley" class="place2">
          <div class="image">
            <h1 class="text">Spiti Valley</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/spiti_valley/spiti_valley3.jpg" alt="spiti_valley3"
              class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/spiti_valley/spiti_valley1.jpg" alt="spiti_valley1" />
              <p>
                Mahabalipuram (or Mamallapuram), located along southeastern
                India’s Coromandel Coast, was a celebrated port city of the
                Pallavas. The Pallava dynasty, which ruled this area between 6th
                and 9th centuries CE, created these majestic edifices.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The mandapas (rock-cut caves): During the time of
                Narasimhavarman-I Mamalla, new innovations were introduced in the
                rock medium in the form of cave temples. Notable examples of the
                cave temple are Konerimandapa, Mahishmardhini cave, and
                Varahamandapa.
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/spiti_valley/spiti_valley2.jpg" alt="spiti_valley2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/spiti_valley/spiti_valley4.jpg" alt="spiti_valley4" />
              <p>
                The rock reliefs: The sculptural bas reliefs are another very
                important class of masterly creations created during Mamalla’s
                reign. There are four such reliefs at Mamallapuram, the most
                noteworthy among them being the Arjuna’s Penance and
                Govardhanadhari.
              </p>
            </div>
          </div>
        </div>

        <div id="manali" class="place3">
          <div class="image">
            <h1 class="text">Manali</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/manali/manali3.jpg" alt="manali3" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/manali/manali2.jpg" alt="manali2" />
              <p>
                Manali is named after the Sanatan Hindu lawgiver Manu. The name
                Manali is regarded as the derivative of 'Manu-Alaya' which means
                'the abode of Manu'. Legend has it that sage Manu stepped off his
                ark in Manali to recreate human life after a great flood had
                deluged the world.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The British introduced apple trees in the area. The first apple
                orchard was set up by the British near Patlikuhal, before this, no
                Apple trees grew in the area. To this day, apples— along with plum
                and pear— remain the best source of income for the majority of
                inhabitants.
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/manali/manali1.jpg" alt="manali1" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/manali/manali4.jpg" alt="manali4" />
              <p>
                With the increase in disposable incomes and somewhat owing to the
                rise of disturbances in Kashmir in the late 1980s, Manali
                witnessed a surge in tourist traffic. This once quiet village was
                transformed into a bustling town with numerous homestays as well
                as the occasional boutique hotel.
              </p>
            </div>
          </div>
        </div>

        <div id="kasauli" class="place4">
          <div class="image">
            <h1 class="text">Kasauli</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasauli/kasauli4.jpg" alt="kasauli4" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasauli/kasauli3.JPG" alt="kasauli3" />
              <p>
                According to the 2011 India census, Kasauli had a population of
                4,994. The male population constituted 56% of the population while
                the female population was 44%. Kasauli had an average literacy
                rate of 80%, higher than the then national average of 75.5%; male
                literacy was 84%, and female 76%. 10% of the population was under
                6 years of age.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Kasauli has a moderate climate. Winter temperature is
                approximately 2 degrees Celsius, the summer temperatures rarely
                exceeds 32 degrees Celsius or more. The general wind direction is
                south-west to north-east. Total rainfall for the year is 1020
                millimetres.
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasauli/kasauli2.jpg" alt="kasauli2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/kasauli/kasauli1.jpg" alt="kasauli1" />
              <p>
                The Central Research Institute (CRI), originally the Pasteur
                Institute of India, was established at Kasauli in 1904 under its
                first director Sir David Semple, as an institute working in the
                fields of immunology and virological research. The CRI works as a
                World Health Organization ‘Collaborating Centre’,
              </p>
            </div>
          </div>
        </div>

        <div id="chitkul" class="place5">
          <div class="image">
            <h1 class="text">Chitkul</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/chitkul/chitkul1.jpg" alt="chitkul1" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/chitkul/chitkul2.jpg" alt="chitkul2" />
              <p>
                After one crosses over the 5,242 m high Charang Pass.,[4] it is a
                long and steep run down through slithery scree slopes to
                Chitkul(3,450m). The powerful goddess of Chitkul is the only
                non-Buddhist deity to which respect must be paid by the Parikrama
                pilgrims.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                It is believed that the local Deity is related to the Deity of
                Gangotri and till recently the locals would carry the Deity to
                Gangotri on foot over high mountain passes. Chitkul is situated
                around 40 km from Karcham, the place where road bifurcates from
                Hindustan-Tibet Road (NH 22).
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/chitkul/chitkul3.JPG" alt="chitkul3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/chitkul/chitkul4.JPG" alt="chitkul4" />
              <p>
                The Sangla Valley is a delight for nature lovers; especially the
                stretch after Raksham and right up to Chitkul. The valley is
                extremely beautiful, on the left bank of the Baspa River are
                snow-clad mountains and on the right bank the whole terrain is
                full of apple orchards and wooden houses.
              </p>
            </div>
          </div>
        </div>

        <div id="dharamshala" class="place6">
          <div class="image">
            <h1 class="text">Dharamshala</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/dharamshala/dharamshala2.webp" alt="dharamshala2"
              class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/dharamshala/dharamshala1.jpg" alt="dharamshala1" />
              <p>
                Dharamshala is a municipal corporation city in the upper reaches
                of the Kangra Valley and is surrounded by dense coniferous forest
                consisting mainly of stately Deodar cedar trees.The suburbs
                include McLeod Ganj, Bhagsunag, Dharamkot, Naddi, Forsyth Ganj,
                Kotwali Bazar , Kaccheri Adda , Dari, Ramnagar, Sidhpur, and
                Sidhbari (where the Karmapa is based).
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The McLeod Ganj town, lying in the upper reaches, is known
                worldwide for the presence of the Dalai Lama.[5] On 29 April 1959,
                the 14th Dalai Lama (Tenzin Gyatso) established the Tibetan exile
                administration in the north Indian hill station of Mussoorie.
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/dharamshala/dharamshala3.jpg" alt="dharamshala3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/dharamshala/dharamshala4.jpg" alt="dharamshala4" />
              <p>
                In May 1960, the Central Tibetan Administration (CTA) was moved to
                Dharamshala, making it the centre of the Tibetan exile world in
                India. Following the 1959 Tibetan uprising there was an influx of
                Tibetan refugees who followed the 14th Dalai Lama.
              </p>
            </div>
          </div>
        </div>

        <div id="bir_billing" class="place7">
          <div class="image">
            <h1 class="text">Bir Billing</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/bir_billing/bir_billing4.jpg" alt="bir_billing4"
              class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/bir_billing/bir_billing3.jpg" alt="bir_billing3" />
              <p>
                Bir is a village located in the west of Joginder Nagar Valley in
                the state of Himachal Pradesh in northern India. Mostly referred
                as “Paragliding Capital of India”, Bir is also a noted centre for
                ecotourism, spiritual studies and meditation.Bir is also home to a
                Tibetan refugee settlement with several Buddhist monasteries and a
                large stupa.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Bir-Billing is a Paragliding destination in the heart of
                Himalaya’s near famous tourist destination Dharamshala in Himachal
                Pradesh. This was “First Paragliding World Cup of India.” This
                event happened in the month of October, 2015.”
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/bir_billing/bir_billing2.jpg" alt="bir_billing2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/bir_billing/bir_billing1.jpg" alt="bir_billing1" />
              <p>
                During world cup 150 top ranked paragliding pilots of all over the
                world participating along with 500 free flying pilots. This was a
                great opportunity for many local paragliding pilots to show their
                skills to world.Bir Billing provides the option of Paragliding,
                Trekking to Himachali tribal villages, Mountain Biking, Angling
                and Camping.
              </p>
            </div>
          </div>
        </div>

        <div id="shimla" class="place8">
          <div class="image8">
            <h1 class="text">Shimla</h1>
            <img draggable = "false" src="/Places/states_img/himachal_pradesh/shimla/shimla4.jpg" alt="shimla4" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/shimla/shimla3.jpg" alt="shimla3" />
              <p>
                Shimla is home to a number of buildings that are styled in the
                Tudorbethan and neo-Gothic architectures dating from the colonial
                era, as well as multiple temples and churches. The colonial
                architecture and churches, the temples, and the natural
                environment of the city attracts tourists.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Major city centre's attractions include the Shri Hanuman Jakhu
                (Statue), Jakhu Temple, Viceregal Lodge, Christ Church, Mall Road,
                The Ridge and Annadale. The city centre's northern most point is
                Jakhoo and the southern most location is Annadale, and the
                easternmost point is Sanjauli and western point is Chotta Shimla.
              </p>
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/shimla/shimla1.jpg" alt="shimla1" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/himachal_pradesh/shimla/shimla3.jpg" alt="shimla3" />
              <p>
                The Kalka–Shimla Railway line built by the British, a UNESCO World
                Heritage Site, is also a major tourist attraction. Owing to its
                steep terrain, Shimla hosts the mountain biking race MTB Himalaya,
                which started in 2005 and is regarded as the biggest event of its
                kind in South Asia. Shimla also has the largest natural ice
                skating rink in South Asia.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>