<%- include("../partials/head") %>
    <title>Jharkhand</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="dassam_falls" class="place1">
        <div class="image">
          <h1 class="text">Dassam Falls</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/dassam_falls/dassam_falls4.jpg"
            alt="dassam_falls4"
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/dassam_falls/dassam_falls3.jpg"
              alt="dassam_falls3"
            />
            <p>
              Dassam is a changed form of word Da:song which means in mundari
              language the act of pouring water. Da: means water and song means
              pouring or measuring. The water fall resembles like somebody is
              pouring water so the name was Da:song earlier but afterwards the
              name was changed to Dassam.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The Dassam Falls is a natural cascade across the Kanchi River, a
              tributary of the Subarnarekha River. The water falls from a height
              of 44 metres (144 ft).The sound of water echoes all around the
              place.Dassam Falls at one of the edges of the Ranchi plateau is
              one of the many scarp falls in the region.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/dassam_falls/dassam_falls2.jpg"
              alt="dassam_falls2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/dassam_falls/dassam_falls1.jpg"
              alt="dassam_falls1"
            />
            <p>
              The Dassam Falls is an example of a nick point caused by
              rejuvenation. Knick point, also called a nick point or simply
              nick, represents breaks in slopes in the longitudinal profile of a
              river caused by rejuvenation. The break in channel gradient allows
              water to fall vertically giving rise to a waterfall.
            </p>
          </div>
        </div>
      </div>

      <div id="patratu_valley" class="place2">
        <div class="image">
          <h1 class="text">Patratu Valley</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/patratu_valley/patratu_valley2.jpg"
            alt="patratu_valley2"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/patratu_valley/patratu_valley1.jpg"
              alt="patratu_valley1"
            />
            <p>
              Ramgarh has a vibrant coal-mining sector. The map alongside
              provides links to five operational areas of Central Coalfields
              spread across South Karanpura Coalfield, Ramgarh Coalfield and
              West Bokaro Coalfield. Four of the six CD blocks in the district
              have coal mines – Patratu, Ramgarh, Mandu and Chitarpur.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The high concentration of census towns in these blocks are
              noticeable on the map. Only two blocks, Gola and Dulmi, are
              totally rural areas. Ramgarh district lies in the central part of
              the Chota Nagpur Plateau. The Damodar valley covers most of the
              district.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/patratu_valley/patratu_valley3.jpg"
              alt="patratu_valley3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/patratu_valley/patratu_valley4.jpg"
              alt="patratu_valley4"
            />
            <p>
              The far-off hills in the background in exquisite tints of blue or
              purple as the light falls, the nearer hills picturesquely shaped
              and luxuriant in every shade of green with their bold escarpments
              in black or grey, and the brown plains below furnishing their
              quota of colours.”
            </p>
          </div>
        </div>
      </div>

      <div id="jubilee_park" class="place3">
        <div class="image">
          <h1 class="text">Jubilee park</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/jubilee_park/jubilee_park3.jpg"
            alt="jubilee_park3"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/jubilee_park/jubilee_park4.jpg"
              alt="jubilee_park4"
            />
            <p>
              Jubilee Park is an urban park located in the city of Jamshedpur in
              India.[1] It is a popular destination for all those who wish to
              have an outdoor picnic, enjoy some outdoor activities and games or
              even just to have a relaxing day out with friends and family.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Popular amongst joggers and cyclists, it is a gigantic park,
              recreation centre, fountains and a zoo, amongst other
              attractions.This local attraction was opened to the public in
              1958, on the occasion of the city's golden jubilee, the 50th
              anniversary of establishment.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/jubilee_park/jubilee_park2.jpg"
              alt="jubilee_park2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/jubilee_park/jubilee_park1.jpg"
              alt="jubilee_park1"
            />
            <p>
              While being built under the visionary Jamsetji Tata, the Vrindavan
              gardens in Mysore were used as an inspiration. This park also
              shows off a status of Jamsetji Tata and is also known as the
              Mughal Gardens of Jamshedpur.Bat Island, Children's Park, and Rose
              Garden is part of the reason why this park is such a famous one.
            </p>
          </div>
        </div>
      </div>

      <div id="rock_garden" class="place4">
        <div class="image">
          <h1 class="text">Rock Garden</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/rock_garden/Rock-Garden3.jpg"
            alt="Rock-Garden3"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/rock_garden/Rock-Garden2.jpg"
              alt="Rock-Garden2"
            />
            <p>
              The Rock Garden of Chandigarh is a sculpture garden for rock
              enthusiasts in Chandigarh, Punjab and Haryana, India. It is
              accessible by New Delhi. It is also known as nek chand Saini'sRock
              Garden after its founder Nek Chand Saini, a government official
              who started the garden secretly in his spare time in 1957.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              In his spare time, Nek Chand started collecting materials from
              demolition sites around the city. He recycled these materials into
              his own vision of the divine kingdom of Sukrani, choosing a gorge
              in a forest near Sukhna Lake for his work. The gorge had been
              designated as a land conservancy, a forest buffer established in
              1902 that nothing could be built on.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/rock_garden/Rock-Garden1.jpg"
              alt="Rock-Garden1"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/rock_garden/Rock-Garden1.jpg"
              alt="Rock-Garden1"
            />
            <p>
              His work was in danger of being demolished, but he was able to get
              public opinion on his side. In 1976 the park was inaugurated as a
              public space. Nek Chand was given a salary, a title
              ("Sub-Divisional Engineer, Rock Garden") and 50 laborers so that
              he could work full-time. The Rock Garden appeared on an Indian
              stamp in 1983.
            </p>
          </div>
        </div>
      </div>

      <div id="maldhan_dam" class="place5">
        <div class="image">
          <h1 class="text">Dhanushkodi Beach</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/maldhan_dam/maldhan_dam2.jpg"
            alt="maldhan_dam2"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/maldhan_dam/maldhan_dam1.jpg"
              alt="maldhan_dam1"
            />
            <p>
              Maldhan chaur is situated 19 km from Ramnagar and 23 km from
              Kashipur, having an area of around 15 to 20 villages in Ramnagar
              Block in 'Nainital' District of Uttarakhand, also called
              'Devbhumi'. It has more than 20,000 of population, most of the
              population belongs to the Kumauni and Garhwali communities. The
              literacy rate is moderate.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Most of the employed people work for government sector or near by
              Companies. The primary languages are Pahari, Garwali, Hindi and
              English. Here is very famous dam named as 'Tumariya Dam' which is
              used for irrigation of crops and for fishing and also a Tourist
              Attaraction.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/maldhan_dam/maldhan_dam3.jpg"
              alt="maldhan_dam3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/maldhan_dam/maldhan_dam1.jpg"
              alt="maldhan_dam1"
            />
            <p>
              Maldhan was set up by Shri Khusi Ram ji, for residents of
              Uttarakhand belonging to Hilly region, here is an Inter College
              named as Khushi Ram Inter College and an ITI having 3 branches
              Electrical, Fitter, COPA. Maldhan consists villages like Chandra
              Nagar as No.1, Adarsh nagar as No.2, Gautam nagar as No.5, Purani
              Basti, Nayi Basti, Kumugadar, Patrani etc.
            </p>
          </div>
        </div>
      </div>

      <div id="jonha_falls" class="place6">
        <div class="image">
          <h1 class="text">Jonha_Falls</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/jonha_falls/jonha-falls1.jpg"
            alt="jonha-falls1"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/jonha_falls/jonha-falls2.jpg"
              alt="jonha-falls2"
            />
            <p>
              Situated at an edge of the Ranchi plateau, the Jonha Falls is an
              example of a hanging valley falls. The Gunga River hangs over its
              master stream, Raru River and forms the falls.[1] One has to
              descend 722 steps to admire the surroundings.Water in the falls
              drops from a height of 43 metres (141 ft).
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The Jonha Falls is an example of a nick point caused by
              rejuvenation. Knick point, also called a nick point or simply
              nick, represents breaks in slopes in the longitudinal profile of a
              river caused by rejuvenation. The break in channel gradient allows
              water to fall vertically giving rise to a waterfall.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/jonha_falls/jonha-falls3.jpg"
              alt="jonha-falls3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/jonha_falls/jonha-falls4.jpg"
              alt="jonha-falls4"
            />
            <p>
              Thirugnanasambandar the Hindu Saint has mentioned the temple in
              his songs which go back to early 7th century. The Lord has been
              described as Alavai Iraivan in his songs.This can also be termed
              as a new beginning of a new era in the history of the temple, when
              it was almost rebuilt. The King Thirumalai Naicker played an
              important role in the construction of the new form of the temple
              according to records.
            </p>
          </div>
        </div>
      </div>

      <div id="birsa_zoological_park" class="place7">
        <div class="image">
          <h1 class="text">Birsa Zoological Park</h1>
          <img draggable = "false"
            src="/Places/states_img/jharkhand/birsa_zoological_park/birsa_zoological_park3.jpg"
            alt="birsa_zoological_park3"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/birsa_zoological_park/birsa_zoological_park4.jpg"
              alt="birsa_zoological_park4"
            />
            <p>
              Zoo have a dedicated veterinary doctor and trained compounder
              available 24 x 7 to monitor health issues of animals, well
              established pathology lab for animals present in park, separate
              ward dedicated for complete treatment of animals and emergency
              ward for reculed animals or newly arrived ones.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Zoo also offers Battery Operated Vehicle and Boating facility[3]
              for visitors with other facilities like Drinking water, Rest Area
              with Sheds at regular interval, First Aid Box, Wheel Chair for
              Physical Challenged person, Toilets and Lavatories, Direction Map
              and Sign Board for navigation, Information Center for visitors,
              Kiosks, Service, Guide Map and Canteen Facility.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/birsa_zoological_park/birsa_zoological_park2.jpg"
              alt="birsa_zoological_park2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/birsa_zoological_park/birsa_zoological_park1.jpg"
              alt="birsa_zoological_park1"
            />
            <p>
              The zoo also boasts a program for adoption of animals to give them
              better facilies. Various organisations and celebrities also
              adopted animals in Ranchi Zoo. Priyanka Chopra, adopted tigress
              Durga & lioness Sundari even organisations like MECON and PNB also
              adopted few animals.
            </p>
          </div>
        </div>
      </div>

      <div id="netarhat" class="place8">
        <div class="image8">
          <h1 class="text">Netarhat</h1>
          <img draggable = "false"
            src="/Places/states_img//jharkhand/netarhat/netarhat1.jpg"
            alt="netarhat1"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/netarhat/netarhat2.jpg"
              alt="netarhat2"
            />
            <p>
              Netarhat is located at 23.4833°N 84.2667°E, at a height of 1,071
              metres (3,514 ft).It is a plateau covered with thick forest.[4]
              Located in the Pat region of Chota Nagpur Plateau, Netarhat
              plateau is about 4 miles (6.4 km) long and 2.5 miles (4.0 km)
              broad.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Netarhat is a hill station in Latehar district[1](earlier in the
              erstwhile Palamu district) in the Indian state of Jharkhand.It is
              also referred to as the "Queen of Chotanagpur", and is a hill
              station.The town is also famous for Netarhat Residential School,
              set up in 1954.
            </p>
            <img draggable = "false"
              src="/Places/states_img/jharkhand/netarhat/netarhat2.jpg"
              alt="netarhat2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/jharkhand/netarhat/netarhat4.jpg"
              alt="netarhat4"
            />
            <p>
              There is another academy of police training college located in
              Jharkhand police named as Jungle Warfare School, or JWFS in short.
              It has a big campus spreading over 192 acres near Upper Ghagri
              waterfall and was established in 2008 to train state police
              especially on the lines of Armed Forces to fight and counter
              growing Naxal insurgency in the state.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
