<%- include("../partials/head") %>
    <title>Karnataka</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="mysure" class="place1">
        <div class="image">
          <h1 class="text">Mysore Palace</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/mysur_palace/mysuru_palace1.jpg"
            alt="mysuru_palace1"
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/mysur_palace/mysuru-palace2.jpg"
              alt="mysuru-palace2"
            />
            <p>
              The last palace, now known as the Old Palace or the Wooden Palace,
              was burnt into ashes during the 1896 marriage event (Dasara
              festivities). Maharaja Krishnaraja Wodeyar IV and his mother
              Maharani Kempananjammanni Devi, commissioned the British architect
              Henry Irwin to build a new palace.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Meanwhile, the royal family stayed in the close by Jaganmohan
              Palace. The construction was overseen by an executive engineer in
              the Mysore Palace division. He had conducted elaborate
              architectural studies during his visits to Delhi, Madras, and
              Calcutta, and these were used in planning for the new palace.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/mysur_palace/mysuru-palace3.jpg"
              alt="mysuru-palace3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/mysur_palace/Mysore-Palace4.jpg"
              alt="Mysore-Palace4"
            />
            <p>
              The three-story stone building of a fine grey granite with deep
              pink marble domes has a facade with several expansive arches and
              two smaller ones flanking the central arch, which is supported by
              tall pillars. Above the central arch is a sculpture of
              Gajalakshmi, the Goddess of wealth, prosperity, fortune, and
              abundance with her elephants.
            </p>
          </div>
        </div>
      </div>

      <div id="jog_falls" class="place2">
        <div class="image">
          <h1 class="text">Jog Falls</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/jog_falls/jog_falls2.jpg"
            alt="jog_falls2"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/jog_falls/jog_falls1.jpg"
              alt="jog_falls1"
            />
            <p>
              Associated with the waterfall is the nearby Linganamakki Dam
              across the Sharavati River.[12] The power station has been
              operational since 1948 and is of 120 MW capacity, one of the
              largest hydroelectric stations in India at that time and a small
              source of electric power for Karnataka now.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Sharavathi, a river which rises at Ambutirtha, next to Nonabur, in
              the Thirthahalli taluk and takes the northwesterly course by Fatte
              petta, receives the Haridravati on the right below Pattaguppe and
              the Yenne Hole on the left above Barangi. On arriving at the
              frontier it bends to the west, precipitates itself down the Falls
              of Gersoppa.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/jog_falls/Jog-Falls3.jpg"
              alt="Jog-Falls3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/jog_falls/Jog-Falls4.jpg"
              alt="Jog-Falls4"
            />
            <p>
              The Sharavati, flowing over a very rocky bed about 250 yards (230
              m) wide, here reaches a tremendous chasm, 290 m (950 ft) deep, and
              the water comes down in four distinct falls.[citation needed] The
              Raja Fall pours in one unbroken column sheer to the depth of 250 m
              (830 ft). Halfway down it is encountered by the Roarer, another
              fall,
            </p>
          </div>
        </div>
      </div>

      <div id="lalbagh_botanical_garden" class="place3">
        <div class="image">
          <h1 class="text">Lalbagh Botanical Garden</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/lalbagh/botonical_garden1.jpg"
            alt="botonical_garden1"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/lalbagh/lalbagh-botanical-garden2.jpg"
              alt="lalbagh-botanical-garden2"
            />
            <p>
              The Lalbagh gardens were commissioned by the 18th century and over
              the years it acquired India's first lawn-clock and the
              subcontinent's largest collection of rare plants.[3] After the
              British conquest of Mysore in 1799, the garden was under the
              charge of Major Gilbert Waugh.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Company paymaster and in 1814 its control was transferred to the
              Government of Mysore with an appeal by Waugh to the Marquis of
              Hastings that it should be under the botanical garden at Fort
              William, Calcutta. This was accepted and the charge for
              supervision was given to Nathaniel Wallich on 24 April 1819.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/lalbagh/Bangalore_Lalbagh-Garden3.jpg"
              alt="Bangalore_Lalbagh-Garden3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/lalbagh/Lalbagh-garden4.jpg"
              alt="Lalbagh-garden4"
            />
            <p>
              This Continued until 1831 when charge moved to the Mysore
              Commissioner. An Agricultural and Horticultural Society had been
              formed with William Munro, an army officer and amateur botanist in
              charge of the Bangalore chapter. The Society wrote to the Mysore
              Commissioner, Sir Mark Cubbon, requesting charge of the Lalbagh
              garden.
            </p>
          </div>
        </div>
      </div>

      <div id="cubbon_park" class="place4">
        <div class="image">
          <h1 class="text">Cubbon Park</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/cuban_park/cubbon_park1.jpg"
            alt="cubbon_park1"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/cuban_park/cubbon_park2.jpg"
              alt="cubbon_park2"
            />
            <p>
              This public park was first named as Meade’s Park after Sir John
              Meade, the acting Commissioner of Mysuru in 1870 and subsequently
              renamed as Cubbon Park after the longest-serving commissioner of
              the time, Sir Mark Cubbon. To commemorate the Silver Jubilee of
              Sri Krishnaraja Wodeyar’s rule in Mysore State.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The landscaping in the park creatively integrates natural rock
              outcrops with thickets of trees, massive bamboos, with grassy
              expanse and flowerbeds and the monuments within its limits,
              regulated by the Horticulture Department of the Government of
              Karnataka.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/cuban_park/cu.jpg"
              alt="cu"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/cuban_park/cubbon_park4.jpg"
              alt="cubbon_park4"
            />
            <p>
              The predominantly green area of the park has many motorable roads,
              and the well-laid-out walking paths running through the park are
              frequented by early morning walkers and the naturalists who study
              plants in the tranquil natural environment.Tourists visiting this
              park in the city of Bengaluru have nicknamed the city itself as
              'Garden City'.
            </p>
          </div>
        </div>
      </div>

      <div id="mullayanagiri" class="place5">
        <div class="image">
          <h1 class="text">Mullayanagiri</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/mulayanagiri/mullayanagiri4.jpg"
            alt="mullayanagiri4"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/mulayanagiri/mullayanagiri3.jpg"
              alt="mullayanagiri3"
            />
            <p>
              The peak gets its name from a small temple (gadduge/tomb) at the
              summit, which is dedicated to a sage "Mulappa swamy" who is
              believed to have meditated at the caves only a couple of feet
              below the summit. The caves are accessible and not very deep, they
              have a direct entrance to the garbagudi of the temple, which is
              now blocked by the temple priests.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Apart from multiple versions of folklore and strong Siddha culture
              around the belt, the origins or any information about the deity
              remains ambiguous. Mullai refers to forest in Old Kannada
              language.Previously, when the present asphalt roads and the 464
              stone and concrete steps were not present.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/mulayanagiri/mullayanagiri2.jpg"
              alt="mullayanagiri2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/mulayanagiri/mullayanagiri1.jpg"
              alt="mullayanagiri1"
            />
            <p>
              Mullayanagiri is the highest peak in Karnataka, India.
              Mullayyanagiri is located at 13°23′26″N 75°43′18″E in the Chandra
              Dhrona Hill Ranges of the Western Ghats of Chikkamagaluru Taluk.
              With a height of 1,930 metres (6,330 ft),[1] it is the highest
              peak in Karnataka.
            </p>
          </div>
        </div>
      </div>

      <div id="kodachadri" class="place6">
        <div class="image">
          <h1 class="text">Kodachadri</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/kodachdri/Kodachadri2.jpg"
            alt="Kodachadri2"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/kodachdri/Kodachadri1.jpg"
              alt="Kodachadri1"
            />
            <p>
              Kodachadri forms a background to the temple of Mookambika in
              Kollur.[5] It is located at a distance of 21 km from Kollur[5] and
              15 km from Nagodi village, in Hosanagara taluk. 78 km and 42km
              from Sagara, Karnataka via Hasirumakki Ferry from District
              Headquarters Shimoga and there are different routes to reach the
              Peak of Kodachadri.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The difficulty varies highly with respect to the route chosen.
              However it is challenging to reach the peak in monsoon due to
              heavy rains that make the routes slippery. Kodachadri receives an
              annual rain fall of 500 cm to 750 cm and it rains for about eight
              months in a year.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/kodachdri/Kodachadri3.jpg"
              alt="Kodachadri3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/kodachdri/Kodachadri4.jpg"
              alt="Kodachadri4"
            />
            <p>
              Situated in the middle of the Mookambika National Park and
              considered as a biodiversity hotspot,[5] it is home to several
              endemic and endangered species of flora and fauna. The peak is
              barren due to strong winds and the thick forest cover at the base
              makes the peak invisible from lower ground level and also several
              other smaller peaks and hills exist around the peak.
            </p>
          </div>
        </div>
      </div>

      <div id="tadiandamol_peak" class="place7">
        <div class="image">
          <h1 class="text">Tadiandamol Peak</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/tadaindmol/tadiandamal1.jpg"
            alt="tadiandamal1"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/tadaindmol/tadiandamal2.jpg"
              alt="tadiandamal2"
            />
            <p>
              Tadiandamol or Thadiyandamol is the highest mountain of Madikeri
              taluk Kodagu district, Karnataka, India. It is the third highest
              peak in Karnataka, after Mullayyanagiri & Kudremukha.[1] It is
              located Western Ghats range, and reaches an elevation of 1,748 m.
              The mountain has patches of shola forests in the valleys.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The Nalaknad palace at the foothills is an important historical
              landmark. This was one of the landmarks mapped during the Great
              Trigonometric Survey.It is a place of interest for trekkers and
              naturalists. The climb to the top and back can be completed as a
              day hike; camping is banned since December 2016.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/tadaindmol/Tadaindmol3.jpg"
              alt="Tadaindmol3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/tadaindmol/Tadaindmol4.jpg"
              alt="Tadaindmol4"
            />
            <p>
              The name Tadiandamol literally means largest base . It loosely
              means Tallest Mount,and the name also could translate as Broad
              Hill.It is a place of interest for trekkers and naturalists. The
              climb to the top and back can be completed as a day hike; camping
              is banned since December 2016.
            </p>
          </div>
        </div>
      </div>

      <div id="aihole" class="place8">
        <div class="image8">
          <h1 class="text">Aihole</h1>
          <img draggable = "false"
            src="/Places/states_img/karnataka/aihole/aihole1.jpg"
            alt="aihole1"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/karnataka/aihole/aihole2.jpg"
              alt="aihole2"
            />
            <p>
              Aihole is 35 kilometres (22 mi) from also same km Hunagunda.Badami
              and about 9.7 kilometres (6.0 mi) from Pattadakal, both of which
              are major centres of historically important Chalukya monuments.
              Aihole, along with nearby Badami (Vatapi), emerged by the 6th
              century as the cradle of experimentation with temple architecture.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Over one hundred Aihole temples are Hindu, a few are Jain and one
              is Buddhist. These were built and coexisted in close proximity.
              The site is spread over about 5 square kilometres (1.9 sq mi).[9]
              The Hindu temples are dedicated to Shiva, Vishnu, Durga, Surya and
              other Hindu deities.
            </p>
            <img draggable = "false"
              src="/Places/states_img/karnataka/aihole/aihole3.jpg"
              alt="aihole3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/karnataka/aihole/aihole4.jpg"
              alt="aihole4"
            />
            <p>
              The Jain Basadi temples are dedicated to Mahavira, Parshvanatha,
              Neminatha and other Jain Tirthankaras.[10] The Buddhist monument
              is a temple and small monastery. Both Hindu and Jain monuments
              include monasteries, as well as social utilities such as stepwell
              water tanks with artistic carvings near major temples.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
