<%- include("../partials/head") %>
  <title>Kerala</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="lulu_mall" class="place1">
          <div class="image">
            <h1 class="text">Lulu Mall</h1>
            <img draggable = "false" src="/Places/states_img/kerala/iulu/lulu_mall2.jpg" alt="lulu_mall2" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/iulu/lulu_mall3.jpg" alt="lulu_mall3" />
              <p>
                The retail division of LuLu Group International (LuLu Group) has
                the largest coverage in its core businesses. LuLu Group is the
                pioneer of the hypermarket business in the region with ‘LuLu
                Hypermarket’ and has innovated a prestigious portfolio of shopping
                malls.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Currently, LuLu Group operates 209 LuLu stores and 23 shopping
                malls across the GCC, Egypt, India, and the Far East. These two
                successful entities have become the foundation of new benchmarks
                in retail through its upgraded services, product categories,
                amenities, and design layout.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/iulu/lulu_mall4.jpg" alt="lulu_mall4" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/iulu/lulu_mall2.jpg" alt="lulu_mall2" />
              <p>
                It is the favourite one-stop shop that provides conducive shopping
                environment and competitive pricing in the market with operations
                in UAE, India, Saudi Arabia, Bahrain, Kuwait, Oman, Qatar, Egypt,
                Malaysia, and Indonesia.Rendering service to more than 1,100,000
                shoppers daily.
              </p>
            </div>
          </div>
        </div>

        <div id="padmanabhaswamy_temple" class="place2">
          <div class="image">
            <h1 class="text">Padmanabhaswamy Temple</h1>
            <img draggable = "false" src="/Places/states_img/kerala/padmanabhaswa/padmanabhaswamy_temple1.jpg" alt="padmanabhaswamy_temple1"
              class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/padmanabhaswa/padmanabhaswamy_temple2.jpg"
                alt="padmanabhaswamy_temple2" />
              <p>
                The Padmanabhaswamy temple is a Hindu temple located in
                Thiruvananthapuram, the state capital of Kerala, India. The name
                of the city of Thiruvananthapuram in Malayalam translates to "The
                City of Lord Ananta", (City of the Divine Serpent) [1] referring
                to the deity of the Padmanabhaswamy temple.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The temple is built in an intricate fusion of the Chera style and
                the Dravidian style of architecture, featuring high walls, and a
                16th-century gopura. While the Ananthapura temple in Kumbla is
                considered the original seat of the deity ("Moolasthanam"),
                architecturally to some extent, the temple is a replica of the
                Adikesava Perumal temple in Thiruvattar.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/padmanabhaswa/padmanabhaswamy_temple3.jpg"
                alt="padmanabhaswamy_temple3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/padmanabhaswa/padmanabhaswamy_temple4.jpg"
                alt="padmanabhaswamy_temple4" />
              <p>
                The principal deity Padmanabhaswamy (Vishnu) is enshrined in the
                "Anantha Shayana" posture, the eternal yogic sleep on the infinite
                serpent Adi Shesha.Padmanabhaswamy is the tutelary deity of the
                royal family of Travancore. The titular Maharaja of Travancore,
                Moolam Thirunal Rama Varma, is the trustee of the temple.
              </p>
            </div>
          </div>
        </div>

        <div id="kappad_beach" class="place3">
          <div class="image">
            <h1 class="text">Kappad Beach</h1>
            <img draggable = "false" src="/Places/states_img/kerala/kappad/kappad_beach1.jpg" alt="kappad_beach1" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/kappad/kappad_beach2.jpg" alt="kappad_beach2" />
              <p>
                Kappad Beach has historically played an important role in the
                history of Kerala. On these shores, over 500 years ago in 1498,
                170 men led by Vasco- da-Gama first stepped onto Kerala. The
                entire State, especially the Malabar Coast, would never be the
                same again.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                A visit to Kozhikode is incomplete without a visit to this
                legendary site. The spice route flourished through this Beach. A
                walk in and around the place gives one an idea of itshistorical
                relevance. The rocks and small hills add to its charm. The nearby
                shacks are always stocked with excellent local delicacies and tea.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/kappad/kappad_beach3.jpg" alt="kappad_beach3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/kappad/kappad_beach4.jpg" alt="kappad_beach4" />
              <p>
                The museum is managed by the State Archaeology Department and has
                on display mural paintings, antique bronzes, ancient coins, models
                of temples, umbrella stones, dolmenoid cists (quadrangular burial
                chambers with capstones), and similar megalithic monuments.
              </p>
            </div>
          </div>
        </div>

        <div id="tea_gardens" class="place4">
          <div class="image">
            <h1 class="text">Tea Gardens</h1>
            <img draggable = "false" src="/Places/states_img/kerala/tea_gardens/tea_gardens1.jpg" alt="tea_gardens1" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/tea_gardens/tea_gardens2.jpg" alt="tea_gardens2" />
              <p>
                A tea garden is a garden where tea and light refreshments are
                served, a tea plantation, or any garden with which the drinking of
                tea is associated.Often a peaceful place for a stroll or social
                event, the tea garden is a smaller form of a pleasure garden.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Believed to have been the residence of Vasco da Gama, Vasco House
                is one of the oldest Portuguese residences in Fort Kochi. Built in
                the early sixteenth century, Vasco House sports the typical
                European glass paned windows and balcony cum verandahs
                characteristic of those times.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/tea_gardens/tea_gardens3.jpg" alt="tea_gardens3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/tea_gardens/tea_gardens4.jpg" alt="tea_gardens4" />
              <p>
                Located in steep, rugged terrain, Kolukkumalai in Munnar is the
                highest tea garden in the country at 7900 ft. Accessible only by
                jeep, a visit to the estate includes a drive around the tea fields
                and a tour of its factory. What gives Kolukkumalai tea its special
                flavour is presumably the high altitude.
              </p>
            </div>
          </div>
        </div>

        <div id="nelliampathi_hills" class="place5">
          <div class="image">
            <h1 class="text">Nelliampathi hills</h1>
            <img draggable = "false" src="/Places/states_img/kerala/nellaiampathi/nelliampathi_hills4.jpg" alt="nelliampathi_hills1"
              class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/nellaiampathi/nelliampathi_hills2.jpg" alt="nelliampathi_hills2" />
              <p>
                Nelliyampathy is a hill station within the Nelliyampathy Forest
                Reserve, in the southwest Indian state of Kerala. The road to it,
                which goes through the dense forests of the Western Ghats, is
                known for its many hairpin turns.To the west is Kesavan Para, a
                vantage point with views of nearby tea plantations.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                A viewpoint called Seethargund is situated 8 km away from
                Nelliyampathy. Seethargund, according to beliefs is the place
                where Lord Rama, Laxmana and Seetha rested during their
                exile.Another attraction of Nelliyampathy is Kesavanpara
                viewpoint. The film Mrigaya starring Mammootty was shot here.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/nellaiampathi/nelliampathi_hills3.jpg" alt="nelliampathi_hills3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/nellaiampathi/nelliampathi_hills4.jpg" alt="nelliampathi_hills4" />
              <p>
                Nelliampathy is surrounded by tea and coffee plantations.The
                village has its own gram panchayat and forms a part of the Chittur
                taluk. Pothundi Dam, which was constructed in the 19th century, is
                the entrance to Nelliyampathy.As of 2001 India census,
                Nelliyampathy had a population of 8,718 with 4,358 males and 4360
                females.
              </p>
            </div>
          </div>
        </div>

        <div id="kerala" class="place6">
          <div class="image">
            <h1 class="text">Kerala backwaters</h1>
            <img draggable = "false" src="/Places/states_img/kerala/kerala_backwater/kerala_backwaters1.jpg" alt="kerala_backwaters1"
              class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/kerala_backwater/kerala_backwaters2.jpg" alt="kerala_backwaters2" />
              <p>
                The backwaters have a unique ecosystem: freshwater from the rivers
                meets the seawater from the Arabian Sea. A barrage has been built
                near Thanneermukkom, so salt water from the sea is prevented from
                entering the deep inside, keeping the fresh water intact.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Such fresh water is extensively used for irrigation
                purposes.[5][6] Many unique species of aquatic life including
                crabs, frogs and mudskippers, water birds such as terns,
                kingfishers, darters and cormorants, and animals such as otters
                and turtles live in and alongside the backwaters.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/kerala_backwater/kerala_backwaters3.jpg" alt="kerala_backwaters3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/kerala_backwater/kerala_backwaters4.jpg" alt="kerala_backwaters4" />
              <p>
                Kerala was ranked as one of the "50 destinations of a lifetime" by
                National Geographic Traveler in a special collectors' issue
                released just before the turn of the millennium, with houseboat
                and backwater resort tourism in Alappuzha seen as leading factors.
              </p>
            </div>
          </div>
        </div>

        <div id="parambikulam_tiger_reserve" class="place7">
          <div class="image">
            <h1 class="text">Parambikulam Tiger Reserve</h1>
            <img draggable = "false" src="/Places/states_img/kerala/parambikulam/parambikulam_tiger_reserve3.jpg"
              alt="parambikulam_tiger_reserve1" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/parambikulam/parambikulam_tiger_reserve2.JPG"
                alt="parambikulam_tiger_reserve2" />
              <p>
                The sanctuary is located between Longitude:76° 35’- 76° 50’ E, and
                Latitude:10° 20’ – 10° 26’ N. It is 135 kilometres (84 mi) from
                Palakkad town and adjacent to the Annamalai Wildlife Sanctuary to
                the east in Tamil Nadu. It is bordered to the north by Nemmara
                Forest Division, to the south by Vazhachal Forest Division and the
                west by Chalakudy Forest Division.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The sanctuary has three man-made reservoirs; Parambikulam,
                Thunacadavu (Thunakkadavu) and Peruvaripallam, with a combined
                area of 20.66 km2. The Thuvaiar water falls empty into one of the
                reservoirs. There are 7 major valleys and 3 major rivers, the
                Parambikulam, the Sholayar and the Thekkedy.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/parambikulam/parambikulam_tiger_reserve3.jpg"
                alt="parambikulam_tiger_reserve3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/parambikulam/parambikulam_tiger_reserve4.jpg"
                alt="parambikulam_tiger_reserve4" />
              <p>
                Ecotourism activities at the tiger reserve are held at the buffer
                zones of the tiger reserve, avoiding the core areas.Parambikulam
                provides visitors with a number of opportunities for nature
                education. Experienced forest guides accompanies one during
                trekking, for which the visitors can contact the information
                centre.
              </p>
            </div>
          </div>
        </div>

        <div id="poovar_island" class="place8">
          <div class="image8">
            <h1 class="text">Poovar Island</h1>
            <img draggable = "false" src="/Places/states_img/kerala/poovar/poovar_island1.jpg" alt="poovar_island1" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/kerala/poovar/poovar_island2.jpg" alt="poovar_island2" />
              <p>
                A major Greenfield Shipyard is coming up in Poovar. Kerala
                government owns 200 acres of land in this location which reduces
                land acquisition. The depth of the sea is 30-meter depth by
                nature.The Vizhinjam International Seaport is 10 km away from this
                location. All the facts made Poovar an ideal location for the
                project.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Poovar lies very close to Vizhinjam, a natural harbour. The beach
                of Pozhiyoor named Pozhikkara is located near Poovar. The 56 km
                Neyyar River passes through Neyyattinkara Taluk into the Arabian
                Sea near Poovar.Poovar was a trading centre of timber, sandalwood,
                ivory and spices.
              </p>
              <img draggable = "false" src="/Places/states_img/kerala/poovar/poovar_island3.jpg" alt="poovar_island3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/kerala/poovar/poovar_island4.jpg" alt="poovar_island4" />
              <p>
                The village was one of the ancient Muslim settlements along the
                western coast of India. The central mosque in Poovar was built by
                Malik Deenar, an eighth century Muslim preacher. During the reign
                of the Chola dynasty, Poovar was a major port. The explorer
                Megasthenes, Roman writer Pliny the Elder and Venetian traveller
                Marco Polo mention connections with Greece and Rome.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>