<%- include("../partials/head") %>
    <title>Madhya Pradesh</title>
    <link rel="stylesheet" href="/Places/states.css">
</head>

<body>
    <%- include("../partials/header") %>
        <p id="placeNone">
            <%= place %>
        </p>
        <section class="main_body">
            <div id="bandhavgarh_national_park" class="place1">
                <div class="image">
                    <h1 class="text">Bandhavgarh National Park</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bandhavgarh_national_park/bandhavgarh_national_park4.jpg"
                        alt="bandhavgarh_national_park4" class="image1">
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bandhavgarh_national_park/bandhavgarh_national_park3.jpg"
                            alt="bandhavgarh_national_park3" />
                        <p> This park has a large biodiversity. The density of the tiger population at Bandhavgarh (8
                            tigers
                            per km2) is one of the highest known in India. The park has a large breeding population of
                            leopards, and various species of deer. Maharaja Martand Singh of Rewa captured the first
                            white
                            tiger in this region in 1951.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">This white tiger, Mohan, is now stuffed and on display in the palace of the
                            Maharajas of Rewa. Rising mining activities around the park are putting the tigers at risk.
                            The
                            Park derived its name from the most prominent hill of the area which is said to have been
                            given
                            by Lord Rama to his brother Laxman to keep a watch on Lanka. </p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bandhavgarh_national_park/bandhavgarh_national_park2.jpg"
                            alt="bandhavgarh_national_park2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bandhavgarh_national_park/bandhavgarh_national_park1.jpg"
                            alt="bandhavgarh_national_park1" />
                        <p>With the tiger at the apex of the food chain, it contains at least 37 species of mammals.
                            According to forest officials, there are more than 250 species of birds, about 80 species of
                            butterflies, a number of reptiles. But many people have the species' list of about 350 birds
                            along with photographs.</p>
                    </div>
                </div>
            </div>



            <div id="sanchi_stupa" class="place2">
                <div class="image">
                    <h1 class="text">Sanchi Stupa</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/sanchi_stupa/sanchi_stupa1.jpg" alt="sanchi_stupa1"
                        class="image2" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/sanchi_stupa/sanchi_stupa2.jpg"
                            alt="sanchi_stupa2" />
                        <p>The Great Stupa at Sanchi is one of the oldest stone structures in India, and an important
                            monument of Indian Architecture.It was originally commissioned by the emperor Ashoka in the
                            3rd
                            century BCE. Its nucleus was a simple hemispherical brick structure built over the relics of
                            the
                            Buddha.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">It was crowned by the chhatri, a parasol-like structure symbolising high rank,
                            which was intended to honour and shelter the relics. The original construction work of this
                            stupa was overseen by Ashoka, whose wife Devi was the daughter of a merchant of nearby
                            Vidisha.
                        </p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/sanchi_stupa/sanchi_stupa3.jpg"
                            alt="sanchi_stupa3" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/sanchi_stupa/sanchi_stupa4.jpg"
                            alt="sanchi_stupa4" />
                        <p>Sanchi was also her birthplace as well as the venue of her and Ashoka's wedding. In the 1st
                            century BCE, four elaborately carved toranas (ornamental gateways) and a balustrade
                            encircling
                            the entire structure were added. The Sanchi Stupa built during Mauryan period was made of
                            bricks.</p>
                    </div>
                </div>
            </div>

            <div id="gwalior" class="place3">
                <div class="image">
                    <h1 class="text">Gwalior</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/gwalior/gwalior1.jpg" alt="gwalior1" class="image3" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/gwalior/gwalior2.jpg" alt="gwalior2" />
                        <p>Besides being the administrative headquarters of Gwalior district and Gwalior division,
                            Gwalior
                            has many administrative offices of the Chambal division of northern Madhya Pradesh. Several
                            administrative and judicial organisations, commissions and boards have their state and
                            national
                            headquarters situated in the city.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Gwalior was the winter capital of the state of Madhya Bharat which later became
                            a
                            part of the larger state of Madhya Pradesh. Prior to Indian independence on 15 August 1947,
                            Gwalior remained a princely state of the British Raj with the Scindia as the local rulers.
                        </p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/gwalior/gwalior3.jpg" alt="gwalior3" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/gwalior/gwalior4.jpg" alt="gwalior4" />
                        <p>High rocky hills surround the city from all sides, on the north it just forms the border of
                            the
                            Ganga- Yamuna Drainage Basin. The city however is situated in the valley between the hills.
                            Gwalior's metropolitan area includes Gwalior city centre, Morar Cantonment,Lashkar Gwalior
                            (Lashkar Subcity), Maharaj Bada, Phool Bagh, Thatipur.</p>
                    </div>
                </div>
            </div>

            <div id="maheshwar" class="place4">
                <div class="image">
                    <h1 class="text">Maheshwar</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/maheshwar/maheshwar4.jpg" alt="maheshwar4"
                        class="image4" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/maheshwar/maheshwar3.jpg" alt="maheshwar3" />
                        <p>Maheshwar is believed to be built on the site of the ancient city of Somvanshya Shastrarjun
                            Kshatriya, and was the capital of king Kartavirya Arjuna, (Shree Shastrarjun) who is
                            mentioned
                            in the Sanskrit epics Ramayana and Mahabharata. According to a popular legend, one day the
                            King
                            Sahasrarjun and his 500 wives went to the river for a picnic. </p>
                    </div>
                    <div class="content2">
                        <p class="text1">When the wives wanted a vast play area, the King stopped the mighty river
                            Narmada
                            with his 1000 arms. While they were all enjoying themselves, Ravana flew by in his Pushpak
                            Vimana. Downstream, when he saw the dry river bed, he thought it was an ideal place to pray
                            to
                            Lord Shiva.</p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/maheshwar/maheshwar2.png" alt="maheshwar2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/maheshwar/maheshwar1.jpg" alt="maheshwar1" />
                        <p>He made a Shivalinga out of the sand and began to pray. When Sahasrajuna's wives were done
                            playing and they stepped out of the river bed, he let the waters flow. The voluminous river
                            flowed down sweeping Ravana's Shivalinga along, messing up his prayers. </p>
                    </div>
                </div>
            </div>



            <div id="orchha_temple" class="place5">
                <div class="image">
                    <h1 class="text">Orchha Temple</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/orchha_temple/orchha_temple1.jpg" alt="orchha_temple1"
                        class="image5" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/orchha_temple/orchha_temple2.jpg"
                            alt="orchha_temple2" />
                        <p> Orchha was founded in 1531 by the Bundela Rajput chief, Rudra Pratap Singh, who became the
                            first
                            King of Orchha, (r. 1501-1531) and also built the Fort of Orchha. The Chaturbhuj Temple was
                            built during the reign of Mughal emperor Akbar, by the queen of Orchha, Ganesh Kunwar, while
                            Raj
                            Mandir was built by 'Raja Madhukar Shah' during his reign, 1554 to 1591.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">The Ram Raja Temple is built on a square base and has an almost entirely plain
                            exterior, relieved by projecting windows and a line of delicate domes along the summit. The
                            Jahangir Mahal is built on a rectangular base and is relieved by a circular tower at each
                            corner
                            surmounted by a dome, while two lines of graceful balconies supported on brackets mark the
                            central storeys.</p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/orchha_temple/orchha_temple3.jpg"
                            alt="orchha_temple3" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/orchha_temple/orchha_temple4.jpg"
                            alt="orchha_temple4" />
                        <p> The roof is crowned by eight large fluted domes, with smaller domes between them, connected
                            by
                            an ornamental balustrade. The Jahangir Mahal is considered to be a singularly beautiful
                            specimen
                            of Mughal architecture.A point worth mentioning here is that the mother of Jahangir,
                            Mariam-uz-Zamani, was a Rajput princess.</p>
                    </div>
                </div>
            </div>

            <div id="satpura_tiger_reserve" class="place6">
                <div class="image">
                    <h1 class="text">Satpura Tiger Reserve</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/satpura_tiger_reserve/satpura_tiger_reserve4.jpg"
                        alt="satpura_tiger_reserve4" class="image6" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/satpura_tiger_reserve/satpura_tiger_reserve3.jpg"
                            alt="satpura_tiger_reserve3" />
                        <p>The terrain of the national park is extremely rugged and consists of sandstone peaks, narrow
                            gorges, ravines and dense forests. The altitude ranges from 300 to 1,352 metres (984 to
                            4,436
                            ft). It has Dhoopgarh peak as high as 1,350 metres (4,430 ft) and the almost level plains of
                            Churna.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Satpura National Park is rich in biodiversity. The animals here include
                            leopard, sambar, chital, Indian muntjac, nilgai, four-horned antelope, Chinkara, wild boar,
                            bear, black buck, fox, porcupine, flying squirrel, mouse deer, and Indian giant squirrel.
                            There
                            are a variety of birds.</p>
                            <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/satpura_tiger_reserve/satpura_tiger_reserve2.jpg"
                                alt="satpura_tiger_reserve2" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/satpura_tiger_reserve/satpura_tiger_reserve1.jpg"
                            alt="satpura_tiger_reserve1" />
                        <p>Hornbills and peafowl are common birds found here. The flora consists of mainly sal, teak,
                            tendu,
                            Phyllanthus emblica, mahua, bel, bamboo, and grasses and medicinal plants.In previous years,
                            there have been sightings of tigers, dholes, Indian gaur and barasingha, although these are
                            rare.</p>
                    </div>
                </div>
            </div>

            <div id="bhopal" class="place7">
                <div class="image">
                    <h1 class="text">Bhopal</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bhopal/bhopal2.jpg" alt="bhopal2" class="image7" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>
                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bhopal/bhopal1.jpg" alt="bhopal1" />
                        <p>The city attracted international attention in December 1984 after the Bhopal disaster, when a
                            Union Carbide India Limited (UCIL) pesticide manufacturing plant (now owned by Dow Chemical
                            Company) leaked a mixture of deadly gases composed mainly of methyl isocyanate, leading to
                            one
                            of the worst industrial disasters in the world's history.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Bhopal was selected as one of the first twenty Indian cities (the first phase)
                            to
                            be developed as a smart city under PM Narendra Modi's flagship Smart Cities Mission. Bhopal
                            was
                            also rated as the cleanest state capital city in India for three consecutive years, 2017,
                            2018
                            and 2019.</p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bhopal/bhopal3.jpg" alt="bhopal3" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/bhopal/bhopal4.jpg" alt="bhopal4" />
                        <p>n the early 18th century, Bhopal was a small village in the Gond kingdom. The modern Bhopal
                            city
                            was established by Dost Mohammad Khan (1672–1728), a Pashtun soldier in the Mughal
                            army.After
                            the death of the emperor Aurangzeb, Khan started providing mercenary services to local
                            chieftains in the politically unstable Malwa region.</p>
                    </div>
                </div>
            </div>

            <div id="kanha_tiger_reserve" class="place8">
                <div class="image8">
                    <h1 class="text">Kanha Tiger Reserve</h1>
                    <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/kanha_tiger_reserve/kanha_tiger_reserve2.jpg"
                        alt="kanha_tiger_reserve2" class="image8" />
                    <img draggable = "false" src="/Images/Shadow.png"
                                class="shadow" />
                </div>

                <div class="color">
                    <div class="content1">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/kanha_tiger_reserve/kanha_tiger_reserve1.jpg"
                            alt="kanha_tiger_reserve1" />
                        <p>Together with a surrounding buffer zone of 1,067 km2 (412 sq mi) and the neighbouring 110 km2
                            (42
                            sq mi) Phen Sanctuary, it forms the Kanha Tiger Reserve, which is one of the biggest in the
                            country.This makes it the largest national park in central India.</p>
                    </div>
                    <div class="content2">
                        <p class="text1">Kanha Tiger Reserve is home to over 1000 species of flowering plants. The
                            lowland
                            forest is a mixture of sal (Shorea robusta) and other mixed-forest trees, interspersed with
                            meadows. The highland forests are tropical moist, dry deciduous type and of a completely
                            different nature from bamboo (Dendrocalamus strictus) on slopes.</p>
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/kanha_tiger_reserve/kanha_tiger_reserve3.jpg"
                            alt="kanha_tiger_reserve3" />
                    </div>
                    <div class="content3">
                        <img draggable = "false" src="/Places/states_img/Madhya_Pradesh/kanha_tiger_reserve/kanha_tiger_reserve4.jpg"
                            alt="kanha_tiger_reserve4" />
                        <p>Kanha Tiger Reserve hosts populations of tiger, leopard, wild dog, sloth bear, foxes and
                            jackals.
                            Barasingha (Cervus duavcelli branderi) is adapted to hard ground. Gaur (Bos gaurus) inhabits
                            meadows and waterholes in the park.[6] Blackbuck has become very rare.</p>
                    </div>
                </div>
            </div>
        </section>
        <%- include("../partials/footer") %>

            <script src="/Places/states.js"></script>
</body>

</html>