<%- include("../partials/head") %>
  <title>Maharastra</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="mumbai" class="place1">
          <div class="image">
            <h1 class="text">Mumbai</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/mumbai/mumbai4.jpg" alt="mumbai4" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/mumbai/mumbai3.jpg" alt="mumbai3" />
              <p>
                The seven islands that constitute Mumbai were originally home to
                communities of Marathi language speaking Koli people.For
                centuries, the islands were under the control of successive
                indigenous empires before being ceded to the Portuguese Empire and
                subsequently to the East India Company
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Bombay was reshaped by the Hornby Vellard project, which undertook
                reclamation of the area between the seven islands from the
                sea.Along with construction of major roads and railways, the
                reclamation project, completed in 1845, transformed Bombay into a
                major seaport on the Arabian Sea. Bombay in the 19th century was
                characterised by economic and educational development.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/mumbai/mumbai2.jpg" alt="mumbai2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/mumbai/mumbai1.jpg" alt="mumbai1" />
              <p>
                During the early 20th century it became a strong base for the
                Indian independence movement. Upon India's independence in 1947
                the city was incorporated into Bombay State. In 1960, following
                the Samyukta Maharashtra Movement, a new state of Maharashtra was
                created with Bombay as the capital.
              </p>
            </div>
          </div>
        </div>

        <div id="Aurangabad" class="place2">
          <div class="image">
            <h1 class="text">Aurangabad</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/Aurangabad/Aurangabad3.jpg" alt="Aurangabad3" class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/Aurangabad/Aurangabad4.JPG" alt="Aurangabad4" />
              <p>
                Paithan, the imperial capital of the Satavahana dynasty (1st
                century BCE–2nd century CE), as well as Daulatabad or Dēvagirī,
                the capital of the Yadava dynasty (9th century CE–14th century
                CE), are located within the limits of modern Aurangabad. In 1308,
                the region was annexed by the Delhi Sultanate during the rule of
                Sultan Alauddin Khalji.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                In 1327, the capital of the Delhi Sultanate was shifted from Delhi
                to Daulatabad during the rule of Sultan Muhammad bin Tughluq, who
                ordered a mass migration of Delhi's population to Daulatabad.
                However, Muhammad bin Tughluq reversed his decision in 1334 and
                the capital was shifted back to Delhi.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/Aurangabad/Aurangabad2.jpg" alt="Aurangabad2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/Aurangabad/Aurangabad1.jpg" alt="Aurangabad1" />
              <p>
                n 1636, Aurangzeb, who was then the Mughal viceroy of the Deccan
                region, annexed the city into the Mughal Empire. In 1653,
                Aurangzeb renamed the city as "Aurangabad" and made it the capital
                of the Deccan region of the Mughal Empire.
              </p>
            </div>
          </div>
        </div>

        <div id="solapur" class="place3">
          <div class="image">
            <h1 class="text">Solapur</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/solapur/solapur1.jpg" alt="solapur1" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/solapur/solapur2.JPG" alt="solapur2" />
              <p>
                The present city of Solapur was considered to be spread over
                sixteen villages viz. Aadilpur, Ahmedpur, Chapaldev, Fatehpur,
                Jamdarwadi, Kalajapur, Khadarpur, Khandervkiwadi, Muhammadpur,
                Ranapur, Sandalpur, Shaikpur, Solapur, Sonallagi, Sonapur and
                Vaidakwadi and all these villages are now merged with Solapur
                Municipal Corporation.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                One of the inscriptions found in Solapur fort shows that the town
                was called Sonalpur while another inscription on the well in the
                fort shows that it was known as Sandalpur. Subsequently, the
                British rulers pronounced Solapur as Sholapur and hence the name
                of the district.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/solapur/solapur3.JPG" alt="solapur3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/solapur/solapur4.JPG" alt="solapur4" />
              <p>
                The present Solapur district was previously part of Ahmednagar,
                Pune and Satara districts. In 1838 it became the Sub-district of
                Ahmednagar. It included Barshi, Mohol, Madha, Karmala, Indi,
                Hippargi and Muddebihal Sub-divisions.
              </p>
            </div>
          </div>
        </div>

        <div id="matheran" class="place4">
          <div class="image">
            <h1 class="text">Matheran</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/matheran/matheran1.jpg" alt="matheran1" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/matheran/matheran2.jpg" alt="matheran2" />
              <p>
                There are around 38 designated look-out "points" (viewpoints) in
                Matheran, including the Panorama Point that provides a 360-degree
                view of the surrounding area and also the Neral town. Louisa Point
                has views of Prabal Fort.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Geographically the rock types are solely composed of Deccan trap
                with inter trappeans of Cretaceous, Eoceuerage and laterites of
                still younger age. The rock is basalt, which has given rise to
                secondary alteration known as laterite.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/matheran/matheran3.jpg" alt="matheran3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/matheran/matheran4.jpg" alt="matheran4" />
              <p>
                Matheran was identified by Hugh Poyntz Malet, the then district
                collector of Thane district in May 1850. Lord Elphinstone, the
                then Governor of Bombay laid the foundations of the development as
                a future hill station. The British developed Matheran as a resort
                to beat the summer heat in the region.
              </p>
            </div>
          </div>
        </div>

        <div id="kolhapur" class="place5">
          <div class="image">
            <h1 class="text">Kolhapur</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/kolhapur/kolhapur3.jpg" alt="kolhapur3" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/kolhapur/kolhapur4.jpg" alt="kolhapur4" />
              <p>
                The Shilahara family at Kolhapur was the latest of the three and
                was founded about the time of the downfall of the Rashtrakuta
                Empire. They ruled over southern Maharashtra; the modern districts
                of Satara, Kolhapur and Belagav (Karnataka).
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Even though the capital was shifted to Kolhapur, Karhad retained
                its significance during the Shilahara period. This branch rose to
                power the latter part of the Rashtrakuta rule.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/kolhapur/kolhapur2.jpg" alt="kolhapur2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/kolhapur/kolhapur1.jpg" alt="kolhapur1" />
              <p>
                Dhanushkodi Beach is the place which not only attracts people from
                near places but far as well. Owing to the boundless cerulean water
                of the ocean along with the wide stretch of shores, the prodigious
                exquisiteness of this beach is worth a visit. This enticing beach
                in Tamilnadu also gives tourists a chance to encounter the thrill
                of sea surfing. For children, it serves as an ideal place to have
                one of a kind holiday experience in Tamilnadu.
              </p>
            </div>
          </div>
        </div>

        <div id="alibag" class="place6">
          <div class="image">
            <h1 class="text">Alibag</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/alibag/alibag3.jpg" alt="alibag3" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/alibag/alibag4.jpg" alt="alibag4" />
              <p>
                One can reach Alibag via Pen (30 km), which is on the Mumbai (78
                km) – Goa road. From Mumbai, one can reach Alibag by traveling on
                the Mumbai-Goa highway (NH-66) till Wadkhal (or Vadkhal) and
                taking the right fork from Wadkhal to Continue on (NH-166A)– the
                left fork being the road to Goa.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                It is approximately 108 km from Mumbai. Alibag is 50 km away from
                Murud. By boat service from Mumbai one can reach Alibag by 1 and
                half hour's journey. one can reach alibag also with speedboat with
                a journey of 10-15 minutes from Gateway of India to mandva.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/alibag/alibag2.jpg" alt="alibag2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/alibag/alibag1.jpg" alt="alibag1" />
              <p>
                The nearest rail railway station is at Pen. Through Pen, it is
                connected to Panvel and onwards to Mumbai and the Indian Railways
                network. Now pen-panvel trains are also started from 4 November
                2018 now it is easier to reach alibag easily.
              </p>
            </div>
          </div>
        </div>

        <div id="mahabaleshwar" class="place7">
          <div class="image">
            <h1 class="text">Mahabaleshwar</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/mahabaleshwar/mahabaleshwar2.jpg" alt="mahabaleshwar2"
              class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/mahabaleshwar/mahabaleshwar1.jpg" alt="mahabaleshwar1" />
              <p>
                In 1819, after the demise of the Maratha empire, the victorious
                British ceded the hills around Mahabaleshwar to the vassal state
                of Satara. Colonel Lodwick (Later General Sir Lodwick) after
                climbing the mountains near Mahabaleshwar.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                he Raja of Satara was granted other villages in exchange for the
                British getting Mahabaleshwar in 1828.In old records Mahabaleshwar
                was even called as Malcolm Peth after the governor.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/mahabaleshwar/mahabaleshwar3.jpg" alt="mahabaleshwar3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/mahabaleshwar/mahabaleshwar4.jpg" alt="mahabaleshwar4" />
              <p>
                Mahabaleshwar started gaining prominence when British officials of
                Bombay presidency such as in 1828, and later Sir Mountstuart
                Elphinstone, Arthur Malet (for whom the seat at "Point Arthur" is
                named), Carnac, and many others became regular visitors.
              </p>
            </div>
          </div>
        </div>

        <div id="nashik" class="place8">
          <div class="image8">
            <h1 class="text">Nashik</h1>
            <img draggable = "false" src="/Places/states_img/Maharastra/nashik/nashik2.jpg" alt="nashik2" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Maharastra/nashik/nashik1.jpg" alt="nashik1" />
              <p>
                The river Godavari originates from the Brahmagiri Mountain,
                Trimbakeshwar about 24 km (15 mi) from Nashik and flows through
                the old residential settlement. Due to high pollution created by
                factories in proximity of the city the river was dying at an
                alarming rate.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The city's tropical location and high altitude combine to give it
                a relatively mild version of a tropical wet and dry climate.
                Temperatures rise slightly in October, but this is followed by the
                cool season from November to February.
              </p>
              <img draggable = "false" src="/Places/states_img/Maharastra/nashik/nashik3.jpg" alt="nashik3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Maharastra/nashik/nashik4.jpg" alt="nashik4" />
              <p>
                Nashik city is governed by the Nashik Municipal Corporation.[16]
                Nashik is a district headquarters located on the banks of Godavari
                and is 185 km (115 mi) away from Mumbai. The city has developed on
                both the banks of Godavari which divides the city into almost
                equal halves.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>