<%- include("../partials/head") %>
    <title>Manipur</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div class="place1" id="loktak_lake">
        <div class="image">
          <h1 class="text">Loktak Lake</h1>
          <img draggable = "false"
            src="/Places/states_img/Manipur/Loktak/loktak1.jpg"
            class="image1"
            alt="loktak"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Loktak/loktak2.jpg"
              alt="loktak1"
            />
            <p>
              Loktak Lake is the largest freshwater lake in India as well as the
              largest lake in North East India. It is famous for the phumdis
              (heterogeneous mass of vegetation, soil and organic matter at
              various stages of decomposition) floating over it. The lake is
              located at Moirang in Manipur state, India.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              This ancient lake plays an important role in the economy of
              Manipur. It serves as a source of water for hydropower generation,
              irrigation and drinking water supply. The lake is also a source of
              livelihood for the rural fishermen who live in the surrounding
              areas and on phumdis, also known as "phumshongs".
            </p>
            <img draggable = "false"
              src="/Places/states_img/Manipur/Loktak/loktak3.jpg"
              alt="loktak3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Loktak/loktak4.jpg"
              alt="loktak4"
            />
            <p>
              Of the two river systems which drain the Manipur state—the Barak
              River and the Manipur River—the Manipur River flows through the
              Manipur Valley. The river rises in the north at Karong, flows
              south of Imphal and hence is also known as the Imphal River. Along
              its course through the valley downstream of Imphal, the bed slope
              of the river is gentle.
            </p>
          </div>
        </div>
      </div>

      <div class="place2" id="chandel">
        <div class="image">
          <h1 class="text">Chandel</h1>
          <img draggable = "false"
            src="/Places/states_img/Manipur/Chandel/chandel1.jpg"
            alt="chandel1"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Chandel/chandel2.jpg"
              alt="chandel2"
            />
            <p>
              During 10th to 13th century CE, the Chandelas of Jejakabhukti
              ruled the Bundelkhand region in present-day Madhya Pradesh and
              Uttar Pradesh. The British indologist V. A. Smith theorised that
              the Chandelas were of either Bhar or Gond origin, a theory also
              supported by other some scholars including R. C. Majumdar.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The zamindari estate of Gidhaur in Munger district, present-day
              Bihar was controlled by a branch of the Chandel Rajputs.[4] They
              are considered to be one of the oldest ruling families in Bihar.
              It was established by Bir Bikram Shah whose ancestors came from
              Mahoba in Bundelkhand but were driven into Bihar during the 12th
              century following various Muslim incursions.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Manipur/Chandel/chandel3.jpg"
              alt="chandel3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Chandel/chandel4.jpg"
              alt="chandel4"
            />
            <p>
              A group of Chandel families claiming a common origin once held the
              zaildaris of Ghund, Madhan, and Theog in present-day Himachal
              Pradesh. According to their tradition, their ancestor migrated
              from Jaipur to Bilaspur. After three generations, his descendants
              moved to Ram Sarai in the Garhwal region.
            </p>
          </div>
        </div>
      </div>

      <div class="place3" id="imphal">
        <div class="image">
          <h1 class="text">Imphal</h1>
          <img draggable = "false"
            src="/Places/states_img/Manipur/Imphal/imphal2.jpg"
            alt="imphal2"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Imphal/imphal1.jpg"
              alt="imphal1"
            />
            <p>
              Initially ruled by Kin Khaba, Imphal was later ruled by the
              Pakhangba leaders. The clan of the Ningthouja tribe originated
              then. The Ningthouja tribe quickly expanded and dominated the
              region in politics and war. Kangla Palace was built by King
              Khagemba and his son Khunjaoba. The palace was later destroyed by
              the British during the Anglo-Manipur War.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Imphal remained peaceful until 1891 when the British arrived to
              intervene in internal differences between the royal family. The
              British sent J.W. Quinton to help but the situation only grew
              worse and Senapati Tikendrajit was hanged. The autocratic British
              behavior made people angry. This resulted in the 1891
              Anglo-Manipur War, which the British won.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Manipur/Imphal/imphal4.jpg"
              alt="imphal4"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Imphal/imphal4.jpg"
              alt="imphal4"
            />
            <p>
              Imphal is located at 24.8074°N 93.9384°E in extreme eastern
              India,[8] with an average elevation of 786 metres (2,579 ft). It
              has a humid subtropical climate (Köppen Cwa)[9] with mild, dry
              winters and a hot monsoon season. Temperatures in July average
              about 29 °C (84 °F); January is the coldest month, with average
              lows near 4 °C (39 °F).
            </p>
          </div>
        </div>
      </div>

      <div class="place4" id="thoubal">
        <div class="image">
          <img draggable = "false"
            src="/Places/states_img/Manipur/Khongjom/khongjom2.jpg"
            alt="khongjom2"
            class="image4"
          />
          <h1 class="text">Khongjom</h1>

          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/churachandpur.jpg"
              alt=""
            />
            <p>
              Thoubal is a town, a municipal council with 18 municipal wards and
              district Headquarters in Thoubal district in the Indian state of
              Manipur. The name 'Thoubal' comes from 'Athouba' meaning brave
              people symbolising the courageous people of the district. It is
              one of the larger towns of Manipur. It is idyllic and has many
              lakes and rivers, paddy fields, and gardens.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The main attractions include Chinga Lairembi temple, Tomjing
              ching, Panthoibee temple, Thoubal bazar, Tangjeng ching(from where
              one can have a bird's eye view of waithou lake) and Khangabok
              Menjor garden. Main shopping centres are Thoubal Keithel,
              Ningombam Luxmi Bazar(popular for tharoi kanghou), Athokpam Bazar,
              and Babu Bazar.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Manipur/Imphal/imphal4.jpg"
              alt="imphal4"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Imphal/imphal4.jpg"
              alt="imphal4"
            />
            <p>
              A new district hospital has come up and is providing health care
              services to the general population. Healthcare services are also
              being provided by Kshetri Sanglen, Rapha Hospital, etc. Thoubal
              also has the distinction of having the first and only subway in
              the whole of Manipur. Just beside the subway, one will find
              'Bokajan' where you can get any brand of spirits.
            </p>
          </div>
        </div>
      </div>

      <div class="place5" id="khongjom">
        <div class="image">
          <h1 class="text">Khongjom</h1>
          <img draggable = "false"
            src="/Places/states_img/Manipur/Khongjom/khongjom1.jpg"
            alt="khanjom1"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Khongjom/khongjom2.jpg"
              alt="big-temple"
            />
            <p>
              The first bullet of the war was fired by the British on the 24th
              March, 1891, without any provocation from the Manipuris. In the
              days fighting at the capital of Manipur, about 50 Manipuris
              including Pukhramba Tanka, Khumbong Subedar, Leisang Jamadar and
              Athokpa Dewan sacrificed their lives.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Two Tangkhuls were also among those killed in hand to hand fight.
              Lt. Brackenbary and some sepoys of the British Army lost their
              lives on the side of the British. In the aftermath of the palace
              attack, owing to the demand of the Manipuri masses, seven
              unguarded British Officers were killed.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/Bigtemple.jpg"
              alt="Bigtemple"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/bigtemple3.jpg"
              alt="bigtemple3"
            />
            <p>
              But surprisingly, on the 4th April, 1891, the Manipuris released
              51 arrested Hindustani sepoys (Indian sepoys in the British Army)
              giving them Rs. 5 each for their journey to respective places.
              Therefore, the disposition of the Manipuri masses towards the
              Hindustani sepoys of the British Army was different.
            </p>
          </div>
        </div>
      </div>

      <div class="place6" id="tamenglong">
        <div class="image">
          <h1 class="text">Tamenglong</h1>
          <img draggable = "false"
            src="/Places/states_img/Manipur/Tamenglong/tamenglong2.jpg"
            alt="tamenglong2"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Tamenglong/tamenglong3.jpg"
              alt="tamenglong3"
            />
            <p>
              Tamenglong is an Indian town and the district headquarters of the
              Tamenglong district. It is located in the state of Manipur. The
              town is inhabited by the people of the Zeliangrong (Zeme, Liangmai
              and Rongmei). Rongmei community is the majority amongst the three
              communities.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Tamenglong is located in western Manipur lying on the hilltop from
              which descends the Barak River. It is 160 km west of Imphal,
              Manipur's capital city. The town is surrounded by the following
              districts: Senapati District to the East, North Cashar Hills
              District of Assam to the West, Peren District Of Nagaland to the
              North and Churachanpur of Manipur to the South.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Manipur/Tamenglong/tamenglong1.jpg"
              alt="tamenglong1"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Tamenglong/tamenglong4.jpg"
              alt="tamenglong4"
            />
            <p>
              Tamenglong District contains virgin forests, exotic orchids, rare
              and endangered plants, and wildlife. The forests contain tropical
              evergreen forests, subtropical forests and bamboo brakes. The
              dense tropical evergreen forests are located along the riversides
              across the district.
            </p>
          </div>
        </div>
      </div>

      <div class="place7" id="ukhrul">
        <div class="image">
          <h1 class="text">Ukhrul</h1>
          <img draggable = "false"
            src="/Places/states_img/Manipur/Urkul/ukhrul1.jpg"
            alt="ukhrul1"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Urkul/ukhrul2.jpg"
              alt="ukhrul2"
            />
            <p>
              Ukhrul District (Pron:/ˈuːkˌɹəl or ˈuːkˌɹʊl/) is an administrative
              district of the state of Manipur in India with its headquarters at
              Ukhrul, that is Hunphun.The district occupies the north-eastern
              corner of the state and it extends between latitudes of 24° 29′
              and 25° 42′ N and longitudes 94° 30′ and 94° 45′ E approximately
              (including Kamjong district).
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              It shares an international boundary with Myanmar (Burma) on its
              eastern side and is bounded by Nagaland state in the north,
              Senapati district and Kangpokpi district in the west and Kamjong
              district in the south. It has the distinction of being the highest
              hill station of Manipur. The terrain of the district is hilly with
              a varying heights of 913 m to 3114 m (MSL).
            </p>
            <img draggable = "false"
              src="/Places/states_img/Manipur/Urkul/ukhrul3.jpg"
              alt="ukhrul3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Manipur/Urkul/ukhrul3.jpg"
              alt="ukhrul3"
            />
            <p>
              Administratively, the district which comprises around 200 villages
              was divided into five sub-divisions, where their boundaries were
              coterminous with that of the Tribal Development Blocks. There was
              no statutory town in the district except one census town which was
              formed in 2011 Census.
            </p>
          </div>
        </div>
      </div>

      <div class="place8" id="churachanpur">
        <div class="image">
          <h1 class="text">Churachanpur</h1>
          <img draggable = "false"
            src="https://i.ytimg.com/vi/Du0f22AIOH0/maxresdefault.jpg"
            alt=""
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/big-temple.jpg"
              alt="big-temple"
            />
            <p>
              Surrounded by small hills and narrow valleys, Churachandpur which
              is locally called Lamka, has a deep historical significance.
              Located at a distance of approx 63 km from the capital of the
              state, Imphal, Churachandpur is believed to have witnessed a lot
              of bombarding when the Japanese entered India.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The town was then left devastated which today is visited by
              tourists coming from different parts of the world and considered
              to be the peaceful town of Manipur. To know more about
              Churachandpur, browse through this travel guide and learn about
              what Churachandpur has to offer.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/Bigtemple.jpg"
              alt="Bigtemple"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/bigtemple3.jpg"
              alt="bigtemple3"
            />
            <p>
              The distinctive folk dances and music, intricate arts and crafts,
              gracious people and nature along with the affluent handicraft
              culture of the district like folk textiles, exquisite embroidery,
              Bandhani sarees, traditional ornaments and mirror work are some of
              the specialties of Kutch, Gujarat, India.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
