<%- include("../partials/head") %>
  <title>Meghalaya</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="cherrapunji" class="place1">
          <div class="image">
            <h1 class="text">Cherrapunji</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/cherrapunji.jpg" alt="cherrapunji" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya10.jpg" alt="meghalaya10" />
              <p>
                Sohra has often been credited as being the wettest place on Earth,
                but for now nearby Mawsynram currently holds that distinction. It
                still holds the all-time record for the most rainfall in a
                calendar month and in a year.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The original name for this town was Sohra (soh-ra), which was
                pronounced "Cherra" by the British. This name eventually evolved
                into a temporary name, Cherrapunji, meaning 'land of oranges'.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya11.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya12.jpg" alt="" />
              <p>
                It has an average elevation of 1,430 metres (4,690 ft) and sits on
                a plateau in the southern part of the Khasi Hills, facing the
                plains of Bangladesh. The plateau rises 660 meters above the
                surrounding valleys.
              </p>
            </div>
          </div>
        </div>

        <div id="living_root_bridge" class="place2">
          <div class="image">
            <h1 class="text">Living root bridge</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya4.jpg" alt="" class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya5.jpg" alt="" />
              <p>
                As long as the tree from which it is formed remains healthy, the
                roots in the bridge can naturally grow thick and strengthen. New
                roots can grow throughout the tree's life and must be pruned or
                manipulated to strengthen the bridge.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                A living root bridge is formed by guiding the pliable roots of the
                Ficus elastica tree across a stream or river, and then allowing
                the roots to grow and strengthen over time until they can hold the
                weight of a human being.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya6.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya7.jpg" alt="" />
              <p>
                The young roots are sometimes tied or twisted together, and are
                often encouraged to combine with one another via the process of
                inosculation. As the Ficus elastica tree is well suited to
                anchoring itself to steep slopes and rocky surfaces.
              </p>
            </div>
          </div>
        </div>

        <div id="balpakram_national_park" class="place3">
          <div class="image">
            <h1 class="text">Balpakram National Park</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya8.jpg" alt="" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya9.jpg" alt="" />
              <p>
                The best time to come to Balpakram National Park is from November
                to May when the weather is pleasant without rainfall. The park can
                be reached from Shillong by road from Guwahati airport to Tura and
                Baghmara. Entry fees will have to be paid at the park's gate.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Balpakram has many mysterious and unnatural phenomena that cannot
                be satisfactorily explained by modern science and logic. A Schima
                wallichii tree has a depression on its trunk.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/Nohkalikai-Falls.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/Shillong.jpg" alt="" />
              <p>
                Species recorded include Indian elephant, chital deer, wild water
                buffalo, red panda, Bengal tiger, and marbled cat. The rivers and
                lakes in the wildlife reserve are home to various species of
                birds.
              </p>
            </div>
          </div>
        </div>

        <div id="mawlynnong" class="place4">
          <div class="image">
            <h1 class="text">Mawlynnong</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/Tura.jpg" alt="" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/280px-Noakalikai_falls_1480244029215.jpg" alt="" />
              <p>
                As of 2014, there are about 95 households in Mawlynnong.[6] The
                literacy rate is 90%.Agriculture is the chief occupation of the
                local population, with betel nut being the main crop.During
                summers, one can find pineapples and lychees which are then
                exported to the nearby regions as well.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Mawlynnong is known for its cleanliness.The waste is collected in
                the dustbins made of bamboo, directed to a pit and then used as
                manure. A community initiative mandates that all residents should
                participate in cleaning up the village.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/balpakram.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/cherrapunji.jpg" alt="" />
              <p>
                The travel magazine Discover India declared the village as the
                cleanest in Asia in 2003, and the cleanest in India in 2005.This
                reputation has boosted local tourism; in 2017 NPR reported that,
                according to the village headsman, incomes had increased by 60
                percent due to increased tourism.
              </p>
            </div>
          </div>
        </div>

        <div id="shillong" class="place5">
          <div class="image">
            <h1 class="text">Shillong</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/Elephant_Falls.jpg" alt="" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/download.jpg" alt="" />
              <p>
                Shillong has steadily grown in size since it was made the civil
                station of the Khasi and Jaintia Hills in 1864 by the British. In
                1874, on the formation of Assam as the Chief Commissioner's
                Province, it was chosen as the headquarters of the new
                administration.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Shillong was capital for composite Assam during the British regime
                and later till a separate State of Meghalaya was formed. David
                Scott, the British civil servant of the East India Company, was
                the Agent of the Governor-General North East Frontier.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/download3.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/Elephant_Falls.jpg" alt="" />
              <p>
                A serious uprising by the Khasis against foreign occupation of
                their land followed. It began early in 1829 and Continued till
                January 1833. Eventually, the Khasi confederate chiefs were no
                match against the military might of the British.
              </p>
            </div>
          </div>
        </div>

        <div id="nohkalikai_falls" class="place6">
          <div class="image">
            <h1 class="text">Nohkalikai Falls</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/livin_root_bridge.jpg" alt="" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/Mawlynong-Village.jpg" alt="" />
              <p>
                According to legends, in a village called Rangjyrteh, upstream
                from Nohkalikai Falls, a woman named Likai resided but had to
                remarry after her husband's death. Ka Likai (Ka is the prefix
                given for the female gender in Khasi) was left with her infant
                daughter with no means of income.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                In order to sustain herself and feed her child she had to become a
                porter herself. Her work her to leave her daughter unattended for
                long intervals and when she would be at home she would spend most
                of her time taking care of her infant.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya10.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya11.jpg" alt="" />
              <p>
                However, being a mother to an infant, her daughter needed her
                constant attention so could not give to her second husband the
                love he thought he deserved. A fit of jealousy grew in her husband
                which manifested to hatred towards Likai's daughter.
              </p>
            </div>
          </div>
        </div>

        <div id="elephant_falls" class="place7">
          <div class="image">
            <h1 class="text">Elephant Falls</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya12.jpg" alt="" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya4.jpg" alt="" />
              <p>
                The original Khasi name for the falls is Ka Kshaid Lai Pateng
                Khohsiew, which translates to "the three - step waterfall".[3]
                This name is still used locally. However the modern name is
                explained by a signboard near the waterfall.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The first fall of Elephant Falls is an example of a
                horsetail-punchbowl waterfall. The first fall is very broad and is
                hidden among the trees. The second fall however, is quite
                domesticated and in the winters (and drier months) looks
                inconsequential.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya5.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya6.jpg" alt="" />
              <p>
                From the gate, there is a steep, slippery flight of stairs to
                navigate each level of the fall with the first and second level
                facilitated with benches to rest and relax.Elephant Falls is
                situated at the outskirts of the main city of Shillong in the East
                Khasi Hills District, Upper Shillong.
              </p>
            </div>
          </div>
        </div>

        <div id="tura" class="place8">
          <div class="image8">
            <h1 class="text">Tura</h1>
            <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya7.jpg" alt="" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya8.jpg" alt="" />
              <p>
                The capital city of Shillong is 323 kilometres away and can be
                accessed via buses or the shuttle helicopter service. The border
                of Bangladesh Dalu, is situated at a proximity of 50 km.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                There are many water falls and lot of streams in Tura. Some of the
                water falls are Rongbangdare, Pelgadare, Gandrak Falls etc. Some
                of the streams are Rangolwari, Nokmawari, Ganol, and Dachima.
              </p>
              <img draggable = "false" src="/Places/states_img/meghalaya/meghalaya9.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/meghalaya/Nohkalikai-Falls.jpg" alt="" />
              <p>
                Apart from the Garos, Tura also hosts a variety of other tribes
                like Hajongs, Koches, Rabhas, Bodos and other indigenous Assamese
                communities who are Hindu by religion. There are also a
                considerable number of immigrant Bengali, Bihari and Nepali
                speaking community etc as well.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>