<%- include("../partials/head") %>
  <title>Mizoram</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="reiek" class="place1">
          <div class="image">
            <h1 class="text">Reiek</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/reiek/reiek3.jpg" alt="reiek3" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/reiek/reiek4.jpg" alt="reiek4" />
              <p>
                Reiek has a typical Mizo village consisting of the distinctive
                traditional huts of the different Mizo sub-tribes, Mizo
                chieftain’s house, a bachelor’s dormitory and that of a widow has
                been created and maintained by Tourism Department of Mizoram.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The forests in Reiek hills are home to a fascinating variety of
                hill birds, including the rare Peregrine falcon which one might
                see perched on a lofty ledge or swooping on cliff swallows. Right
                on top of the peak is a big boulder jutting out over a high
                precipice.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/reiek/reiek2.jpg" alt="reiek2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/reiek/reiek1.jpg" alt="reiek1" />
              <p>
                Anthurium Festival is a festival promoting Anthurium grown in
                Mizoram and the rich Mizo customs and traditions at Reiek Tlang to
                tourists.[4] The Anthurium Festival is organized every year by the
                Tourism Department and the Horticulture Department with financial
                support of the central government.
              </p>
            </div>
          </div>
        </div>

        <div id="phulpui_graves" class="place2">
          <div class="image">
            <h1 class="text">Phulpui Graves</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/phulpui_graves/phulpui_graves3.jpg" alt="phulpui_graves3"
              class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/phulpui_graves/phulpui_graves4.jpg" alt="phulpui_graves4" />
              <p>
                The Phulpui Grave site is located in the village of Phulpui in the
                state of Mizoram. The site has two graves, Zawlpala and Talvungi.
                As per the legend Zawlpala, Chief of Phulpui village, married the
                legendary beauty, Talvungi of Thenzawl.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Talvungi was subsequently married to the chief of Rothai, Punthia.
                But, Talvungi could not forget Zawlpala, her previous husband.
                After many years when Zawlpala died, grief stricken Talvungi came
                to Phulpui.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/phulpui_graves/phulpui_graves2.jpg" alt="phulpui_graves2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/phulpui_graves/phulpui_graves1.jpg" alt="phulpui_graves1" />
              <p>
                The nearest airport is Aizawl. Aizawl is connected to Kolkata and
                Imphal by air. Indian Airlines connects Aizawl to rest of India
                via Guwahati, Imphal, Kolkata. Phulpui is about 159 km from Aizawl
                and can be reached by road from Aizawl.
              </p>
            </div>
          </div>
        </div>

        <div id="solomons_temple" class="place3">
          <div class="image">
            <h1 class="text">Solomon's Temple</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/solomon_temple/solomons_temple2.jpg" alt="solomons_temple2"
              class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/solomon_temple/solomon's_temple1.jpg" alt="solomon's_temple1" />
              <p>
                The Temple area accommodates 2,000 people within the main hall and
                ten thousand people within its courtyard. It is a square site 180
                ft. on each side. The interior of the Temple building is also
                square, 120 ft on each side.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                On each of the pillar, a picture of the Cross of Jesus Christ and
                the emblem of the Holy Church is embedded. Atop of the porch, an
                idol of two Angels blowing trumpets, facing the top of the pillar.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/solomon_temple/solomons_temple3.jpg" alt="solomons_temple3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/solomon_temple/solomons_temple4.jpg" alt="solomons_temple4" />
              <p>
                Within its compound, the temple complex has natural park covered
                by various forest trees to shade and fruits for bird and squirrel
                of different kinds meant for their sanctuary. There will be
                standard restaurant on a hill for visitors.
              </p>
            </div>
          </div>
        </div>

        <div id="tam_dil_lake" class="place4">
          <div class="image">
            <h1 class="text">Tam Dil Lake</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/tam_dil_lake/tam_dil_lake1.jpg" alt="tam_dil_lake1" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/tam_dil_lake/tam_dil_lake2.jpg" alt="tam_dil_lake2" />
              <p>
                The origin and etymology of Ṭam Dil are shrouded in myth. Folklore
                has it that a married couple had a jhum plot in this small valley
                surrounded by small steep hills. The man unfortunately died
                leaving the wife to care for the crops alone.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                In the middle of the field was a robust mustard plant,
                conspicuously bigger than any other plants. One night the widow
                has a visitation by her husband, who informed her to take special
                care of the giant mustard plant as it was a harbinger of immense
                blessing.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/tam_dil_lake/tam_dil_lake3.jpg" alt="tam_dil_lake3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/tam_dil_lake/tam_dil_lake4.jpg" alt="tam_dil_lake4" />
              <p>
                On the wake, she did as told, and the plant thrived very well. As
                time went, the widow remarried but the new husband objected to any
                thing reminiscence of the deceased husband, and so he plucked the
                plant up by the roots and discarded it.
              </p>
            </div>
          </div>
        </div>

        <div id="durtlang_hills" class="place5">
          <div class="image">
            <h1 class="text">Durtlang Hills</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/durtlang_hills/durtlang_hills3.jpg" alt="durtlang_hills3"
              class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/durtlang_hills/durtlang_hills4.jpg" alt="durtlang_hills4" />
              <p>
                The Durtlang hills are located to the north of Aizawl and the way
                to the hill top is extremely fascinating as it offers great
                scenery along a steep slope. There are private cars and buses
                available to take passengers up to the hills from Aizawl.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The view from the top of the Durtlang hills is absolutely
                breathtaking as it gives an overall view of the dramatic
                countryside complemented with a pleasant weather. The view is
                never the same at any instant and keeps changing throughout the
                day.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/durtlang_hills/durtlang_hills2.jpg" alt="durtlang_hills2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/durtlang_hills/durtlang_hills1.jpg" alt="durtlang_hills1" />
              <p>
                The cool waterfalls cascading down the slopes and fluffy clouds
                towering the hills are a delight for visitors. It is a perfect
                picnic spot with the panoramic view. There are trails for trekking
                and hiking purposes which provide the ultimate adrenaline rush
                with its dangerous routes.
              </p>
            </div>
          </div>
        </div>

        <div id="vantawng_falls" class="place6">
          <div class="image">
            <h1 class="text">Vantawng Falls</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/vantawng_falls/vantawng_falls1.jpg" alt="vantawng_falls1"
              class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/vantawng_falls/vantawng_falls2.jpg" alt="vantawng_falls2" />
              <p>
                Vantawng Khawhthla or Vantawng Falls is the highest and most
                spectacular of all the waterfalls and cascades in the fast flowing
                rivers of Mizoram. It is located in Vanva river near Thenzawl and
                is named after Vantawnga, who was said to be an excellent swimmer.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                So good a swimmer was Vantawnga that he could hover in the
                cascading water like a fish, but unfortunately, during one of such
                performances, a drifting log fell from above and killed him.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/vantawng_falls/vantawng_falls3.jpg" alt="vantawng_falls3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/vantawng_falls/vantawng_falls4.jpg" alt="vantawng_falls4" />
              <p>
                The height of the fall is recorded as 750ft. Though it is
                difficult to get close to it because of the sheer forested
                hillsides surrounding it, a comfortable viewing tower has been
                constructed.
              </p>
            </div>
          </div>
        </div>

        <div id="mizoram_state_museum" class="place7">
          <div class="image">
            <h1 class="text">Mizoram State Museum</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/mizoram_state_museum/mizoram_state_museum3.jpg"
              alt="mizoram_state_museum3" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/mizoram_state_museum/mizoram_state_museum4.jpg"
                alt="mizoram_state_museum4" />
              <p>
                The Mizoram State Museum is in Aizawl, Mizoram, India. It is an
                ethnographic museum with multipurpose collections on display.
                There are five galleries: Textile Gallery, Ethnology, History,
                Anthropology, Natural History, and an Archaeology Terrace.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The museum was established in April 1977[1] by the Tribal Research
                Institute under Education Department. From 1989, it came under Art
                and Culture department. The museum was earlier housed in a rented
                building but on 14 July 1990 it was moved to a new building.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/mizoram_state_museum/mizoram_state_museum2.jpg"
                alt="mizoram_state_museum2" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/mizoram_state_museum/mizoram_state_museum1.jpg"
                alt="mizoram_state_museum1" />
              <p>
                The museum galleries have undergone a lot of renovation under the
                care of Indian Museum, Kolkata. Financial assistance was also
                received from Victoria Memorial, Kolkata.The collection occupies
                four floors.
              </p>
            </div>
          </div>
        </div>

        <div id="khawnglung_wildllife_sanctuary" class="place8">
          <div class="image8">
            <h1 class="text">Khawnglung Wildllife Sanctuary</h1>
            <img draggable = "false" src="/Places/states_img/mizoram/khawnglung_wildllife_sanctuary/khawnglung_wildllife_sanctuary1.jpg"
              alt="khawnglung_wildllife_sanctuary1" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/mizoram/khawnglung_wildllife_sanctuary/khawnglung_wildllife_sanctuary2.jpg"
                alt="khawnglung_wildllife_sanctuary2" />
              <p>
                Khawnglung is a mountain situated near Pangzawl in Aizawl –
                Lunglei road about 160 km from Aizawl. A village of the same name
                used to be located on the ridge and was the scene of one of the
                bloodiest massacre during the days of internecine feuds.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Chalkunga later rescued her in a daring lone foray, only to lose
                her on the way home in the flooding Tiau river which swept her
                away from his grasp while they were attempting to cross it.
              </p>
              <img draggable = "false" src="/Places/states_img/mizoram/khawnglung_wildllife_sanctuary/khawnglung_wildllife_sanctuary3.jpg"
                alt="khawnglung_wildllife_sanctuary3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/mizoram/khawnglung_wildllife_sanctuary/khawnglung_wildllife_sanctuary4.jpg"
                alt="khawnglung_wildllife_sanctuary4" />
              <p>
                With sheer cliffs on all sides the mountain has always been a
                natural shelter for man and animal for ages. Declared a wildlife
                sanctuary in 2000, Khawnglung covers an area of 35 sq.km and is
                rich in flora and fauna, particularly primates and birds.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>