<%- include("../partials/head") %>
  <title>Nagaland</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="triple_falls" class="place1">
          <div class="image">
            <h1 class="text">Triple Falls</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church2.jpg" alt="" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church1.jpg" alt="" />
              <p>
                Triple Falls in DuPont State Recreational Forest offers a unique
                opportunity to stand in the middle of a waterfall! A level rock
                surface allows room to safely enjoy the views and cascading water.
                To see this 120-ft. tall waterfall, hike one-mile round-trip from
                the Hooker Falls.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Stop at the visitor center at the High Falls parking area for maps
                and info on more waterfalls to see during your visit. It's part of
                our favorite 3-mile DuPont hike to three waterfalls. See our
                DuPont Forest Guide to plan a visit.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church3.jpg" alt="Bigtemple" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church2.jpg" alt="" />
              <p>
                After enjoying the view of all three cascades from the main trail,
                take the staircase down to the flat rock plateau between the
                falls. But no swimming or wading is allowed due to currents. And
                climbing rock faces is prohibited since it's very dangerous.
              </p>
            </div>
          </div>
        </div>

        <div id="khonoma" class="place2">
          <div class="image">
            <h1 class="text">khonoma</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/Khonoma/Khonoma1.jpg" alt="Khonoma1" class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/Khonoma/Khonoma2.jpg" alt="Khonoma2" />
              <p>
                The terrain of the village is hilly, ranging from gentle slopes to
                steep and rugged hillsides. The hills are covered with lush
                forestland, rich in various species of flora and fauna. The state
                bird, Blyth's tragopan, a pheasant now nationally endangered, is
                found here.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Khonoma is a medium size village located in Sechü-Zubza
                sub-division of Kohima district, Nagaland with total 424 families
                residing. The Khonoma village has population of 1943 of which 919
                are males while 1024 are females as per Population Census 2011.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/Khonoma/Khonoma3.jpg" alt="Khonoma3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/Khonoma/Khonoma4.jpg" alt="Khonoma4" />
              <p>
                Khonoma village has higher literacy rate compared to Nagaland. In
                2011, literacy rate of Khonoma village was 83.41 % compared to
                79.55 % of Nagaland. In Khonoma Male literacy stands at 93.72 %
                while female literacy rate was 74.19 %.
              </p>
            </div>
          </div>
        </div>

        <div id="catholic_church" class="place3">
          <div class="image">
            <h1 class="text">Catholic Church</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church2.jpg" alt="catholic_church2"
              class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church1.jpg" alt="catholic_church1" />
              <p>
                The Cathedral of Kohima (Mary Help of Christians Church) is the
                church of the bishop of the diocese of Kohima, and hence, the main
                church of this diocese of Nagaland, India.The cathedral was
                conceptualised by the first bishop of Kohima, Abraham
                Alangimattathil.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The church is noted for its architecture which incorporates many
                elements of traditional Naga houses, including its facade which
                resembles that of a Naga house. The architecture of the cathedral
                blends into the hill on which it is situated.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church3.jpg" alt="catholic_church3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/catholic_church/catholic_church2.jpg" alt="catholic_church2" />
              <p>
                The construction commenced in 1986 and the church was consecrated
                in January 1991. The three-crore expense for constructing the
                cathedral was mostly funded by Japanese people who wished to
                construct a monument to the Japanese soldiers.
              </p>
            </div>
          </div>
        </div>

        <div id="kohima_museum" class="place4">
          <div class="image">
            <h1 class="text">Kohima Museum</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/kohima_museum/kohima_museum2.jpg" alt="kohima_museum2"
              class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/kohima_museum/kohima_museum1.jpg" alt="kohima_museum1" />
              <p>
                The Kohima Museum takes visitors closer to the lives of the
                tribals living in Nagaland. Built with an aim to introduce
                tourists to the rich culture and tradition of the 16 tribal groups
                of Nagaland, the Kohima Museum takes visitors on an enriching
                tribal experience.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The museum is located in Upper Bayavu Hills and displays
                gateposts, endemic regional animals and birds, statues, jewellery
                items and pillars. What makes the museum worth a visit is the fact
                that its exhibits beautifully depict the everyday life of the Naga
                people.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/kohima_museum/kohima_museum3.jpg" alt="kohima_museum3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/kohima_museum/kohima_museum1.jpg" alt="kohima_museum1" />
              <p>
                The museum also houses life-size models that depict the costumes,
                weapons and jewellery worn by the people of Nagaland. If you are
                travelling with your kids, make sure to visit the museum as it
                will enhance their knowledge about the rich diversity of India.
              </p>
            </div>
          </div>
        </div>

        <div id="doyang_river" class="place5">
          <div class="image">
            <h1 class="text">Doyang River</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/doyang.jpg" alt="dhanushkodi3" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/1.jpg" alt="dhanushkodi1" />
              <p>
                Doyang River is one of the largest rivers of Nagaland. This long
                river is also called as Dzu or Dzulu by locals in Wokha District.
                The main tributaries of this river are Tsui, Tullo and Tishi.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The Doyang River initiates from the north and goes on in an
                eastward direction to meet the Saju River, an eastward parallel
                tributary. Doyang River then enters Zunheboto district in a
                north-western direction and proceeds to form a prominent boundary
                line
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/2.jpg" alt="dhanushkodi4" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/3.jpg" alt="dhanushkodi2" />
              <p>
                On the western side of Litami, the river takes a westward turn to
                finally enter the Wokha District. Numerous small hill streams from
                other districts merge into the river of Doyang. This river is
                important to the entire state of Nagaland.
              </p>
            </div>
          </div>
        </div>

        <div id="japfu_peak" class="place6">
          <div class="image">
            <h1 class="text">Japfu Peak</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/japfu_peak/japfu_peak1.jpg" alt="japfu_peak1" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/japfu_peak/japfu_peak2.jpg" alt="japfu_peak2" />
              <p>
                One of the most difficult treks in Nagaland is the climb to the
                Japfu Peak, about 15 km from Kohima. Standing at an altitude of
                3,048 m, the peak is Nagaland's second-highest and draws trekkers
                and adventure lovers for its scenic beauty and thrilling trails.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                To reach the peak, tourists first need to reach the quaint village
                of Kigwema and start the hike from a point near the Japfu
                Christian College. The trail is a demanding one and requires you
                to walk through dense shrubs.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/japfu_peak/japfu_Peak3.jpg" alt="japfu_Peak3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/japfu_peak/japfu_peak4.jpg" alt="japfu_peak4" />
              <p>
                It takes around 5 hours to reach the peak and around 4 hours to
                get back to Kigwema. The Japfu peak is also famous for being home
                to the tallest rhododendron tree in the world.Standing 109 ft
                high, approximately as tall as a 9-storey building,
              </p>
            </div>
          </div>
        </div>

        <div id="ungma" class="place7">
          <div class="image">
            <h1 class="text">Ungma</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/ungma.jpg" alt="poompuhar1" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/1.jpg" alt="poompuhar2" />
              <p>
                The village is divided into two parts, Yimpang (North) and Yimlang
                (South). In the heart of the village, i.e., between Yimpang and
                Yimlang, the Baptist Church stands, reflecting the dominance of
                Baptist faith in the everyday life of the village.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                In recent years,It is a part of the continuous settlements from
                Amenyong and Khensa in the Northwest and DEF colony in the
                Northeast through Mokokchung and Ungma up to Alichen in the south.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/2.jpg" alt="poompuhar3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/3.jpg" alt="poompuhar4" />
              <p>
                With a population of 7,189 people (2001 census), Ungma is the
                third largest Ao village as also the third largest village in
                Mokokchung district. Prior to this, Ungma enjoyed the privilege of
                being the largest Ao village as also that of Mokokchung District.
              </p>
            </div>
          </div>
        </div>

        <div id="kachari_ruins" class="place8">
          <div class="image8">
            <h1 class="text">Kachari Ruins</h1>
            <img draggable = "false" src="/Places/states_img/nagaland/kacgari/kachari-ruins1.jpg" alt="kachari-ruins1" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/nagaland/kacgari/kacgari2.jpg" alt="kacgari2" />
              <p>
                The Kachari Ruins are a set of ruins located in Dimapur, Nagaland,
                Northeast India. Their history dates back to the 10th century when
                they appeared during the Kachari civilization. The Kachari Ruins
                is a series of mushroom domed pillars.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                They were created by the Kachari Kingdom, which ruled here before
                the Ahom invasion into the territory during the 13th Century AD.
                Their origin and purpose are largely mysterious. The pillars are
                not well maintained.
              </p>
              <img draggable = "false" src="/Places/states_img/nagaland/kacgari/kacgari3.jpg" alt="kacgari3" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/nagaland/kacgari/kacgari4.jpg" alt="kacgari4" />
              <p>
                Some pillars still stand in all their glory but others have
                crumbled down. It is believed that a game similar to chess was
                played there with the mushroom domes.The ruins have long been
                neglected by the people and the government.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>