<%- include("../partials/head") %>
  <title>Odisha</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="bhubaneswar" class="place1">
          <div class="image">
            <h1 class="text">Bhubaneswar</h1>
            <img draggable = "false" src="/Places/states_img/odisha/bhubanesm.jpg" alt="" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (29).jpg" alt="" />
              <p>
                Although the modern city of Bhubaneswar was formally established
                in 1948, the history of the areas in and around the present-day
                city can be traced to the 7th century BCE and earlier. It is a
                confluence of Hindu, Buddhist and Jain heritage and includes
                several Kalingan temples.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                With many 6th-13th century CE Hindu temples, which span the entire
                spectrum of Kalinga architecture, Bhubaneswar is often referred to
                as a "Temple City of India".With Puri and Konark it forms the
                'Swarna Tribhuja', one of eastern India's most visited
                destinations.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/images (30).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/images (31).jpg" alt="" />
              <p>
                Bhubaneswar replaced Cuttack as the capital on 19 August 1949, 2
                years after India gained its independence from Britain. The modern
                city was designed by the German architect Otto Königsberger in
                1946. Along with Jamshedpur and Chandigarh.
              </p>
            </div>
          </div>
        </div>

        <div id="bargarh" class="place2">
          <div class="image">
            <h1 class="text">Bargarh</h1>
            <img draggable = "false" src="/Places/states_img/odisha/images (32).jpg" alt="" class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (33).jpg" alt="" />
              <p>
                Bargarh is located in western odisha, close to the border of
                neighboring state of Chhattisgarh. It is positioned at 21.33°N
                83.62°E with an average elevation of 171 meter (561 feet).
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The headquarter of Bargarh district lies on the NH 6, Kolkata to
                Mumbai, hence well connected to the rest of the country with the
                well-constructed road. The Railway Station is served by DBK
                Railway running from Jharsuguda to Titilagarh. The station is just
                4 km off the main town.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/images (32).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/bhubanesm.jpg" alt="" />
              <p>
                Bargarh is one of the many forts built by the Chouhan
                dynasty.[citation needed] Although no clear data is available
                about the settlement, the old fort walls can be traced near the
                'Jeera' river towards the plains of Ambapali.
              </p>
            </div>
          </div>
        </div>

        <div id="puri" class="place3">
          <div class="image">
            <h1 class="text">Puri</h1>
            <img draggable = "false" src="/Places/states_img/odisha/puri.jpg" alt="" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (29).jpg" alt="" />
              <p>
                Puri is known by several names since the ancient times, and was
                locally known as "Sri Kshetra" and the Jagannath temple is known
                as "Badadeula". Puri and the Jagannath Temple were invaded 18
                times by Muslim rulers.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Odisha, including Puri and its temple, were part of British India
                from 1803 till India attained independence in August 1947. Even
                though princely states do not exist in India today, the heirs of
                the Bhoi dynasty of Khurda still perform the ritual duties of the
                temple.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/images (30).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/images (31).jpg" alt="" />
              <p>
                The economy of Puri is dependent on the religious importance of
                the Jagannath Temple to the extent of nearly 80 percent. The 24
                festivals, including 13 major ones, held every year in the temple
                complex contribute to the economy.
              </p>
            </div>
          </div>
        </div>

        <div id="jeypore" class="place4">
          <div class="image">
            <h1 class="text">Jeypore</h1>
            <img draggable = "false" src="/Places/states_img/odisha/images (29).jpg" alt="" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (30).jpg" alt="" />
              <p>
                Jeypore is surrounded by hills of the Eastern Ghats and the Araku
                hills on three sides like a horseshoe with the western side
                opening up to Chhattisgarh in central India. Essentially, this
                place was chosen by the Maharaja because of its strategic
                relevance.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The kingdom faced many challenges but remained sovereign until the
                advent of the British in 1777. Maharaja Vikram Dev battled the
                enemies on two fronts but was defeated on both occasions and his
                kingdom was demoted to a Zamindari for its hostile stance towards
                the British.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/images (33).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/puri.jpg" alt="" />
              <p>
                Even as a zamindari, the growth and development of Jeypore
                Continued in the regime of Maharaja Ramchandra Dev III, Maharaja
                Vikram Dev III, Maharaja Ramchandra Dev IV and the last official
                ruler, Maharaja Vikram Deo Verma (Vikram Dev IV).
              </p>
            </div>
          </div>
        </div>

        <div id="konark_sun_temples" class="place5">
          <div class="image">
            <h1 class="text">Konark Sun Temples</h1>
            <img draggable = "false" src="/Places/states_img/odisha/bhubanesm.jpg" alt="" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (29).jpg" alt="" />
              <p>
                Dedicated to the Hindu Sun God Surya, what remains of the temple
                complex has the appearance of a 100-foot high chariot with immense
                wheels and horses, all carved from stone. Once over 200 feet
                high,much of the temple is now in ruins.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The structures and elements that have survived are famed for their
                intricate artwork, iconography, and themes, including erotic kama
                and mithuna scenes. Also called the Surya Devalaya, it is a
                classic illustration of the Odisha style of Architecture or
                Kalinga Architecture.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/images (30).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/images (31).jpg" alt="" />
              <p>
                The cause of the destruction of the Konark temple is unclear and
                still remains a source of controversy.[7] Theories range from
                natural damage to deliberate destruction of the temple in the
                course of being sacked several times by Muslim armies between the
                15th and 17th centuries.
              </p>
            </div>
          </div>
        </div>

        <div id="barbil" class="place6">
          <div class="image">
            <h1 class="text">Barbil</h1>
            <img draggable = "false" src="/Places/states_img/odisha/images (32).jpg" alt="" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (33).jpg" alt="" />
              <p>
                Barbil railway station under Chakradharpur division is on a byline
                in the Tatanagar–Bilaspur section of the Howrah-Nagpur-Mumbai line
                connecting the mainline at Rajkharshavan station which is about
                100 km from Barbil. Barbil is connected to Howrah, Bhubaneshwar,
                Puri, and Tatanagar by train.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Barbil is also connected to Bhubaneshwar & Puri by a daily-running
                Intercity Express train. Barbil-Chakradharpur Intercity Express
                via Dongoaposi, Jhinkpani Chaibasa at Chakradharpur one can extend
                the journey to Rourkela or even Sambalpur Vizag Chennai Alleppy,
                etc.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/konark.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/puri.jpg" alt="" />
              <p>
                Barbil is also connected to Kolkata, Kendujhar, and Bhubaneshwar
                by road. Prior to January 2008, there was air service from Barbil.
                However, international and local flights can be connected via
                Netaji Subhas Airport, and also from Biju Patnaik Airport
                Bhubaneshwar.
              </p>
            </div>
          </div>
        </div>

        <div id="cuttack" class="place7">
          <div class="image">
            <h1 class="text">Cuttack</h1>
            <img draggable = "false" src="/Places/states_img/odisha/bhubanesm.jpg" alt="" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (29).jpg" alt="" />
              <p>
                The old and the most important part of the city is centred on a
                strip of land between the Kathajodi River and the Mahanadi River,
                bounded on the south-east by Old Jagannath Road.The city, being a
                part of the Cuttack Municipal Corporation consisting of 59 wards.[
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Cuttack stretches from Phulnakhara across the Kathajodi in the
                south to Choudwar in north across the Birupa River, while in the
                east it begins at Kandarpur and runs west as far as Naraj.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/images (30).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/images (31).jpg" alt="" />
              <p>
                Four rivers including Mahanadi and its distributaries Kathajodi,
                Kuakhai, Birupa run through the city. Further Kathajodi is
                distributed into Devi and Biluakhai which often makes the
                geographical area look like fibrous roots.
              </p>
            </div>
          </div>
        </div>

        <div id="rourkela" class="place8">
          <div class="image8">
            <h1 class="text">Rourkela</h1>
            <img draggable = "false" src="/Places/states_img/odisha/images (32).jpg" alt="" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/odisha/images (33).jpg" alt="" />
              <p>
                The twin towns of Rourkela and Fertilizer Township (Sector-22), as
                well as their developed periphery, are located in areas that were
                once covered by dense forests. These forests were once a favourite
                hunting ground for the kings in the past.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                According to the census report of 2011, Rourkela has a population
                of 483,038 (Rourkela Industrial Township is 273,217 and Rourkela
                Town is 210,412) and the urban metropolitan area population is
                536,450.
              </p>
              <img draggable = "false" src="/Places/states_img/odisha/konark.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/odisha/puri.jpg" alt="" />
              <p>
                The then railway station of Rourkela was within the revenue
                village of Mahulpali. India's first public sector steel plant
                facility was established in Rourkela with the help of German
                businesses Krupp and Demag.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>