<%- include("../partials/head") %>
  <title>Punjab</title>
  <link rel="stylesheet" href="/Places/states.css" />
</head>

<body>
  <%- include("../partials/header") %>
    <p id="placeNone">
      <%= place %>
    </p>
    <section class="main_body">
      <div id="amritsar" class="place1">
        <div class="image">
          <h1 class="text">Amritsar</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (34).jpg" alt="" class="image1" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (35).jpg" alt="" />
            <p>
              According to the historical Sikh records, the site was chosen by
              Guru Amar Das and called Guru Da Chakk, after he had asked Ram Das
              to find land to start a new town with a man-made pool as its
              central point.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The town expanded during the time of Arjan financed by donations
              and constructed by voluntary work. The town grew to become the
              city of Amritsar, and the pool area grew into a temple complex
              after his son built the gurdwara Harmandir Sahib, and ins
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (36).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (37).jpg" alt="" />
            <p>
              The construction activity between 1574 and 1604 is described in
              Mahima Prakash Vartak, a semi-historical Sikh hagiography text
              likely composed in 1741, and the earliest known document dealing
              with the lives of all the ten Gurus.
            </p>
          </div>
        </div>
      </div>

      <div id="patiala" class="place2">
        <div class="image">
          <h1 class="text">Patiala</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (38).jpg" alt="" class="image2" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (39).jpg" alt="" />
            <p>
              'Patiala' comes from the roots patti and ala, the former is Urdu
              for a "strip of land" and 'ala' comes from the name of the founder
              of the city, Ala Singh. So, 'Patiala' can be translated into
              English to mean ‘the land of Ala’.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Patiala state was established in 1763 by Ala Singh, who laid the
              foundation of the Patiala fort known as Qila Mubarak, around
              'which the present city of Patiala is built. After the Third
              Battle of Panipat in 1761 in which the Marathas were defeated by
              the Afghans.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (40).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (41).jpg" alt="" />
            <p>
              In 1808, the Raja of Patiala entered into a treaty with the
              British against Sikh ruler Maharaja Ranjit Singh of Lahore in
              1808, thus becoming collaborator in the grand empire building
              process by the British in, the sub-continent of India.
            </p>
          </div>
        </div>
      </div>

      <div id="chandigarh" class="place3">
        <div class="image">
          <h1 class="text">Chandigarh</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (34).jpg" alt="" class="image3" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (35).jpg" alt="" />
            <p>
              The master plan of the city was prepared by Swiss-French architect
              Le Corbusier, which transformed from earlier plans created by the
              Polish architect Maciej Nowicki and the American planner Albert
              Mayer.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Most of the government buildings and housing in the city were
              designed by the Chandigarh Capital Project Team headed by Le
              Corbusier, Jane Drew and Maxwell Fry.The city has one of the
              highest per capita incomes in the country.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (36).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (37).jpg" alt="" />
            <p>
              In 2015, an article published by BBC named Chandigarh as one of
              the few master-planned cities in the world to have succeeded in
              terms of combining monumental architecture, cultural growth, and
              modernisation.
            </p>
          </div>
        </div>
      </div>

      <div id="bathinda" class="place4">
        <div class="image">
          <h1 class="text">Bathinda</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (38).jpg" alt="" class="image4" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (39).jpg" alt="" />
            <p>
              Tanwarhindha was changed to Bathinda to conform to the phonetical
              expression as locally pronounced. According to Henry George
              Raverty, Bathinda was known as Tanwarhindh (Labb-ut-Twarikh).
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The earliest mention of Tanwarhindh occurs in the Jami-Ul-Hakayat
              written about 607 Hijri or 1211 AD.In 1004, Mahmud of Ghazni
              besieged the local fort, which was located on the route from the
              northwest into the rich Ganges valley.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (40).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (41).jpg" alt="" />
            <p>
              In 1189, Muhammad Ghori attacked and occupied the fort of
              Bathinda. Prithvi Raj Chauhan, the ruler of this region, managed
              to recover possession of the fort thirteen months later in 1191
              after the First Battle of Tarain.
            </p>
          </div>
        </div>
      </div>

      <div id="jalandhar" class="place5">
        <div class="image">
          <h1 class="text">Jalandhar</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (34).jpg" alt="" class="image5" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (35).jpg" alt="" />
            <p>
              The city may be named after Jalandhara, a demon king, who is named
              in the Puranas and Mahabharata. The city was founded by Devasya
              Verma as mentioned in Vedas.The history of Jalandhar District
              comprises three periods — ancient, medieval and modern.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Other possibilities include that it was the capital of the kingdom
              of Lava, son of Rama or that the name derives from the vernacular
              term Jalandhar, meaning area inside the water, i.e., tract lying
              between the two rivers Satluj and Beas.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (36).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (37).jpg" alt="" />
            <p>
              Jalandhar was conquered by the Ghaznavids during the reign of
              Ibrahim of Ghazni between 1058 and 1089.It later formed part of
              the province of Lahore during the Delhi Sultanate and Mughal
              Empire.
            </p>
          </div>
        </div>
      </div>

      <div id="pathankot" class="place6">
        <div class="image">
          <h1 class="text">Pathankot</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (38).jpg" alt="" class="image6" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (39).jpg" alt="" />
            <p>
              Pathankot is an ancient city and has historical significance. From
              various accounts; It may be believed that Audumbara was the name
              of it. Numerous coins of great antiquity found at Pathankot prove
              that it is one of the oldest sites in the Punjab .
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Pathankot was the capital of Nurpur State and its name was changed
              to Dhameri (Nurpur) during the Akbar reign. The Pathania clan of
              Rajput derived its name from ancient name of Pathankot which was
              Paithan at that time.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (40).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (41).jpg" alt="" />
            <p>
              Pathankot has an average elevation of 332 metres (1,089 ft). It is
              a green town surrounded by the Ravi and Chakki rivers. Shiwalik
              foothills on the south and east and snow-capped Himalayas in the
              back drop in north.
            </p>
          </div>
        </div>
      </div>

      <div id="ludhiana" class="place7">
        <div class="image">
          <h1 class="text">Ludhiana</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (34).jpg" alt="" class="image7" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (35).jpg" alt="" />
            <p>
              Ludhiana was founded in 1480 by members of the ruling Lodhi
              dynasty of the Delhi Sultanate.[9] The ruling sultan, Sikandar
              Lodhi, dispatched two ruling chiefs, Yusaf Khan and Nihand Khan,
              to re-assert Lodhi control.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The two men camped at the site of present Ludhiana, which was then
              a village called Mir Hota. Yusaf Khan crossed the Sutlej and
              established Sultanpur, while Nihand Khan founded Ludhiana on the
              site of Mir Hota.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (36).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (37).jpg" alt="" />
            <p>
              The tree of largest natural extraction was the kikar, or Acacia
              Indica, but has been supplanted by the eucalyptus, transplanted
              from rural Australia in the late 1950s by the government of Chief
              Minister Pratap Singh Kairon.
            </p>
          </div>
        </div>
      </div>

      <div id="kapurthala" class="place8">
        <div class="image8">
          <h1 class="text">Kapurthala</h1>
          <img draggable = "false" src="/Places/states_img/punjab/images (38).jpg" alt="" class="image8" />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/punjab/images (39).jpg" alt="" />
            <p>
              An example of the secular history of Kapurthala is the Moorish
              Mosque, a replica of the Grand Mosque of Marakesh, Morocco, was
              built by a French architect, Monsieur M Manteaux. Its construction
              was commissioned by the last ruler of Kapurthala.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              It was one of the monumental creations in the State during the
              premiership of late Diwan Sir Abdul Hamid Kt., CIE, OBE. It was
              his keen interest with Maharaja's blessings that the mosque was
              completed. Its wooden model lay at the entrance of the Lahore
              Museum.
            </p>
            <img draggable = "false" src="/Places/states_img/punjab/images (40).jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/punjab/images (41).jpg" alt="ooty4" />
            <p>
              The building has been used for a variety of purposes since it was
              constructed, it was used as a church in the early nineteenth
              century, as a cinema hall in the 1940s and now houses a local club
              which includes a well built badminton court, a card room and a
              dining hall.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

      <script src="/Places/states.js"></script>
</body>

</html>