<%- include("../partials/head") %>
  <title>Rajasthan</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="mount_abu" class="place1">
          <div class="image">
            <h1 class="text">Mount Abu</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (42).jpg" alt="" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (43).jpg" alt="" />
              <p>
                T It is believed that sage Vashistha retired to the southern spur
                at Mount Abu following his differences with sage Vishvamitra.
                There is another history story according to which a serpent named
                "Arbuda" saved the life of Nandi (Lord Shiva's bull).
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The conquest of Mount Abu in 1311 CE by Rao Lumba of Deora-Chauhan
                dynasty brought to an end the reign of the Parmars and marked the
                decline of Mount Abu. He shifted the capital city to Chandravati
                in the plains.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (44).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (45).jpg" alt="" />
              <p>
                Mount Abu, the faith community of Brahma Kumaris has its spiritual
                headquarters, which are represented by its own account in 110
                countries.[16] Every year about 2.5 million visitors are supposed
                to visit the sprawling campus of that spiritual movement.
              </p>
            </div>
          </div>
        </div>

        <div id="pushkar" class="place2">
          <div class="image">
            <h1 class="text">Pushkar</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (46).jpg" alt="" class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (47).jpg" alt="" />
              <p>
                Pushkar is in centre-east part of Rajasthan, on the western side
                of Aravalli mountains. The nearest airport from Pushkar is
                Kishangarh Airport in Kishangarh, about 45 km (28 mi) northeast.
                Pushkar is about 10 km (6.2 mi) from Ajmer, connected via Pushkar
                road (Highway 58) which goes over the Aravalli Range mountains.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Pushkar is near some of the oldest geological structures in India.
                Microliths near Khera and Kaderi suggest the region was settled in
                ancient times. The Aravalli hills near it have yielded
                Mohenjodaro-style artifacts, but the connection is unclear as
                these items may have been transported later.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (48).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (49).jpg" alt="" />
              <p>
                Sites near it have been sources of ancient Brahmi script
                inscriptions, considered pre-Ashokan near village Badli.[10] Local
                excavations have been a source of red ware and painted gray ware
                confirming ancient settlement.
              </p>
            </div>
          </div>
        </div>

        <div id="bikaner" class="place3">
          <div class="image">
            <h1 class="text">Bikaner</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (42).jpg" alt="" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (43).jpg" alt="" />
              <p>
                Prior to the mid 15th century, the region that is now Bikaner was
                a barren wilderness called Jangladesh.Rao Bika established the
                city of Bikaner in 1488. He was the first son of Maharaja Rao
                Jodha of the Rathore clan.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                As the first son of Jodha he wanted to have his own kingdom, not
                inheriting Jodhpur from his father or the title of Maharaja. He
                therefore decided to build his own kingdom in what is now the
                state of Bikaner in the area of Jangladesh.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (44).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (45).jpg" alt="" />
              <p>
                Though it was in the Thar Desert, Bikaner was considered an oasis
                on the trade route between Central Asia and the Gujarat coast as
                it had adequate spring water. Bika's name was attached to the city
                he built and to the state of Bikaner that he established.
              </p>
            </div>
          </div>
        </div>

        <div id="tam_dil_lake" class="place4">
          <div class="image">
            <h1 class="text">Tam Dil Lake</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (46).jpg" alt="" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (47).jpg" alt="thiruvalluvar1" />
              <p>
                Literally meaning the lake of mustard, the Tam Dil Lake is one of
                the most picturesque spots in the state. About 110 km from state
                capital Aizawl, this lake is nestled amidst serene environments,
                near the Saitual village.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Its ethereal beauty and peaceful surroundings have made it one of
                the most visited sites in the state. This man-made lake also
                provides visitors with an opportunity to go boating and admire
                brilliant views or simply relax in its surreal surroundings.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (48).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (49).jpg" alt="" />
              <p>
                The region around the lake is home to a wide variety of animals,
                trees and plants. The lake is not only a great stopover for
                tourists, it also holds immense significance for the fishermen
                residing in the area.
              </p>
            </div>
          </div>
        </div>

        <div id="chittorgarh" class="place5">
          <div class="image">
            <h1 class="text">Chittorgarh</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (42).jpg" alt="" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (43).jpg" alt="" />
              <p>
                In 1303, the Delhi Sultanate ruler Alauddin Khilji defeated the
                Guhila king Ratnasingh, and captured the fort.The fort was later
                captured by Hammir Singh, a king of the Sisodia branch of the
                Guhilas. Chittor gained prominence during the period of his
                successors.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The completed Golden Quadrilateral highway system passes through
                Chittorgarh, connecting it to much of the rest of India. The
                East-West Corridor (Express Highway) also crosses it.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (44).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (45).jpg" alt="" />
              <p>
                Chittorgarh is well connected to all parts of India by roads. The
                Golden Quadrilateral Road Project and North-South-East-West
                corridor expressways pass through Chittorgarh City. The bus stand
                (bus depot) of Chittorgarh is located between the old and new
                cities.
              </p>
            </div>
          </div>
        </div>

        <div id="jodhpur" class="place6">
          <div class="image">
            <h1 class="text">Jodhpur</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (46).jpg" alt="" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (47).jpg" alt="" />
              <p>
                According to the Rajasthan district Gazetteer, Abhiras were the
                inhabitants of Marwar and later on the Rajputs established their
                rule in Marwar. There may have been small settlements before
                Rathore rule.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The Jodhpur city was founded in 1459 by Rao Jodha, a Rajput chief
                of the Rathore clan. Jodha succeeded in conquering the surrounding
                territory and thus founded a kingdom which came to be known as
                Marwar.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (48).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (49).jpg" alt="" />
              <p>
                As Jodha hailed from the nearby town of Mandore, that town
                initially served as the capital of this state; however, Jodhpur
                soon took over that role, even during the lifetime of Jodha. The
                city was located on the strategic road linking Delhi to Gujarat.
              </p>
            </div>
          </div>
        </div>

        <div id="bundi" class="place7">
          <div class="image">
            <h1 class="text">Bundi</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (42).jpg" alt="" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (43).jpg" alt="" />
              <p>
                South-east Region of Rajasthan is known as Hadoti, - the land of
                the Hadas. Hada Rajputs are a major branch of the Chauhan Agnikula
                (fire dynasty) Rajputs. They had settled in the hilly terrain of
                Mewar, at Bambaoda, near Bijolian in the 12C. Bundi was conquered
                in 1241 by Rao Deva Singh from the Meena tribe.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                This was the first step in the establishment of Hadaoti, when the
                Hadas moved down from the ‘Pathar’ around Bambaoda.Bundi takes its
                name from the Bando Naal or the narrow passage, between the rugged
                hills.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (44).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (45).jpg" alt="" />
              <p>
                The town of Bundi is nestled in the cleft of the Araavali hills
                and has a special medieval flavor quite untouched by time. Prince
                Jait Singh of Bundi captured Kota in 1264 , and Kota became a part
                of Bundi as the Jaghir of the eldest prince of Bundi. Kota became
                a separate state in 1624.
              </p>
            </div>
          </div>
        </div>

        <div id="jaipur" class="place8">
          <div class="image8">
            <h1 class="text">Jaipur</h1>
            <img draggable = "false" src="/Places/states_img/rajasthan/images (46).jpg" alt="" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (47).jpg" alt="" />
              <p>
                Under the architectural guidance of Vidyadhar Bhattacharya, Jaipur
                was planned based on the principles of Vastu Shastra and Shilpa
                Shastra.[14] The construction of the city began in 1726 and took
                four years to complete the major roads, offices, and palaces.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The city was divided into nine blocks, two of which contained the
                state buildings and palaces, with the remaining seven allotted to
                the public. Huge ramparts were built, pierced by seven fortified
                gates.
              </p>
              <img draggable = "false" src="/Places/states_img/rajasthan/images (48).jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/rajasthan/images (49).jpg" alt="" />
              <p>
                In the 19th century, the city grew rapidly and by 1900 it had a
                population of 160,000. The wide boulevards were paved and its
                chief industries were the working of metals and marble, fostered
                by a school of art founded in 1868.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>