<%- include("../partials/head") %>
    <title>Sikkim</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="gangtok" class="place1">
        <div class="image">
          <h1 class="text">Gangtok</h1>
          <img draggable = "false"
            src="/Places/states_img/Sikim/gangtokk.jpg"
            alt="gangtokk"
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Sikim/goecha_la.jpg"
              alt="big-temple"
            />
            <p>
              Gangtok remained a small hamlet until the construction of the
              Enchey Monastery in 1840 made it a pilgrimage center. It became
              the capital of what was left of Sikkim after an English conquest
              in the mid-19th century in response to a hostage crisis.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              After the defeat of the Tibetans by the British, Gangtok became a
              major stopover in the trade between Tibet and British India at the
              end of the 19th century.[8] Most of the roads and the telegraph in
              the area were built during this time.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Sikim/nathula_pass.jpg"
              alt="Bigtemple"
            />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/Sikim/pelling.jpg" alt="bigtemple3" />
            <p>
              In 1894, Thutob Namgyal, the Sikkimese monarch under British rule,
              shifted the capital from Tumlong to Gangtok, increasing the city's
              importance. A new grand palace along with other state buildings
              was built in the new capital. Following India's independence in
              1947.
            </p>
          </div>
        </div>
      </div>

      <div id="zuluk" class="place2">
        <div class="image">
          <h1 class="text">Zuluk</h1>
          <img draggable = "false"
            src="/Places/states_img/Sikim/zuluk.jpg"
            alt="mahabalipuram2"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Sikim/tsomgo_lake.jpg"
              alt="Mahabalipuram1"
            />
            <p>
              Situated at a stature of around 10,100 feet on the tough territory
              of the lower Himalayas in East Sikkim, Zuluk or Dzuluk is a little
              town next to a winding street. It was previously a travel point to
              the memorable Silk Route from Tibet to India.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              It is one of the off-beat destinations in East Sikkim. This little
              town obliges a populace of around 700 individuals. There is
              likewise an Indian Army base at Zuluk, which has been utilized as
              a travel camp for the armed force development to the Chinese
              fringe, a couple of kilometres away.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Sikim/Teesta-River.jpg"
              alt="Mahabalipuram1"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Sikim/Sikkim-Gurudongmar-Lake.jpg"
              alt="mahabalipuram3"
            />
            <p>
              Zuluk determines its tourism significance because of the great
              views of the eastern Himalayan Mountain including the
              Kanchenjunga. An excursion to the zone requires special
              licenses.The licenses however would be taken care of by us, and as
              a visitor you would just need to give your id evidence and photo.
            </p>
          </div>
        </div>
      </div>

      <div id="lake_tsomgo" class="place3">
        <div class="image">
          <h1 class="text">Lake Tsomgo</h1>
          <img draggable = "false"
            src="/Places/states_img/Sikim/tsomgo_lake.jpg"
            alt="Marina1"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/Sikim/tsomgo_lake.jpg" alt="marina3" />
            <p>
              In Bhutia language the name Tsomgo is made of two words 'Tso'
              meaning "lake" and 'Mgo' meaning "head" which gives the literal
              meaning as "source of the lake".The lake is surrounded by steep
              mountains which are covered with snow during winter. During summer
              the snow cover melts and forms the source for the lake.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The lake which remains frozen in winter season, sometimes
              extending up to May, receives an average annual precipitation of
              1,183 millimetres (46.6 in) with temperatures recorded in the
              range of 0–25 °C (32–77 °F).
            </p>
            <img draggable = "false" src="/Places/states_img/Sikim/tsomgo_lake.jpg" alt="marina2" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/Sikim/tsomgo_lake.jpg" alt="marina4" />
            <p>
              The lake is about 40 kilometres (25 mi) away from Gangtok on the
              Gangtok-Nathula highway.[3] Further, the road to Nathu La skirts
              the lake on the north side. The Chinese border crossing is only
              some 5 kilometres (3.1 mi) east-northeast in a straight line, but
              some 18 kilometres (11 mi) by road.
            </p>
          </div>
        </div>
      </div>

      <div id="teesta_river" class="place4">
        <div class="image">
          <h1 class="text">Teesta River</h1>
          <img draggable = "false"
            src="/Places/states_img/Sikim/Teesta-River.jpg"
            alt="thiruvalluvar3"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Sikim/image1.jpg"
              alt="thiruvalluvar1"
            />
            <p>
              The Teesta River originates from the Pahunri (or Teesta Kangse)
              glacier above 7,068 metres (23,189 ft), and flows southward
              through gorges and rapids in the Sikkim Himalaya.It is fed by
              rivulets arising in the Thangu, Yumthang and Donkha mountain
              ranges.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The river then flows past the town of Rangpo where the Rangpo
              River joins, and where it forms the border between Sikkim and West
              Bengal up to Teesta Bazaar. Just before the Teesta Bridge, where
              the roads from Kalimpong and Darjeeling join, the river is met by
              its main tributary, the Rangeet.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Sikim/image2.jpg"
              alt="thiruvalluvar2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Sikim/image3.jpg"
              alt="bigtemple3"
            />
            <p>
              At this point, it changes course southwards flowing into West
              Bengal. The river hits the plains at Sevoke, 22 kilometres (14 mi)
              northeast of Siliguri, where it is spanned by the Coronation
              Bridge linking the northeast states to the rest of India.
            </p>
          </div>
        </div>
      </div>

      <div id="kolhapur" class="place5">
        <div class="image">
          <h1 class="text">Kolhapur</h1>
          <img draggable = "false"
            src="/Places/states_img/Dhanushkodi/dhanushkodi3.jpg"
            alt="dhanushkodi3"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Dhanushkodi/dhanushkodi1.jpg"
              alt="dhanushkodi1"
            />
            <p>
              The pass is 54 km east of Gangtok, the capital of Sikkim and 430
              km from Lhasa, the capital of Tibet. In the winter, the pass is
              blocked by heavy snowfall. Because there is no meteorological
              centre in Nathu La, systematic measurements of meteorological data
              are not available for the region.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Nathu La has moderately shallow, excessively drained, coarse, and
              loamy soil on a steep slope (30–50%) with gravelly loamy surface,
              moderate erosion, and moderate stoniness.However, it is known that
              in the higher reaches of the Himalayas around the region, summer
              temperature never exceeds 15 °C .
            </p>
            <img draggable = "false"
              src="/Places/states_img/Dhanushkodi/dhanushkodi4.jpg"
              alt="dhanushkodi4"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Dhanushkodi/dhanushkodi2.jpg"
              alt="dhanushkodi2"
            />
            <p>
              In 1815, trade volume increased after the British annexed
              territories belonging to the Sikkimese, Nepalese, and Bhutanese.
              The potential of Nathu La was realised in 1873, after the
              Darjeeling Deputy Commissioner published a report on the strategic
              importance of mountain passes between Sikkim and Tibet.
            </p>
          </div>
        </div>
      </div>

      <div id="gurudongmar_lake" class="place6">
        <div class="image">
          <h1 class="text">Gurudongmar Lake</h1>
          <img draggable = "false"
            src="/Places/states_img/Sikim/Sikkim-Gurudongmar-Lake.jpg"
            alt="amman3"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Sikim/image5.jpg"
              alt="amman4"
            />
            <p>
              The lake is fresh water and used to be very clear; the bed of the
              lake could even be seen from the middle of the lake. Pollution has
              muddied the waters in recent years, and the lake has taken on a
              white tinge and has obscured visibility.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              A legend related to the frozen condition of the lake is linked to
              the visit of Guru Padmasambhava to the lake, on his way back from
              Tibet. When he saw it, he felt that it was worthy of veneration,
              as it represented the divine location of Dorje Nyima or Chhoedten
              Nyima.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Sikim/image6.jpg"
              alt="amman2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Sikim/image4.jpg"
              alt="amman1"
            />
            <p>
              According to another legend, when Padmasambhava visited the lake
              he saw an auspicious phenomenon and then he considered it a good
              augury to enter the mainland of Sikkim, then known as Demojong.
            </p>
          </div>
        </div>
      </div>

      <div id="mahabaleshwar" class="place7">
        <div class="image">
          <h1 class="text">Mahabaleshwar</h1>
          <img draggable = "false"
            src="/Places/states_img/Poompuhar/poompuhar1.JPG"
            alt="poompuhar1"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Poompuhar/poompuhar2.jpg"
              alt="poompuhar2"
            />
            <p>
              In 1819, after the demise of the Maratha empire, the victorious
              British ceded the hills around Mahabaleshwar to the vassal state
              of Satara. Colonel Lodwick (Later General Sir Lodwick) after
              climbing the mountains near Mahabaleshwar.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              he Raja of Satara was granted other villages in exchange for the
              British getting Mahabaleshwar in 1828.In old records Mahabaleshwar
              was even called as Malcolm Peth after the governor.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Poompuhar/poompuhar3.jpg"
              alt="poompuhar3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Poompuhar/poompuhar4.jpg"
              alt="poompuhar4"
            />
            <p>
              Mahabaleshwar started gaining prominence when British officials of
              Bombay presidency such as in 1828, and later Sir Mountstuart
              Elphinstone, Arthur Malet (for whom the seat at "Point Arthur" is
              named), Carnac, and many others became regular visitors.
            </p>
          </div>
        </div>
      </div>

      <div id="nashik" class="place8">
        <div class="image8">
          <h1 class="text">Nashik</h1>
          <img draggable = "false"
            src="/Places/states_img/Ooty/ooty1.jpg"
            alt="ooty1"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/Ooty/ooty2.jpg" alt="ooty2" />
            <p>
              The river Godavari originates from the Brahmagiri Mountain,
              Trimbakeshwar about 24 km (15 mi) from Nashik and flows through
              the old residential settlement. Due to high pollution created by
              factories in proximity of the city the river was dying at an
              alarming rate.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The city's tropical location and high altitude combine to give it
              a relatively mild version of a tropical wet and dry climate.
              Temperatures rise slightly in October, but this is followed by the
              cool season from November to February.
            </p>
            <img draggable = "false" src="/Places/states_img/Ooty/ooty3.jpg" alt="ooty3" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/Ooty/ooty4.jpg" alt="ooty4" />
            <p>
              Nashik city is governed by the Nashik Municipal Corporation.[16]
              Nashik is a district headquarters located on the banks of Godavari
              and is 185 km (115 mi) away from Mumbai. The city has developed on
              both the banks of Godavari which divides the city into almost
              equal halves.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
