<%- include("../partials/head") %>
    <title>Tamil Nadu</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="big_temple" class="place1">
        <div class="image">
          <h1 class="text">Brihadeeswara Temple</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Big_temple/Bigtemple1.jpg"
            alt="Bigtemple1"
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/big-temple.jpg"
              alt="big-temple"
            />
            <p>
              At a distance of 56 km from Trichy, 86 km from Nagapattinam, 112
              km from Chidambaram, 170 km from Madurai, 326 km from Chennai,
              Thanjavur, also known as Tanjore, is a city and district
              headquarters in the state of Tamil Nadu. Situated on the banks of
              River Cauvery, Thanjavur is one of the popular places of heritage
              in Tamilnadu, and among the must include places in Tamilnadu tour
              packages.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Thanjavur is one of the older cities in Tamil Nadu and has a lot
              of significance in Dravidian history. Thanjavur was eventually
              annexed along with the rest of the Chola kingdom by the Pandya
              king Maravarman Kulasekara Pandyan I in 1279. Later it went into
              the hands of Delhi Sultanate from whom Vijayanagara rulers have
              conquered.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/Bigtemple.jpg"
              alt="Bigtemple"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Big_temple/bigtemple3.jpg"
              alt="bigtemple3"
            />
            <p>
              Thanjavur is also famous for metal sculptures molded with great
              facial expressions and beautiful finish. Thanjavur can also be
              visited as part of Madurai tour packages. About 57 km from
              Thanjavur, Tiruchirapalli is both the nearest International
              Airport and the railway station. Regular taxis and a few bus
              services run between the two cities, making the travel comfortable
              and hassle-free.
            </p>
          </div>
        </div>
      </div>

      <div id="mahabalipuram" class="place2">
        <div class="image">
          <h1 class="text">Mahabalipuram</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Mahabalipuram/mahabalipuram2.jpg"
            alt="mahabalipuram2"
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Mahabalipuram/Mahabalipuram1.jpg"
              alt="Mahabalipuram1"
            />
            <p>
              Mahabalipuram (or Mamallapuram), located along southeastern
              India’s Coromandel Coast, was a celebrated port city of the
              Pallavas. The Pallava dynasty, which ruled this area between 6th
              and 9th centuries CE, created these majestic edifices.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The mandapas (rock-cut caves): During the time of
              Narasimhavarman-I Mamalla, new innovations were introduced in the
              rock medium in the form of cave temples. Notable examples of the
              cave temple are Konerimandapa, Mahishmardhini cave, and
              Varahamandapa.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Mahabalipuram/Mahabalipuram1.jpg"
              alt="Mahabalipuram1"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Mahabalipuram/mahabalipuram3.jpg"
              alt="mahabalipuram3"
            />
            <p>
              The rock reliefs: The sculptural bas reliefs are another very
              important class of masterly creations created during Mamalla’s
              reign. There are four such reliefs at Mamallapuram, the most
              noteworthy among them being the Arjuna’s Penance and
              Govardhanadhari.
            </p>
          </div>
        </div>
      </div>

      <div id="marina_beach" class="place3">
        <div class="image">
          <h1 class="text">Marina Beach</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Marina_beach/Marina1.jpg"
            alt="Marina1"
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Marina_beach/marina3.jpg"
              alt="marina3"
            />
            <p>
              The most famous landmark in the city, Marina Beach is home to
              several iconic buildings and statues. For instance, it hosts
              India’s first aquarium which was constructed in 1909.
              Additionally, walking along the promenade, history lovers could
              find a great many statues commemorating the lives of some of the
              most illustrious dignitaries in Indian history.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Stretched over 13 kilometres, the glistening sands of the beach
              are as rejuvenating as they are picturesque. Keeping in mind the
              popularity of the place, there has been a huge number of
              significant buildings and monuments build across the promenade
              since the beginning of the 19th century.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Marina_beach/marina2.jpg"
              alt="marina2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Marina_beach/marina4.jpg"
              alt="marina4"
            />
            <p>
              Famous as the longest beach in India and the second-longest of its
              kind in the world, Marina Beach is one of the most famous beach
              holiday destinations in the country. Named so after the Italian
              word ‘marina’ by the then Governor-General, the beach has been a
              popular location in Chennai since 1881.
            </p>
          </div>
        </div>
      </div>

      <div id="thiruvalluvar_statue" class="place4">
        <div class="image">
          <h1 class="text">Thiruvalluvar Statue</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Thiruvalluvar/thiruvalluvar3.jpg"
            alt="thiruvalluvar3"
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Thiruvalluvar/thiruvalluvar1.jpg"
              alt="thiruvalluvar1"
            />
            <p>
              The project was conceived by then Chief Minister M. Karunanidhi in
              December 1975. On 15 April 1979, the then Prime Minister Morarji
              Desai laid the foundation stone for the statue, in the presence of
              the then Chief Minister, M. G. Ramachandran.Sthapathy was chosen
              for the project over 300 master builders because his suggestion
              for an all-stone monument to the poet-philosopher prevailed.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The stonework was divided amongst three workshops, in Kanyakumari,
              Ambasamudram and Sholinganallur. Ambasamudram contributed 5,000
              tonnes (4,900 long tons; 5,500 short tons) of stones, while
              Sholinganallur was quarried for 2,000 tonnes (2,000 long tons;
              2,200 short tons) of high-quality granite stones for the outer
              portion of the statue.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Thiruvalluvar/thiruvalluvar2.JPG"
              alt="thiruvalluvar2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Thiruvalluvar/thiruvalluvar4.jpg"
              alt="bigtemple3"
            />
            <p>
              The statue was unveiled on the millennium day of 1 January 2000.
              The statue was inaugurated on 1 January 2000 by Dr. M.
              Karunanidhi, the then chief minister of Tamil Nadu. Besides Indian
              political leaders and celebrities, foreign delegates including
              those from Malaysia, Singapore, and Sri Lanka, participated in the
              opening ceremony.
            </p>
          </div>
        </div>
      </div>

      <div id="dhanushkodi_beach" class="place5">
        <div class="image">
          <h1 class="text">Dhanushkodi Beach</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Dhanushkodi/dhanushkodi3.jpg"
            alt="dhanushkodi3"
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Dhanushkodi/dhanushkodi1.jpg"
              alt="dhanushkodi1"
            />
            <p>
              Dhanushkodi Beach lies on the tip of the Rameswaram island.In this
              beach, the Bay of Bengal and Indian Ocean merge which is known as
              Arichal Munai in Tamil. Before 1964, Dhanushkodi was a busy,
              crowded city. The Dhanushkodi Beach attracted thousands of
              tourists each day.Not just for them, the exotic location of
              Dhanushkodhi Beach is a kind of a place where photographers can
              get some startling landscape clicks to add them in their surreal
              collection.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              In 1964, Dhanushkodi was hit by a cyclone and was almost destroyed
              by it. It is considered a ghost town, as the place became
              uninhabitable. Many tourists still visit Dhanushkodi Beach. The
              main attractions of the beach are Ram sethu view point and the
              Adam's Bridge, which was said to be constructed by the army of
              monkeys for Lord Rama according to Hindu Legend. The Dhanushkodi
              beach is said to be not safe for those who cannot swim as the surf
              is above twelve feet at certain points.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Dhanushkodi/dhanushkodi4.jpg"
              alt="dhanushkodi4"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Dhanushkodi/dhanushkodi2.jpg"
              alt="dhanushkodi2"
            />
            <p>
              Dhanushkodi Beach is the place which not only attracts people from
              near places but far as well. Owing to the boundless cerulean water
              of the ocean along with the wide stretch of shores, the prodigious
              exquisiteness of this beach is worth a visit. This enticing beach
              in Tamilnadu also gives tourists a chance to encounter the thrill
              of sea surfing. For children, it serves as an ideal place to have
              one of a kind holiday experience in Tamilnadu.
            </p>
          </div>
        </div>
      </div>

      <div id="meenakshi_amman" class="place6">
        <div class="image">
          <h1 class="text">Madurai Meenakshi Amman Temple</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Meenakshi_amman/amman3.jpg"
            alt="amman3"
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Meenakshi_amman/amman4.jpg"
              alt="amman4"
            />
            <p>
              Many historical evidences of the temple have been found dating
              back from early A.D. The temple was almost completely destroyed in
              the year 1310 following the invasion of the Islamic conqueror
              Malikkapur.As kings who were followers of Islam were noted for
              their intolerance towards other religions, the invaders destroyed
              most of the ancient sculptures of the temple.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              According to legend, the sacred Suyambulingam discovered by the
              king of Gods indira at Kadambavanam, was later enshrined by him in
              Madurai. The fact that the Lord is seen on the vehicle of Indira
              in this temple is said to be proof for this.The Madurai Meenakshi
              Amman Temple is now under the administration of the HR and CE
              department of Tamil Nadu.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Meenakshi_amman/amman2.jpg"
              alt="amman2"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Meenakshi_amman/amman1.jpg"
              alt="amman1"
            />
            <p>
              Thirugnanasambandar the Hindu Saint has mentioned the temple in
              his songs which go back to early 7th century. The Lord has been
              described as Alavai Iraivan in his songs.This can also be termed
              as a new beginning of a new era in the history of the temple, when
              it was almost rebuilt. The King Thirumalai Naicker played an
              important role in the construction of the new form of the temple
              according to records.
            </p>
          </div>
        </div>
      </div>

      <div id="poompuhar" class="place7">
        <div class="image">
          <h1 class="text">Poompuhar</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Poompuhar/poompuhar1.JPG"
            alt="poompuhar1"
            class="image7"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Poompuhar/poompuhar2.jpg"
              alt="poompuhar2"
            />
            <p>
              Located on the estuary of the Kaveri River, Poompuhar has started
              attracting thousands of discerning travellers in the recent times.
              Noted as the backdrop of one of the greatest south Indian epics,
              the Silapaddikaram, Poompuhar has always enjoyed immense
              importance in Sangam literature and also as a significant tourist
              destination of Tamil Nadu.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Though travellers might not be completely spoilt for choice in
              terms of the places to visit in Poompuhar, however, the few that
              are there are definitely worth a visit. Especially history buffs
              and art aficionados can have a great time exploring this small
              town. Owing to its location, the place is aptly named Poompuhar as
              "puhar" in Tamil means 'estuary'.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Poompuhar/poompuhar3.jpg"
              alt="poompuhar3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Poompuhar/poompuhar4.jpg"
              alt="poompuhar4"
            />
            <p>
              Though, all this while its popularity as a travel destination was
              restricted only to Tamil Nadu, of late it has started attracting
              tourists from other parts of the country as well. Known to be the
              oldest inhabited place in Tamil Nadu, Poompuhar used to be a
              famous port town during the Chola Dynasty.
            </p>
          </div>
        </div>
      </div>

      <div id="ooty" class="place8">
        <div class="image8">
          <h1 class="text">Ooty</h1>
          <img draggable = "false"
            src="/Places/states_img/Tamilnadu/Ooty/ooty1.jpg"
            alt="ooty1"
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Ooty/ooty2.jpg"
              alt="ooty2"
            />
            <p>
              Located in the mountainous range called the Nilgiris ("Blue
              Mountains"), it draws swarms of tourists every year. The weather
              is quite pleasant at a mean of 15-20°C around the year, dropping
              to lows of 0°C during winter. The landscape is marked by rolling
              hills covered with dense vegetation, smaller hills and plateaus
              covered with tea gardens, and eucalyptus trees. Many portions of
              the hills are preserved as natural reserve forests, and special
              permits will be needed to camp in noncamp sites.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Ooty, is not the destination in itself, as much as it is the focal
              point of attraction. Auto touring the surrounding country side is
              certainly a must do.Unfortunately, the hill town suffers from
              overcrowding and erosion of natural resources. Tourism has placed
              an enormous strain on the natural resources resulting in
              pollution, water shortage and roads.The hilly region also houses
              smaller towns like Coonoor and Kotagiri.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Ooty/ooty3.jpg"
              alt="ooty3"
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tamilnadu/Ooty/ooty4.jpg"
              alt="ooty4"
            />
            <p>
              The steam train takes a very scenic route, and the pace of travel
              will let you take in the beautiful scenery at leisure with stops
              at stations for the engine to take on water. The train uses a rack
              and pinion system to haul itself up steep slopes, and also to
              prevent the train from sliding down when stopping. The train is
              pushed from behind.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
