<%- include("../partials/head") %>
  <title>Telangana</title>
  <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
      <p id="placeNone">
        <%= place %>
      </p>
      <section class="main_body">
        <div id="reiek" class="place1">
          <div class="image">
            <h1 class="text">Reiek</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images1.jpg" alt="" class="image1" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images2.jpg" alt="" />
              <p>
                Anthurium Festival is a festival promoting Anthurium grown in
                Mizoram and the rich Mizo customs and traditions at Reiek Tlang to
                tourists.[4] The Anthurium Festival is organized every year by the
                Tourism Department and the Horticulture Department with financial
                support of the central government.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                It has a dual purpose — promoting the cultivation and marketing of
                the enthralling flower and attracting more tourists to the scenic
                beauties of Mizoram. The festival showcases the rich and rhythmic
                cultural dances and games of Mizoram. Fashion shows are also a
                regular feature of the festival.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images3.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images4.jpg" alt=" " />
              <p>
                The forests in Reiek hills are home to a fascinating variety of
                hill birds, including the rare Peregrine falcon which one might
                see perched on a lofty ledge or swooping on cliff swallows. Right
                on top of the peak is a big boulder jutting out over a high
                precipice.
              </p>
            </div>
          </div>
        </div>

        <div id="chowmahalla_palace" class="place2">
          <div class="image">
            <h1 class="text">Chowmahalla Palace</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images5.jpg" alt="" class="image2" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images6.jpg" alt="" />
              <p>
                The palace is unique for its style and elegance. Construction of
                the palace began in the late 18th century and over the decades a
                synthesis of many architectural styles and influences emerged.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                It has Mughal domes and arches and many Persian elements like the
                ornate stucco work that adorn the Khilwat Mubarak. These were
                characteristics of buildings built in Hyderabad at the
                time.Opposite the Bara Imam is a building that is its shishe or
                mirror image.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images7.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images8.jpg" alt="" />
              <p>
                Nizams held their durbar and other religious and symbolic
                ceremonies. The 19 spectacular Chandeliers of Belgian crystal
                recently reinstalled to recreate the lost splendor of this regal
                hall.
              </p>
            </div>
          </div>
        </div>

        <div id="golconda_fort" class="place3">
          <div class="image">
            <h1 class="text">Golconda Fort</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images9.jpg" alt="" class="image3" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images1.jpg" alt="" />
              <p>
                During the early seventeenth century a strong cotton-weaving
                industry existed in Golconda. Large quantities of cotton were
                produced for domestic and exports consumption. High quality plain
                or patterned cloth made of muslin and calico was produced.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Plain cloth was available as white or brown colour, in bleached or
                dyed variety. Exports of this cloth was to Persia and European
                countries. Patterned cloth was made of prints which were made
                indigenously with indigo for blue, chay-root for red coloured
                prints and vegetable yellow.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images2.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images3.jpg" alt="" />
              <p>
                Patterned cloth exports were mainly to Java, Sumatra and other
                eastern countries.The fort finally fell into ruin in 1687, after
                an eight-month-long siege led to its fall at the hands of the
                Mughal emperor Aurangzeb.
              </p>
            </div>
          </div>
        </div>

        <div id="basar_saraswati_temple" class="place4">
          <div class="image">
            <h1 class="text">Basar Saraswati Temple</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images4.jpg" alt="" class="image4" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images5.jpg" alt="" />
              <p>
                Basara is an old-styled and attractive village in the Adilabad
                district, on the borders of River Godavari and 30 km from
                Nizamabad. The glory of this village is attributed to the presence
                of the Gnana Saraswathi temple. Basara Gnana Saraswathi temple is
                one of the two Saraswathi Temples of India.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                The presiding deity is Saraswathi and this temple is a major
                attraction for both locals as well as tourists who travel from far
                to offer their prayers. Basara Saraswathi temple is one of the
                most famous temples in Telangana.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images6.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images7.jpg" alt="" />
              <p>
                As the name suggests, this temple is devoted to worship the
                Goddess of knowledge, Goddess Saraswathi. The temple also has the
                idols of Goddess Lakshmi and Goddess Kali. There are various
                versions to the origin of this beautiful temple.
              </p>
            </div>
          </div>
        </div>

        <div id="ananthagiri_temple" class="place5">
          <div class="image">
            <h1 class="text">Ananthagiri Temple</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images8.jpg" alt="" class="image5" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images9.jpg" alt="" />
              <p>
                Musi River that originates in these hills, a tributary of Krishna
                River in the Deccan Plateau region of Telangana that passes
                through city of Hyderabad is also referred to as Muchukunda River.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                About 400 years ago Nizam Nawabs used to come here for hunting and
                to take rest in the peaceful place of Ananthagiri hills, one day
                lord Sri Anantha Padmanabha Swamy came to Nizam dreams and asked
                him to build the temple for him.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images1.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images2.jpg" alt="" />
              <p>
                The main temple of the lord is constructed by Hyderabad Nawab Mir
                Osman Ali KhanSri Anantha Padmanaba Swamy also gave darshana to
                markandeya and converted into a charka to swamy.The hills and the
                cave where Muchukunda rested is also located to Mount Girnar in
                the state of Gujarat.
              </p>
            </div>
          </div>
        </div>

        <div id="salar_jung_museum" class="place6">
          <div class="image">
            <h1 class="text">Salar Jung Museum</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images3.jpg" alt="" class="image6" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images4.jpg" alt="" />
              <p>
                A nobleman of the Salar Jung family of Hyderabad, Nawab Mir Yousuf
                Ali Khan, Salar Jung III served as Prime Minister of Hyderabad
                during the Nizam's rule. He spent a substantial amount of his
                income, over a period thirty-five years, collecting artefacts from
                all across the world.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                After the Nawab died in 1949, the collections were left behind in
                his ancestral palace Diwan Devdi. The collection was formerly
                exhibited there as a private museum, named Salar Jung Museum,
                which was inaugurated by Jawaharlal Nehru on 16 December 1951.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images5.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images6.jpg" alt="" />
              <p>
                Indian miniature paintings belonging to the Mughal, Rajasthani,
                Thanjavur and Deccan schools are displayed. Indian sculptures from
                the Gandhara and Chola periods are also displayed.
              </p>
            </div>
          </div>
        </div>

        <div id="ramappa_temple" class="place7">
          <div class="image">
            <h1 class="text">Ramappa Temple</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images7.jpg" alt="" class="image7" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>
          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images8.jpg" alt="" />
              <p>
                The temple remained intact even after repeated wars, plunder and
                destruction during wars and natural disasters. There was a major
                earthquake during the 17th century which caused some damage.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                Nataraja Ramakrishna revived Perini Shivatandavam (Perini Dance),
                by seeing the sculptures in this temple. The dance poses, written
                in Nritta Rathnavalid by Jayapa Senaani, also appear in these
                sculptures.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images1.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images9.jpg" alt="" />
              <p>
                Many of the smaller structures were neglected and are in ruins.
                The Archaeological Survey of India has taken charge of it. The
                main entrance gate in the outer wall of the temple is
                ruined.Ramappa temple is located in Palampet, Venkatapur mandal
                which is 19 km from Mulugu Mandal.
              </p>
            </div>
          </div>
        </div>

        <div id="laknavaram_lake" class="place8">
          <div class="image8">
            <h1 class="text">Laknavaram Lake</h1>
            <img draggable = "false" src="/Places/states_img/Telangana/images2.jpg" alt="" class="image8" />
            <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
          </div>

          <div class="color">
            <div class="content1">
              <img draggable = "false" src="/Places/states_img/Telangana/images3.jpg" alt="" />
              <p>
                The lake is spread over an area of 10,000 acres and holds about
                2.135 tmcft of water. It irrigates over 3,500 acres of land. It
                was built by Kakatiya kings. It has about 13 islands in it and has
                a 160 metres long hanging bridge, which connects three islands.
              </p>
            </div>
            <div class="content2">
              <p class="text1">
                It is surrounded by a thick deciduous forest and it is a very
                popular tourist spot.The wooden air-conditioned cottages at the
                resorts of lake has bagged the most innovative product at the
                travel and tourism fair held at Kolkata.
              </p>
              <img draggable = "false" src="/Places/states_img/Telangana/images4.jpg" alt="" />
            </div>
            <div class="content3">
              <img draggable = "false" src="/Places/states_img/Telangana/images5.jpg" alt="" />
              <p>
                The new facilities including cottages, a viewing tower, a pantry,
                and a ferry from the main banks to the island amidst the serene
                waters has been opened for the nature loving tourists.Laknavaram
                Lake is a lake located in Govindaraopet mandal, about 80km from
                Warangal, Telangana.
              </p>
            </div>
          </div>
        </div>
      </section>
      <%- include("../partials/footer") %>

        <script src="/Places/states.js"></script>
  </body>

  </html>