<%- include("../partials/head") %>
    <title>Tripura</title>
    <link rel="stylesheet" href="/Places/states.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <p id="placeNone"><%= place %></p>
    <section class="main_body">
      <div id="unakoti_district" class="place1">
        <div class="image">
          <h1 class="text">Unakoti district</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images01.jpg"
            alt=""
            class="image1"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images02.jpg"
              alt=""
            />
            <p>
              The District and divided into two sub-divisions, namely,
              Kailashahar subdivision and Kumarghat subdivision.For the purpose
              of developmental activities it is divided into four Blocks namely
              Kumarghat, Pecharthal, Chandipur and Gournagar.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The original name for this town was Sohra (soh-ra), which was
              pronounced "Cherra" by the British. This name eventually evolved
              into a temporary name, Cherrapunji, meaning 'land of oranges'.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images03.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images04.jpg"
              alt=""
            />
            <p>
              It has an average elevation of 1,430 metres (4,690 ft) and sits on
              a plateau in the southern part of the Khasi Hills, facing the
              plains of Bangladesh. The plateau rises 660 meters above the
              surrounding valleys.
            </p>
          </div>
        </div>
      </div>

      <div id="devtamura" class="place2">
        <div class="image">
          <h1 class="text">Devtamura</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images05.jpg"
            alt=""
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images06.jpg"
              alt=""
            />
            <p>
              Devtamura is 85 kilometres (53 mi) in length and is situated at an
              altitude of 229 metres (751 ft) above sea level. It is situated in
              between Udaipur and Amarpur.Damburu Falls commences at the top of
              Devtamura, continuing through a series of terraces.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Chabimura, the archaeological site at Devtamura, dates to the
              fifteenth or sixteenth centuries.The site includes colossal
              carvings of the image of Devi Chakrakma.The purpose of the
              carvings, and the artists who carved them are unknown.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images07.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images08.jpg"
              alt=""
            />
            <p>
              The statues are carved on the steep sloping rock exposures of the
              Kalajhari Hills which drains into the Gomti River. There are in
              all 37 rock cut images which also include images of Ganesha,
              Kartikeya, Mahishasuramardini, Durga and many others.
            </p>
          </div>
        </div>
      </div>

      <div id="neermahal_palace" class="place3">
        <div class="image">
          <h1 class="text">Neermahal Palace</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images01.jpg"
            alt=""
            class="image3"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images02.jpg"
              alt=""
            />
            <p>
              The palace is the largest of its kind in India and the only one in
              Eastern India. It is so huge, it cannot be fit into a single
              picture frame on the standard camera until you are at a distance
              of approximately 800 metres from the entrance.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              There are only two water palaces in India, the other one being the
              Jal Mahal in Rajasthan. However, the latter is significantly
              smaller in size than Neermahal.Known as the ‘lake palace’ of
              Tripura, Neer-Mahal was constructed as a summer residence.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images03.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images04.jpg"
              alt=""
            />
            <p>
              The palace is divided into two parts. The western side of the
              palace is known as Andar Mahal. It was made for the royal family.
              The eastern side is an open-air theatre where drama, theatre,
              dance and other cultural events were organized for the enjoyment
              of Maharajas and their royal families.
            </p>
          </div>
        </div>
      </div>

      <div id="pilak" class="place4">
        <div class="image">
          <h1 class="text">Pilak</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images05.jpg"
            alt=""
            class="image4"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images06.jpg"
              alt=""
            />
            <p>
              The archaeological site used to be a part of Samatata kingdom in
              historical Bengal. It is part of a series of archaeological sites
              that includes Mainamati and Somapura Mahavihara in Bangladesh.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The earliest dates of Hindu and Buddhist sculptures, terracotta
              plaques and seals found at the site are between 8th and 9th
              centuries.The sites excavated are in Shyam Sundar Tilla, Deb Bari,
              Thakurani Tilla, Balir Pathar, Basudeb Bari and others.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images07.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images08.jpg"
              alt=""
            />
            <p>
              The Pilak archaeological site represents both Hinduism and
              Buddhism co-existing peacefully. Artifacts of Hinduism are in the
              form of sculptures and plaques of Hindu gods Shiva, Surya, and
              Baishnabi.
            </p>
          </div>
        </div>
      </div>

      <div id="heritage_park_agartala" class="place5">
        <div class="image">
          <h1 class="text">Heritage Park Agartala</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images01.jpg"
            alt=""
            class="image5"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images02.jpg"
              alt=""
            />
            <p>
              The Heritage Park, spread over twelve acre of land is located at
              the centre of the city, on the northern side of Raj Bhawan on the
              Agartala-GBP Hospital road.Entrance to the park has an imposing
              gate depicting the cultural heritage of Tripura, both tribal and
              non-tribal.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The park has three sagments, viz. (i) mini-Tripura located in
              about three acre of land at the entrance, (ii) central area being
              raised as natural forest, and (iii) a plain table land with
              medicinal plants, herbs and shrubs.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images03.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images04.jpg"
              alt=""
            />
            <p>
              The heritage parl has replicas of different historical monuments
              with replication of all famous places in Tripura. Spread over
              twelve acres of land, the park is really well maintained.
            </p>
          </div>
        </div>
      </div>

      <div id="khumulwng_park" class="place6">
        <div class="image">
          <h1 class="text">Khumulwng Park</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images05.jpg"
            alt=""
            class="image6"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images06.jpg"
              alt=""
            />
            <p>
              he ethnic population are the Tripuri people formed about 99% in
              the area, rest are others. The local language is Kokborok. They
              have a distinct identity of their own.Various socio-cultural clubs
              are coming up to develop the local culture, flora and fauna.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              They are mongoloid people and speaks Sino-Tibetan language like
              the rest of Northeast India's Indigenous native peoples. They are
              different from the majority Bengali population of the state.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images07.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images08.jpg"
              alt=""
            />
            <p>
              The cultural beauty and abundance in Khumulwng is invaluable. The
              town is a blend of tribal culture and the Christian influence. We
              see people celebrating the Goria Ter as well as the Christmas with
              much joyfulness.
            </p>
          </div>
        </div>
      </div>

      <div id="jampui_hills" class="place7">
        <div class="image">
          <h1 class="text">Jampui Hills</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images01.jpg"
            alt=""
            class="image2"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>
        <div class="color">
          <div class="content1">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images02.jpg"
              alt=""
            />
            <p>
              The official languages in the area are Mizo, English and Bengali.
              Owing to the high priorities given to education, Jampui hill have
              produced many outstanding academicians, officers, etc. in the
              state and other places.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              The first among the Mizo community (including Mizos from Mizoram,
              Manipur, Assam, Burma and Bangladesh) to passed an M.A. was Mr.
              Khawtinkhuma from Tlaksih Village of Jampui Hills. Many people of
              the Hills are absorbed in the Government service sectors.
            </p>
            <img draggable = "false"
              src="/Places/states_img/Tripura/images03.jpg"
              alt=""
            />
          </div>
          <div class="content3">
            <img draggable = "false"
              src="/Places/states_img/Tripura/images04.jpg"
              alt=""
            />
            <p>
              The people of Jampui Hills are very hard working too. Despite
              geographical disadvantages, the people of Jampui Hills have
              succeeded in horticultural plantations like orange, betel-nut,
              ginger, coffee plantations, etc. on a large scale.
            </p>
          </div>
        </div>
      </div>

      <div id="kalyan_sagar_lake" class="place8">
        <div class="image8">
          <h1 class="text">Tura</h1>
          <img draggable = "false"
            src="/Places/states_img/Tripura/images05.jpg"
            alt=""
            class="image8"
          />
          <img draggable = "false" src="/Images/Shadow.png" class="shadow" />
        </div>

        <div class="color">
          <div class="content1">
            <img draggable = "false" src="/Places/states_img/Tripura/images06.jpg" alt="" />
            <p>
              Kalyan Sagar is a large lake on the side of Tripura Sundari
              Temple. The lake is spread over more than five acres, and its
              length is 224 yards while its width is 160 yards. The lake was dug
              up 124 years after the Tripura Sundari temple was set up.
            </p>
          </div>
          <div class="content2">
            <p class="text1">
              Many kinds of fish and aqua species can be found in the Kalyan
              Sagar Lake. Many rare species of tortoise are found in the lake
              while it is home to fishes too. While fishing is prohibited in the
              lake, devotees visiting the temple offer puffed rice and biscuit
              to the fishes.
            </p>
            <img draggable = "false" src="/Places/states_img/Tripura/images07.jpg" alt="" />
          </div>
          <div class="content3">
            <img draggable = "false" src="/Places/states_img/Tripura/images08.jpg" alt="" />
            <p>
              he Lake doesn’t just help beautify the temple area, but it is also
              believed to be sacred by the devotees. The Kalyan Sagar Lake is
              one of the many lakes in Udaipur that makes it the lake city.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>

    <script src="/Places/states.js"></script>
  </body>
</html>
