.box
{
    position: relative;
}
.square
{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.square:nth-child(1)
{
    top: 300px;
    left: -100px;
    width: 120px;
    height: 120px;
}
.square:nth-child(2)
{
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.square:nth-child(3)
{
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.square:nth-child(4)
{
    bottom: -60px;
    left: 300px;
    width: 50px;
    height: 50px;
}
.square:nth-child(5)
{
    top: -80px;
    left: 240px;
    width: 80px;
    height: 80px;
}

.blur h1
{
    background: linear-gradient(to right, #ff6609, #ff7504, #ff8303, #ff9107, #ff9e0f, #ffab19, #ffb724, #ffc32f, #ffcf3b, #ffda47, #ffe654, #fff162);
    background-size: 300%;
    background-position: left;
    animation: gradiant 2s infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: left;
    animation: gradiant 2s infinite alternate;
    color: transparent;
}




.innercontainer .container h1 {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    font-size: 80px;
    background: linear-gradient(to right, #ff6609, #ff7504, #ff8303, #ff9107, #ff9e0f, #ffab19, #ffb724, #ffc32f, #ffcf3b, #ffda47, #ffe654, #fff162);
    background-size: 300%;
    background-position: left;
    animation: gradiant 2s infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
  
    color: transparent;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    /* -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #0d141f; */
  }
  
  @keyframes gradiant {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
  }

@media (max-width: 600px) {
    .square {
        display: none;
    }
}