<%- include("../partials/head") %>
    <title>Andhra Pradesh</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/AndhraPradesh.css">
    </head>

    <body>
        <%- include("../partials/header") %>


            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Andhra Pradesh</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>
                                <div class="selected">
                                    Select
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Borra caves</li>
                            <li>Submarine Museum</li>
                            <li>Dolphin's Nose</li>
                            <li>Rama Krishna mission Beach</li>
                            <li>TU 142 Museum</li>

                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Papi Hills</li>
                            <li>Godavari bridge</li>
                            <li>Kotilingeshwara Temple</li>
                            <li>Dowleswaram Barrage</li>
                            <li>Uppada Beach</li>

                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>kakinada beach</li>
                            <li>Coringa Wildlife Sanctuary</li>
                            <li>Hope island</li>
                            <li>East SRMT Mall & Multiplex</li>
                            <li>Vivekananda Park</li>

                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Mangalangiri</li>
                            <li>Gandhi Hill</li>
                            <li>Undavalli Caves</li>
                            <li>Bhavani Island</li>
                            <li>Prakasam Barrage</li>

                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Bellum Caves</li>
                                <li>oravakallu Tock Garden</li>
                                <li>Srisailam Tiger reserve</li>
                                <li>Kurnool Fort</li>
                                <li>Nava Narasimha Temple</li>

                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Tada Falls</li>
                                <li>Nagalapuram Falls</li>
                                <li>Swami Pushkarini Lake</li>
                                <li>Bans Water Park</li>
                                <li>Base camp 2</li>

                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Sai Kulwant Hall</li>
                                <li>Chaitanya Jyoti Museum</li>
                                <li>Sathya Sai Space Theatre</li>
                                <li>Sathya Sai Hill View Stadium</li>
                                <li>Oneness Temple</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Pennar River George ViewPoint</li>
                                <li>Ragunathaswamy Temple</li>
                                <li>Jamia Masjid</li>
                                <li>Mylavaram Dam</li>
                                <li>Belum caves</li>

                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Amareshwara Temple</li>
                                <li>Amaravati Museum </li>
                                <li>Dhyana Buddha Statue</li>
                                <li>Amaravathi Mahachaitya</li>
                                <li>Managalagiri</li>

                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Talakona Waterfalls</li>
                                <li>VenkateswaraSwamy Temple</li>
                                <li>GovindarajaSwamy Temple</li>
                                <li>PadmavathiAmamavari Temple</li>
                                <li>TTD Gardens </li>

                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Veerabhadra Temple</li>
                                <li>Lepakshi Temple</li>
                                <li>Nandi Bull Paintings</li>
                                <li>Srivari Museum</li>
                                <li>Chandragiri</li>

                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/JS/AndhraPradesh.js"></script>
    </body>

    </html>