<%- include("../partials/head") %>
    <title>Arunachal Pradesh</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/ArunachalPradesh.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>


            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Arunachal Pradesh</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Sela Pass</li>
                            <li>Tawang Monastery</li>
                            <li>Nurang Falls</li>
                            <li>Peng Teng Tso Lake</li>
                            <li>Bumla Pass</li>

                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Nagula Lake</li>
                            <li>Dirang Dzong</li>
                            <li>Hot Water Spring</li>
                            <li>Sangiti Valley</li>
                            <li>Kalachakra Gompa</li>

                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Pakhui Wildlife Sanctuary</li>
                            <li>kaziranga National Park</li>
                            <li>Bhalukpong Fort</li>
                            <li>Tipi</li>
                            <li>bomdila</li>

                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Ganga Lake</li>
                            <li>Ita Fort</li>
                            <li>Namdapha National Park</li>
                            <li>Polo Park</li>
                            <li>Indira Gandhi Park</li>

                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Meghna Cave Temple</li>
                                <li>Midley</li>
                                <li>Pine Grove</li>
                                <li>Kile Pakho</li>
                                <li>Hapoli</li>

                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Guru Nanak Taposthan</li>
                                <li>Hanuman Camp</li>
                                <li>Dorjeeling Village</li>
                                <li>Along</li>
                                <li>Kamaki Hydropower Dam</li>

                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Siriki Waterfall</li>
                                <li>Pangin</li>
                                <li>Bodak</li>
                                <li>Kekar Monying</li>
                                <li>Komlighat</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Meghna Cave Temple</li>
                                <li>Subansiri River</li>
                                <li>Daporijo Museum</li>
                                <li>Sigem Daporijo Forest</li>
                                <li>Kamala Reserve Forest</li>

                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Dong</li>
                                <li>Glow Lake </li>
                                <li>Parasuram Kunda</li>
                                <li>Chaglongam</li>
                                <li>Tezu Park</li>

                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Tezu Botanincal Garden</li>
                                <li>Tezu Museum and Craft</li>
                                <li>Miao</li>
                                <li>Lake of No Return</li>
                                <li>World war II Cemetery </li>

                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Stilwell Road</li>
                                <li>Nampong</li>
                                <li>Ranglum</li>
                                <li>Kengkho Village</li>
                                <li>Jongpho-Hate</li>

                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/ArunachalPradesh.js"></script>
    </body>

    </html>