<%- include("../partials/head") %>
    <title>Assam</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Assam.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>


            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Assam</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Bogamati Spot</li>
                            <li>manas National Park</li>
                            <li>Shillong</li>
                            <li>Barpeta</li>
                            <li>guwahati</li>

                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Hayagriva Madhava Temple</li>
                            <li>Jay Durga Temple</li>
                            <li>Powa Mecca</li>
                            <li>Sangiti Valley</li>
                            <li>Jainta Hills</li>

                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Dipor Bil</li>
                            <li>Kamakhya Temple</li>
                            <li>Assam State Museum</li>
                            <li>Umananda Temple</li>
                            <li>Alfresco Grand</li>

                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Nehru Park</li>
                            <li>Ita Fort</li>
                            <li>Namdapha National Park</li>
                            <li>Polo Park</li>
                            <li>Indira Gandhi Park</li>

                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Meghna Cave Temple</li>
                                <li>Guwahati Planetarium</li>
                                <li>Guwahati zoo</li>
                                <li>Navagraha Temple</li>
                                <li>Madan Kamev</li>

                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Regional Science centre</li>
                                <li>Kaziranga National Park</li>
                                <li>Srimantra Sankardev</li>
                                <li>Saraighat Bridge</li>
                                <li>Sualkuchi</li>

                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>North cachar</li>
                                <li>Brahmaputra River</li>
                                <li>Agnigarh</li>
                                <li>Bamuni Hills</li>
                                <li>Kalia Bhomora Setu</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Kakochang Waterfalls</li>
                                <li>Kalia Bhomora Setu</li>
                                <li>Dhekiajuli</li>
                                <li>Padum Pukhuri Lake</li>
                                <li>Katakeshwar Dewal</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Bamuni Hills</li>
                                <li>Padum Phkhuri Lake</li>
                                <li>Ouguri Hill</li>
                                <li>Pakke Sanctuary</li>
                                <li>Singri Gupteshwar</li>

                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Majuli Island</li>
                                <li>Shivadol</li>
                                <li>Ahom Museum</li>
                                <li>Charaideo</li>
                                <li>Rang Ghar</li>

                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Joypur Rainforest</li>
                                <li>Jagannath Temple</li>
                                <li>Barbarua Maidam</li>
                                <li>Jokai Garden</li>
                                <li>Digboi</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Assam.js"></script>
    </body>

    </html>