<%- include("../partials/head") %>
    <title>Chandigarh</title>
    <link rel="stylesheet" href="./Chattisgarh.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
</head>

<body>
    <%- include("../partials/header") %>
        <section class="firstcontainer">
            <div class="box">
                <div class="square" style="--i:0;"></div>
                <div class="square" style="--i:1;"></div>
                <div class="square" style="--i:2;"></div>
                <div class="square" style="--i:3;"></div>
                <div class="square" style="--i:4;"></div>
                <div class="innercontainer">
                    <div class="container">
                        <h1>Trekidoo</h1>
                        <h2>Chhattisgarh</h2>

                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="4days" name="Days" />
                                    <label for="4days">FourDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="9days" name="Days" />
                                    <label for="9days">SevenDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="14days " name="Days" />
                                    <label for="14days">ElevenDays</label>
                                </div>
                            </div>

                            <div class="selected">
                                Select no of days
                            </div>

                        </div>
                    </div>
                    <!-- <button class="button" id="button">Continue</button> -->
                    <button class="button" id="button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Continue
                    </button>
                </div>
            </div>
        </section>
        <!-- starting of second container-->
        <section class="secondcontainer" id="secondcontainer">
            <div class="day1">
                <div class="no1">
                    <h1>Day 1</h1>
                    <ol>
                        <li>Garden Of Palms</li>
                        <li>Topiary Park</li>
                        <li>Garden of Fragrance</li>
                        <li>The Capitol</li>
                        <li>Fun City</li>
                    </ol>
                </div>
                <div class="no2">
                    <h1>Day 2</h1>
                    <ol>
                        <li>Terraced Garden</li>
                        <li>Dolls Museum</li>
                        <li>Topiary Park</li>
                        <li>Museum of Evoluation</li>
                        <li>Punjab Kala Kendra</li>
                    </ol>
                </div>
                <div class="no3">
                    <h1>Day 3</h1>
                    <ol>
                        <li>Japnese Garden</li>
                        <li>Le Corbusier Centre</li>
                        <li>Assam State Museum</li>
                        <li>Open Hand Monument</li>
                        <li>sector 17 market</li>
                    </ol>
                </div>
                <div class="no4">
                    <h1>Day 4</h1>
                    <ol>
                        <li>Rose Garden</li>
                        <li>Government Museum</li>
                        <li>Mohali cricket stadium</li>
                        <li>Garden of Silence</li>
                        <li>Musical Fountain Show</li>
                    </ol>
                </div>
                <div class="fifthday">
                    <div class="no5">
                        <h1>Day 5</h1>
                        <ol>
                            <li>Cactus Garden</li>
                            <li>Gedi Route</li>
                            <li>Chrysanthemum Show</li>
                            <li>Leisure Valley</li>
                            <li>Rock Garden</li>
                        </ol>
                    </div>
                    <div class="no6">
                        <h1>Day 6</h1>
                        <ol>
                            <li>Elante Mall</li>
                            <li>sukhna Lake</li>
                            <li>Butterfly Park</li>
                            <li>Le Corbuiser Centre</li>
                            <li>Iskcon</li>
                        </ol>
                    </div>
                    <div class="no7">
                        <h1>Day 7</h1>
                        <ol>
                            <li>Chattbir Zoo</li>
                            <li>Garden of Palms</li>
                            <li>Gedi Route</li>
                            <li>Fitness Trails</li>
                            <li>Gallery of Portraits</li>
                        </ol>
                    </div>
                </div>
                <div class="eighthday">
                    <div class="no8">
                        <h1>Day 8</h1>
                        <ol>
                            <li>Punjab Kala Kendra</li>
                            <li>Forest Reserves</li>
                            <li>Topiary Park</li>
                            <li>Bougainvillea Garden</li>
                            <li>Nangal Wetlands</li>
                        </ol>
                    </div>
                    <div class="no9">
                        <h1>Day 9</h1>
                        <ol>
                            <li>Thunder Zone</li>
                            <li>Terraced Garden</li>
                            <li>The Capitol</li>
                            <li>Fun City</li>
                            <li>Shanti Kunj</li>
                        </ol>
                    </div>
                    <div class="no10">
                        <h1>Day 10</h1>
                        <ol>
                            <li>Pinjore Gardens</li>
                            <li>Hibicus Garden</li>
                            <li>Ahom Museum</li>
                            <li>Charaideo</li>
                            <li>Rang Ghar</li>
                        </ol>
                    </div>
                    <div class="no11">
                        <h1>Day 11</h1>
                        <ol>
                            <li>Aqua Village</li>
                            <li>Jagannath Temple</li>
                            <li>Barbarua Maidam</li>
                            <li>Jokai Garden</li>
                            <li>Fitness Trails</li>
                        </ol>
                    </div>
                </div>
            </div>

        </section>
        <script src="./Chattisgarh.js"></script>
</body>

</html>