<%- include("../partials/head") %>
    <title>Goa</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Goa.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Goa</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Calangute Beach</li>
                            <li>Baga Beach</li>
                            <li>Tito's Street</li>
                            <li>Anjuna Beach</li>
                            <li>Dudhsagar Waterfalls</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Fort Aguada</li>
                            <li>Grand Island</li>
                            <li>Sinquerim Beach</li>
                            <li>Culies</li>
                            <li>Candolim Beach</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Casino Cruise</li>
                            <li>Divar Island</li>
                            <li>Palolem Beach</li>
                            <li>Chapora River</li>
                            <li>Anjuna Flea Market</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Chapora Fort</li>
                            <li>Butterfly Beach</li>
                            <li>Vagator Beach</li>
                            <li>Mambos</li>
                            <li>Arambol Beach</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Sunburn Goa</li>
                                <li>Dona Paula Beach</li>
                                <li>Ashvem Beach</li>
                                <li>Benaulim Beach</li>
                                <li>Mobor Beach</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Colva Beach</li>
                                <li>Bambolim Beach</li>
                                <li>Ashvem Beach</li>
                                <li>Benaulim Beach</li>
                                <li>Mobor Beach</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Colva Beach</li>
                                <li>Bambolim Beach</li>
                                <li>Shiva Valley</li>
                                <li>Club Fresh</li>
                                <li>Hill Top</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Chronicle Goa</li>
                                <li>Bondla Wildlife Sanctuary</li>
                                <li>Spice Plantations</li>
                                <li>Verna Springs</li>
                                <li>Mapusa Friday Market</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Todo Falls</li>
                                <li>Arvalem Waterfalls</li>
                                <li>Lamgau Caves</li>
                                <li>Corjuem Fort</li>
                                <li>Mangueshi Temple</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>The Church of Conception</li>
                                <li>club cubana</li>
                                <li>Sinq Night Club</li>
                                <li>Flea Market</li>
                                <li>Bom Basilica</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Sunburn Goa</li>
                                <li>Big Daddy</li>
                                <li>Shiva Valley</li>
                                <li>Nightclub</li>
                                <li>Friday Market</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <script src="../PlanATrip/JS/Goa.js"></script>
    </body>

    </html>