<%- include("../partials/head") %>
    <title>Gujarat</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Gujarat.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Gujarat</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Nakki Lake</li>
                            <li>Guru Shikhar</li>
                            <li>Achalgarh Fort</li>
                            <li>Toad Rock</li>
                            <li>Sunset Point</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Sun Temple</li>
                            <li>Khareswar Mahadev</li>
                            <li>Hawa Mahal</li>
                            <li>Dholidhaja Dam</li>
                            <li>Rotary Garden</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Gayathri Mandir</li>
                            <li>Mataji Temple</li>
                            <li>Swami Narayan Temple</li>
                            <li>Swasthya Mandir</li>
                            <li>Vishwakarma Nu Mandir</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Gandhi Museum</li>
                            <li>Iskcon Temple</li>
                            <li>Nyari Dam</li>
                            <li>Randara Lake</li>
                            <li>Khambhalida Caves</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Race Course Grounds</li>
                                <li>Watson Museum</li>
                                <li>Rotary Dolls Museum</li>
                                <li>Lalpari Lake</li>
                                <li>Aji Dam</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Ahmedabad</li>
                                <li>Surat</li>
                                <li>Silvassa</li>
                                <li>Vadodara</li>
                                <li>Kutch</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Bhuj</li>
                                <li>Rahkot</li>
                                <li>Gandhinagar</li>
                                <li>Gir Somnath</li>
                                <li>Dwarka</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Mandvi</li>
                                <li>Dang</li>
                                <li>Saputara</li>
                                <li>Jamnagar</li>
                                <li>Porbandar</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Junagarh</li>
                                <li>Rann Of Kutch</li>
                                <li>Lothal</li>
                                <li>Girnar</li>
                                <li>Statue of Unity</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Sardar Sarovar Dam</li>
                                <li>Priotan Island</li>
                                <li>Rani Ki Vav</li>
                                <li>Ambaji</li>
                                <li>Archeological Park</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Gir National Park</li>
                                <li>Bhavangar</li>
                                <li>Hallel</li>
                                <li>Gedhere</li>
                                <li>Bolasinore</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Gujarat.js"></script>
    </body>

    </html>