<%- include("../partials/head") %>
    <title>Haryana</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Haryana.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Haryana</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Sheikh Chillis Tomb</li>
                            <li>Sannihit Sraovar</li>
                            <li>Kurukshetra science centre</li>
                            <li>Srikrishna Museum</li>
                            <li>Brahma Sarovar</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Mojoland Sonipat</li>
                            <li>CyberHub</li>
                            <li>Kingdom Of Dreams</li>
                            <li>Leisure Valley Park</li>
                            <li>Museum of folk</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>sultanpur National Park</li>
                            <li>Panipat</li>
                            <li>Ambala</li>
                            <li>Hisar</li>
                            <li>Faridabad</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Karnal</li>
                            <li>Pinjore</li>
                            <li>Panchkula</li>
                            <li>Morni Hills</li>
                            <li>Sonipat</li>
                        </ol>
                    </div>
                </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Haryana.js"></script>
    </body>

    </html>