<%- include("../partials/head") %>
    <title>Himachal Pradesh</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/HimachalPradesh.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>


            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>HimachalPradesh</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Khajjiar</li>
                            <li>Panchapulla</li>
                            <li>Sach Pass</li>
                            <li>Dainkund Peak</li>
                            <li>Chamera Lake</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Chamera Dam</li>
                            <li>Manimahesh Lake</li>
                            <li>Bhuri Singh Museum</li>
                            <li>Akhand Chandi Palace</li>
                            <li>Rang Mahal</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Bhagsu Waterfall</li>
                            <li>Triund Hill</li>
                            <li>Library Of Tibetan</li>
                            <li>The War Memorial</li>
                            <li>Tsuglag Khang</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Rose Garden</li>
                            <li>Government Museum</li>
                            <li>Mohali cricket stadium</li>
                            <li>Garden of Silence</li>
                            <li>Musical Fountain Show</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Saurabh Van Vihar</li>
                                <li>Neugal Khad</li>
                                <li>Naam Art Gallery</li>
                                <li>Sobha Art Gallery</li>
                                <li>Jakhni Mata Temple</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Bir Landing Site</li>
                                <li>Bir Tea Factory</li>
                                <li>Baijnath Temple Bir</li>
                                <li>Chowgan Tea Gardens</li>
                                <li>Gunehar River Pool</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Bhutnath Temple</li>
                                <li>Prahar Lake</li>
                                <li>Rewalsar Lake</li>
                                <li>Pandoh Dam</li>
                                <li>Sundar Nagar</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Raghunath Temple</li>
                                <li>Hot Springs Manikaran</li>
                                <li>Frienship Peak</li>
                                <li>ChanderKhani Pass</li>
                                <li>Bhrigu Lake</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Spiti Valley</li>
                                <li>Hatu Peak</li>
                                <li>Stokes Farm</li>
                                <li>Tanni Jubbar Lake</li>
                                <li>Kacheri</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>The Ridge of Shimla</li>
                                <li>Green Valley</li>
                                <li>Kufri</li>
                                <li>Himalayan Bird Park</li>
                                <li>Chadwick Waterfall</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Nalagarh Palace</li>
                                <li>Kuthar Fort</li>
                                <li>Menri Monastery</li>
                                <li>Monkey Point</li>
                                <li>Bon Monastery</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/HimachalPradesh.js"></script>
    </body>

    </html>