<%- include("../partials/head") %>
    <title>Kerala</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Kerala.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Kerala</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Samudra Beach</li>
                            <li>Veellayani Lake</li>
                            <li>Hawah Beach</li>
                            <li>Vailyathura Pier</li>
                            <li>LightHouse Beach</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Kuthiramalika Palace</li>
                            <li>Napier Museum</li>
                            <li>Vizhinjam Rockcut Cave</li>
                            <li>Magic Planet</li>
                            <li>Hawa Beach</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Kayamkulam Lake</li>
                            <li>Alleppey Beach</li>
                            <li>Alappuzha Beach</li>
                            <li>Kuttanand Beach</li>
                            <li>Marari Beach</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Folklore Museum</li>
                            <li>Andhakarazhi Beach</li>
                            <li>Athirapally Falls</li>
                            <li>Cherai Beach</li>
                            <li>Mattancherry Places</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Vadanapilly Beach</li>
                                <li>Korrappuram Fort</li>
                                <li>Munambam Breakwaters</li>
                                <li>Kaddipuram Beach</li>
                                <li>Azhikode Beach</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Marthoma Pontifical</li>
                                <li>Rama Temple Tripryar</li>
                                <li>Bhagavathy Temple</li>
                                <li>Cheraman Juma Masjid</li>
                                <li>Koratty Muthy Church</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Kozhikode Beach</li>
                                <li>Manachira</li>
                                <li>Beypore Beach</li>
                                <li>Thusharagiri Fall</li>
                                <li>Kakkayam Dam</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Cheruppadi Mala</li>
                                <li>Adyanpara Waterfalls</li>
                                <li>Noor Lake</li>
                                <li>Kozhippara Waterfall</li>
                                <li>Paravanna Beach</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Shakthan Palace</li>
                                <li>Vilangan Kunnu</li>
                                <li>chavakkad Beach</li>
                                <li>Chettuva Backwater</li>
                                <li>Peechi Dam</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Ottapalam</li>
                                <li>Palakkad Fort</li>
                                <li>Dhoni Waterfalls</li>
                                <li>Malampuzha Garden</li>
                                <li>Rock Garden</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Echo Point</li>
                                <li>Top Station</li>
                                <li>Pothamedu View Point</li>
                                <li>Marayoor Dolmens</li>
                                <li>Anamudi</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Kerala.js"></script>
    </body>

    </html>