<%- include("../partials/head") %>
    <title>Ladakh</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Ladakh.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Ladakh</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Chadar Trek</li>
                            <li>Motor Biking</li>
                            <li>Trek to Markha</li>
                            <li>Cycling</li>
                            <li>Zanskar Valley</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Pangong Tso Lake</li>
                            <li>Kargil</li>
                            <li>Khardung-la-Pass</li>
                            <li>Nubra Valley</li>
                            <li>Magnetic Hill</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Spituk Gompa</li>
                            <li>Hemis Park</li>
                            <li>Shanti Stupa</li>
                            <li>Hemis Monastery</li>
                            <li>Royal Leh Palace</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>MoonLand</li>
                            <li>Tso Moriri Lake</li>
                            <li>Chadar Trek</li>
                            <li>Alchi</li>
                            <li>Thisey Gompa</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Diskit Monastery</li>
                                <li>Stakna Monastery</li>
                                <li>Phyang Gompa</li>
                                <li>Likir Monastery</li>
                                <li>Phugtal Monastery</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Namgyal Tsemo Gompa</li>
                                <li>Stok Palace</li>
                                <li>Chemrey Monastery</li>
                                <li>Tso Kar</li>
                                <li>Lamyuru Town</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Sankar Gompa</li>
                                <li>Dha Hanu</li>
                                <li>Nyama</li>
                                <li>Changthang Sanctuary</li>
                                <li>Hall Of Fame</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Rohtang Pass</li>
                                <li>Lachulung La</li>
                                <li>Tanglang La</li>
                                <li>Mulbekh Monastery</li>
                                <li>Gol Market</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Asian Museum</li>
                                <li>Ley Donkey Sanctuary</li>
                                <li>Panamik Village</li>
                                <li>Zorawar Fort</li>
                                <li>Tiger Hill</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Lachung Temple</li>
                                <li>Ladakh Market</li>
                                <li>Markha Valley Trek</li>
                                <li>HUndur Monastery</li>
                                <li>Sindhu Darshan Festi</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>MoonLand Lamayaru</li>
                                <li>Umling La Pass</li>
                                <li>Shang Gompa</li>
                                <li>Wanla Monastery</li>
                                <li>Desikate Place</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <script src="../PlanATrip/JS/Ladakh.js"></script>
    </body>

    </html>