<%- include("../partials/head") %>
    <title>Maharashtra</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Maharashtra.css" />
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css" />
</head>

<body>
    <%- include("../partials/header") %>

        <section class="firstcontainer">
            <div class="box">
                <div class="square" style="--i: 0"></div>
                <div class="square" style="--i: 1"></div>
                <div class="square" style="--i: 2"></div>
                <div class="square" style="--i: 3"></div>
                <div class="square" style="--i: 4"></div>
                <div class="innercontainer">
                    <div class="container">
                        <h1>Trekidoo</h1>
                        <h2>Maharashtra</h2>

                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="4days" name="Days" />
                                    <label for="4days">FourDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="9days" name="Days" />
                                    <label for="9days">SevenDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="14days " name="Days" />
                                    <label for="14days">ElevenDays</label>
                                </div>
                            </div>

                            <div class="selected">Select no of days</div>
                        </div>
                    </div>
                    <!-- <button class="button" id="button">Continue</button> -->
                    <button class="button" id="button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Continue
                    </button>
                </div>
            </div>
        </section>
        <!-- starting of second container-->
        <section class="secondcontainer" id="secondcontainer">
            <div class="day1">
                <div class="no1">
                    <h1>Day 1</h1>
                    <ol>
                        <li>Marine Drive</li>
                        <li>Gateway of India</li>
                        <li>Juhu Beach</li>
                        <li>Elephanta Caves</li>
                        <li>Worli Seaface</li>
                    </ol>
                </div>
                <div class="no2">
                    <h1>Day 2</h1>
                    <ol>
                        <li>Shivaji Ternminus</li>
                        <li>Gerogaon Film City</li>
                        <li>Wax Museum</li>
                        <li>Powai Lake</li>
                        <li>Kanheri Caves</li>
                    </ol>
                </div>
                <div class="no3">
                    <h1>Day 3</h1>
                    <ol>
                        <li>Shaniwar Wada Palace</li>
                        <li>Aga Khan Palace</li>
                        <li>Vetal Tekdi</li>
                        <li>Lal Mahal</li>
                        <li>Sinhagad Fort</li>
                    </ol>
                </div>
                <div class="no4">
                    <h1>Day 4</h1>
                    <ol>
                        <li>Cafe Paashh</li>
                        <li>Pashan Lake</li>
                        <li>Okayama Garden</li>
                        <li>War Museum</li>
                        <li>Taljai Hills</li>
                    </ol>
                </div>
                <div class="fifthday">
                    <div class="no5">
                        <h1>Day 5</h1>
                        <ol>
                            <li>Gol Gumbaz</li>
                            <li>The Citadel</li>
                            <li>Bijapur Fort</li>
                            <li>Bara Kaman</li>
                            <li>Saath Kabar</li>
                        </ol>
                    </div>
                    <div class="no6">
                        <h1>Day 6</h1>
                        <ol>
                            <li>Paranda Fort</li>
                            <li>Nuldurg Fort</li>
                            <li>Dharashiv Caves</li>
                            <li>Tagar</li>
                            <li>Thuljabavani Mandir</li>
                        </ol>
                    </div>
                    <div class="no7">
                        <h1>Day 7</h1>
                        <ol>
                            <li>Sai Baba Temple</li>
                            <li>Gurusthan</li>
                            <li>Lendi Baug</li>
                            <li>Dwarkamai</li>
                            <li>Wada Museum</li>
                        </ol>
                    </div>
                </div>
                <div class="eighthday">
                    <div class="no8">
                        <h1>Day 8</h1>
                        <ol>
                            <li>Jamb Samantha</li>
                            <li>Anandi Temple</li>
                            <li>Jalna Fort</li>
                            <li>Kali Masjid</li>
                            <li>Mazar</li>
                        </ol>
                    </div>
                    <div class="no9">
                        <h1>Day 9</h1>
                        <ol>
                            <li>Ajanta Cave</li>
                            <li>Buddhist Caves</li>
                            <li>Jain Caves</li>
                            <li>Daualatabad Fort</li>
                            <li>Aurangabad Caves</li>
                        </ol>
                    </div>
                    <div class="no10">
                        <h1>Day 10</h1>
                        <ol>
                            <li>Pushtar Bugyal Trek</li>
                            <li>Kedarkantha Trek</li>
                            <li>Kedarkantha Skiing</li>
                            <li>Osla Village</li>
                            <li>Jakhol Village</li>
                        </ol>
                    </div>
                    <div class="no11">
                        <h1>Day 11</h1>
                        <ol>
                            <li>Hatgadh Fort</li>
                            <li>Sunrise Point</li>
                            <li>Saputara Lake</li>
                            <li>Gira Waterfalls</li>
                            <li>Table point</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <script src="../PlanATrip/JS/Maharashtra.js"></script>
</body>

</html>