<%- include("../partials/head") %>
    <title>Meghalaya</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Meghalaya.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
</head>

<body>
    <%- include("../partials/header") %>

        <section class="firstcontainer">
            <div class="box">
                <div class="square" style="--i:0;"></div>
                <div class="square" style="--i:1;"></div>
                <div class="square" style="--i:2;"></div>
                <div class="square" style="--i:3;"></div>
                <div class="square" style="--i:4;"></div>
                <div class="innercontainer">
                    <div class="container">
                        <h1>Trekidoo</h1>
                        <h2>Meghalaya</h2>

                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="4days" name="Days" />
                                    <label for="4days">FourDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="9days" name="Days" />
                                    <label for="9days">SevenDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="14days " name="Days" />
                                    <label for="14days">ElevenDays</label>
                                </div>
                            </div>

                            <div class="selected">
                                Select no of days
                            </div>

                        </div>
                    </div>
                    <!-- <button class="button" id="button">Continue</button> -->
                    <button class="button" id="button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Continue
                    </button>
                </div>
            </div>
        </section>
        <!-- starting of second container-->
        <section class="secondcontainer" id="secondcontainer">
            <div class="day1">
                <div class="no1">
                    <h1>Day 1</h1>
                    <ol>
                        <li>Nohkalikai Waterfalls</li>
                        <li>Double Decker</li>
                        <li>Umaiam Lake</li>
                        <li>Elephant Falls</li>
                        <li>Mawlynnong Village</li>
                    </ol>
                </div>
                <div class="no2">
                    <h1>Day 2</h1>
                    <ol>
                        <li>Laitlum Canyon</li>
                        <li>Dawki-Umngot River</li>
                        <li>Khardung-la-Pass</li>
                        <li>Cherrapunji</li>
                        <li>Mawsynram</li>
                    </ol>
                </div>
                <div class="no3">
                    <h1>Day 3</h1>
                    <ol>
                        <li>Sillong View Point</li>
                        <li>Mawsmai Cave</li>
                        <li>Mawphlang Sacred Forest</li>
                        <li>Krem Liat Prah</li>
                        <li>Khasi Hills</li>
                    </ol>
                </div>
                <div class="no4">
                    <h1>Day 4</h1>
                    <ol>
                        <li>Garo Hills</li>
                        <li>Seven Sisters Falls</li>
                        <li>Siju Cave</li>
                        <li>Ialong Park</li>
                        <li>Lady Hydari Park</li>
                    </ol>
                </div>
                <div class="fifthday">
                    <div class="no5">
                        <h1>Day 5</h1>
                        <ol>
                            <li>Don Bosco Museum</li>
                            <li>Balpakram National Park</li>
                            <li>Mawthadraishan Peak</li>
                            <li>Nartiang Monoliths</li>
                            <li>Dain-Thlen Falls</li>
                        </ol>
                    </div>
                    <div class="no6">
                        <h1>Day 6</h1>
                        <ol>
                            <li>Air Force Museum</li>
                            <li>Police Bazar</li>
                            <li>Ward's Lake</li>
                            <li>Mawkdok Dympep Valley</li>
                            <li>Nokrek National Park</li>
                        </ol>
                    </div>
                    <div class="no7">
                        <h1>Day 7</h1>
                        <ol>
                            <li>Wah Kaba Falls</li>
                            <li>West Jaintia Hills</li>
                            <li>Arwah Cave</li>
                            <li>Rainbow Falls</li>
                            <li>Hall Of Falls</li>
                        </ol>
                    </div>
                </div>
                <div class="eighthday">
                    <div class="no8">
                        <h1>Day 8</h1>
                        <ol>
                            <li>Kynrem Falls</li>
                            <li>Thangkharang Park</li>
                            <li>Khoh Ramhah Or Motrop</li>
                            <li>Tyrshi Falls</li>
                            <li>Thadlaskein Lake</li>
                        </ol>
                    </div>
                    <div class="no9">
                        <h1>Day 9</h1>
                        <ol>
                            <li>Cave of Meghalaya</li>
                            <li>Garden of Caves</li>
                            <li>Ramakrishna Mission</li>
                            <li>David Scott Trail</li>
                            <li>Cathedral</li>
                        </ol>
                    </div>
                    <div class="no10">
                        <h1>Day 10</h1>
                        <ol>
                            <li>Living Root Bridge</li>
                            <li>Spread Eagle Falls</li>
                            <li>All Saint's Chruch</li>
                            <li>Cherrapunji</li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <script src="../PlanATrip/JS/Meghalaya.js"></script>
</body>

</html>