<%- include("../partials/head") %>
    <title>Nagaland</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Nagaland.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
</head>

<body>
    <%- include("../partials/header") %>


        <section class="firstcontainer">
            <div class="box">
                <div class="square" style="--i:0;"></div>
                <div class="square" style="--i:1;"></div>
                <div class="square" style="--i:2;"></div>
                <div class="square" style="--i:3;"></div>
                <div class="square" style="--i:4;"></div>
                <div class="innercontainer">
                    <div class="container">
                        <h1>Trekidoo</h1>
                        <h2>Nagaland</h2>

                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="4days" name="Days" />
                                    <label for="4days">FourDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="9days" name="Days" />
                                    <label for="9days">SevenDays</label>
                                </div>

                                <div class="option">
                                    <input type="radio" class="radio" id="14days " name="Days" />
                                    <label for="14days">ElevenDays</label>
                                </div>
                            </div>

                            <div class="selected">
                                Select no of days
                            </div>

                        </div>
                    </div>
                    <!-- <button class="button" id="button">Continue</button> -->
                    <button class="button" id="button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Continue
                    </button>
                </div>
            </div>
        </section>
        <!-- starting of second container-->
        <section class="secondcontainer" id="secondcontainer">
            <div class="day1">
                <div class="no1">
                    <h1>Day 1</h1>
                    <ol>
                        <li>Kachari Ruins</li>
                        <li>Zoological Park</li>
                        <li>Chumukedima Village</li>
                        <li>Intanki Wildlife Sanctuary</li>
                        <li>Old Puliwa</li>
                    </ol>
                </div>
                <div class="no2">
                    <h1>Day 2</h1>
                    <ol>
                        <li>Dzukou Valley</li>
                        <li>Naga Heritage Village</li>
                        <li>Kohima war cemetery</li>
                        <li>Nagaland State Museum</li>
                        <li>Tourist Village</li>
                    </ol>
                </div>
                <div class="no3">
                    <h1>Day 3</h1>
                    <ol>
                        <li>Mount Tiyi</li>
                        <li>Doyang River</li>
                        <li>Khonoma Village</li>
                        <li>Mokokchug</li>
                        <li>Mon</li>
                    </ol>
                </div>
                <div class="no4">
                    <h1>Day 4</h1>
                    <ol>
                        <li>Tuensang</li>
                        <li>Saramati Peak</li>
                        <li>shillioi Lake</li>
                        <li>Phek</li>
                        <li>Kohima</li>
                    </ol>
                </div>
                <div class="fifthday">
                    <div class="no5">
                        <h1>Day 5</h1>
                        <ol>
                            <li>Dimapur</li>
                            <li>Mokochang</li>
                            <li>Wokha</li>
                            <li>Benreu</li>
                            <li>Meluri</li>
                        </ol>
                    </div>
                    <div class="no6">
                        <h1>Day 6</h1>
                        <ol>
                            <li>Longleng</li>
                            <li>Kiphire</li>
                            <li>Zunheboto</li>
                            <li>Touphema Village</li>
                            <li>Heritage Village</li>
                        </ol>
                    </div>
                    <div class="no7">
                        <h1>Day 7</h1>
                        <ol>
                            <li>Pfutsero</li>
                            <li>Japfu Peak</li>
                            <li>Longwa Village</li>
                            <li>Veda Peak</li>
                            <li>Shangyu Village</li>
                        </ol>
                    </div>
                </div>
                <div class="eighthday">
                    <div class="no8">
                        <h1>Day 8</h1>
                        <ol>
                            <li>Chui Village</li>
                            <li>Tenyimi Church</li>
                            <li>Kyaikthanlan Pagoda</li>
                            <li>Nwa La Bo Pagoda</li>
                            <li>Kabyar Wa Beach</li>
                        </ol>
                    </div>
                </div>
            </div>

        </section>
        <script src="../PlanATrip/JS/Nagaland.js"></script>
</body>

</html>