<%- include("../partials/head") %>
    <title>Orissa</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Orissa.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>


            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Orissa</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Bagara</li>
                            <li>Kolab Hydro Power</li>
                            <li>Sunabeda</li>
                            <li>Gupteshwar caves</li>
                            <li>Shakti Waterfalls</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Duduma Waterfalls</li>
                            <li>Daringbadi Waterfalls</li>
                            <li>Hill Park View</li>
                            <li>Balaskumpa</li>
                            <li>Padmatala</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Gopalpur Beach</li>
                            <li>Potagarh</li>
                            <li>Panchama</li>
                            <li>Daringbadi</li>
                            <li>Rushikulya Beach</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Ramha</li>
                            <li>Gopalpur Lighthouse</li>
                            <li>Chilika Lake</li>
                            <li>Rushikulya Beach</li>
                            <li>Shakuntala Market</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Jagannathpuri Temple</li>
                                <li>Puri Beach</li>
                                <li>Narendra Tank</li>
                                <li>Konark</li>
                                <li>Pipili</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Odisha Maritime Museum</li>
                                <li>Barabati Fort</li>
                                <li>Dhabeleswar Island</li>
                                <li>Paradeep Beach</li>
                                <li>Stone Revetment</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Bindu Sarovara</li>
                                <li>Orissa State Museum</li>
                                <li>Museum of Arts</li>
                                <li>Ekamra Kanan</li>
                                <li>Deras Dam</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Budharaja Temple</li>
                                <li>Ghanteshwari Temple</li>
                                <li>Batmangala Temple</li>
                                <li>Hirakud Dam</li>
                                <li>Satyabadi temple</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Khandadhar Waterfalls</li>
                                <li>Darjing And Deoghar</li>
                                <li>Ghogar</li>
                                <li>Vedvyas</li>
                                <li>Hockey Stadium</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Paradip Port</li>
                                <li>Mahanadi River Estuary</li>
                                <li>Marine Aquarium</li>
                                <li>Gahirmatha Beach</li>
                                <li>Mahanadi River</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Talasari Beach</li>
                                <li>Jagannath Temple</li>
                                <li>Baripada</li>
                                <li>Budara Chandi Shrine</li>
                                <li>Chandipur Beach</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Orissa.js"></script>
    </body>

    </html>