<%- include("../partials/head") %>
  <link rel="shortcut icon" href="/Images/Trekidoo_logo.png" type="image/x-icon">
  <title>Plan A Trip</title>
  <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
  <link rel="stylesheet" href="../PlanATrip/CSS/PlanATrip.css">
  </head>

  <body>
    <%- include("../partials/header") %>

      <section class="firstcontainer">
        <div class="blur">
          <h1>Sign In to Continue</h1>
          <form action="/PlanATrip" method="POST">
            <a href= "/login">Sign In</a>
            <a href= "/">Go Back</a>
          </form>
        </div>
        <div class="box">
          <div class="square" style="--i:0;"></div>
          <div class="square" style="--i:1;"></div>
          <div class="square" style="--i:2;"></div>
          <div class="square" style="--i:3;"></div>
          <div class="square" style="--i:4;"></div>
          <div class="innercontainer">
            <div class="container">
              <h1>Trekidoo</h1>
              <h2 class="opentext">States </h2>

              <div class="select-box">
                <div class="options-container">
                  <div class="option">
                    <input type="radio" class="radio" id="AndhraPradesh" name="state" />
                    <label for="AndhraPradesh">Andhra Pradesh</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="ArunachalPradesh" name="state" />
                    <label for="ArunachalPradesh">Arunachal Pradesh</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="Assam" name="state" />
                    <label for="Assam">Assam</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="Chhattisgarh" name="state" />
                    <label for="Chhattisgarh">Chhattisgarh</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="Goa" name="state" />
                    <label for="Goa">Goa</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="Gujarat" name="state" />
                    <label for="Gujarat">Gujarat</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="Haryana" name="state" />
                    <label for="Haryana">Haryana</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="Himachal Pradesh" name="state" />
                    <label for="Himachal Pradesh">Himachal Pradesh</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Jharkhand" name="state" />
                    <label for="Jharkhand">Jharkhand</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Karnataka" name="state" />
                    <label for="Karnataka">Karnataka</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Kerala" name="state" />
                    <label for="Kerala">Kerala</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Ladakh" name="state" />
                    <label for="Ladakh">Ladakh</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Maharashtra" name="state" />
                    <label for="Maharashtra">Maharashtra</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Meghalaya" name="state" />
                    <label for="Meghalaya">Meghalaya</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Nagaland" name="state" />
                    <label for="Nagaland">Nagaland</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Odisha" name="state" />
                    <label for="Odisha">Orissa</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Punjab" name="state" />
                    <label for="Punjab">Punjab</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Rajasthan" name="state" />
                    <label for="Rajasthan">Rajasthan</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Sikkim" name="state" />
                    <label for="Sikkim">Sikkim</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Tamil Nadu" name="state" />
                    <label for="Tamil Nadu">Tamil Nadu</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Telangana" name="state" />
                    <label for="Telangana">Telangana</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Uttar Pradesh" name="state" />
                    <label for="Uttar Pradesh">Uttar Pradesh</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="Uttarakhand" name="state" />
                    <label for="Uttarakhand">Uttarakhand</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="West Bengal" name="state" />
                    <label for="West Bengal">West Bengal</label>
                  </div>
                </div>

                <div class="selected">
                  Select a State
                  <p class="signedin"><%= signedin %></p>
                </div>

              </div>
            </div>
            <button class="button" id="button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Continue
            </button>
          </div>
        </div>
      </section>
      <script src="../PlanATrip/JS/PlanATrip.js"></script>
  </body>

  </html>