<%- include("../partials/head") %>
    <title>Punjab</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Punjab.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>


            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Punjab</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Bathinda Lake</li>
                            <li>Qila Mubarak</li>
                            <li>Rose Garden</li>
                            <li>Bathinda Fort</li>
                            <li>Lakhi Jungle</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Lodhi Fort</li>
                            <li>War Museum</li>
                            <li>Rakh Bagh Park</li>
                            <li>Bhir</li>
                            <li>Pavillion Mall</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Rauza Sharif</li>
                            <li>Floating Restaurant</li>
                            <li>Sanghol</li>
                            <li>Haveli Todar Mal</li>
                            <li>Mosque Of Sadhna</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Mataur Lake</li>
                            <li>Fateh Burj</li>
                            <li>Gurudwara</li>
                            <li>VR Punjab Mall</li>
                            <li>Rock Garden</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Ropar Wetland</li>
                                <li>Archaeological Museum</li>
                                <li>Shri Garna Sahib</li>
                                <li>Dholbaha</li>
                                <li>Harian Vailan</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Science City</li>
                                <li>Jang-e-Azadi Memorial</li>
                                <li>Nerhu Park</li>
                                <li>Gandhi Stadium</li>
                                <li>Devi Talab</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Jagatihit Palace</li>
                                <li>Kanjli Wetlands</li>
                                <li>Jagatjit Club</li>
                                <li>Elysee Palace</li>
                                <li>Moorish Mosque</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Golden Temple</li>
                                <li>JallianWala Bagh</li>
                                <li>Mata Kaulan</li>
                                <li>Partition Museum</li>
                                <li>Guru Ke Mahal</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Nurpur Fort</li>
                                <li>Achal Sahib</li>
                                <li>Barath Sahib</li>
                                <li>Damdama Sahib</li>
                                <li>Namdev Durbar</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Ranjit Sagar Dam</li>
                                <li>Mukteshwar Temple</li>
                                <li>Shahpurkandi Fort</li>
                                <li>Nagni Temple</li>
                                <li>Nurpur Fort</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Kathgarh Temple</li>
                                <li>Shani Dev Temple</li>
                                <li>Ashapurni Mandir</li>
                                <li>City Centre Mall</li>
                                <li>Narayan Mandir</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Punjab.js"></script>
    </body>

    </html>