<%- include("../partials/head") %>
    <title>Rajasthan</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Rajasthan.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Rajasthan</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>City Place</li>
                            <li>Albert Museum</li>
                            <li>Amber Fort</li>
                            <li>Hawa Mahal</li>
                            <li>Nahargarh Fort</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Jal Mahal</li>
                            <li>Birla Temple</li>
                            <li>Jantar Mantar Obervatory</li>
                            <li>Jaigarth Forth</li>
                            <li>Lake Pichola</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>City Palace</li>
                            <li>Kumbhalgarh Fort</li>
                            <li>Sajjan Garh Palace</li>
                            <li>Fateh Prakash Palace</li>
                            <li>Haldi Ghati</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Maharana Pratap Memorial</li>
                            <li>Jaisamand Lake</li>
                            <li>Vintage Car Museum</li>
                            <li>Mehrangarh Fort</li>
                            <li>Clock Tower</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Umaid Bhawan Palace</li>
                                <li>Jaswant Thada</li>
                                <li>Mandore Garden</li>
                                <li>Osian Villege</li>
                                <li>Jaisalmer Fort</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Sam Sand Dunes</li>
                                <li>Kuldhara Village</li>
                                <li>Gadsisar Lake</li>
                                <li>Jaisalmer war Museum</li>
                                <li>Tanot Mata Temple</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Longewala War Memorial</li>
                                <li>Pushkar Lake</li>
                                <li>Anasagar Lake</li>
                                <li>Maharana Pratap Smarak</li>
                                <li>Ajmer Jain Temple</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Nakki Lake</li>
                                <li>Guru Shikhar</li>
                                <li>Janagarh Fort</li>
                                <li>Karni Mata Temple</li>
                                <li>Gajner Lake</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Deeg Palace</li>
                                <li>Logagarh Fort</li>
                                <li>Baroli</li>
                                <li>Chittorgarh Fort</li>
                                <li>Bijaipur</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>City Fort Palace</li>
                                <li>Garadia Temple</li>
                                <li>Chambal Garden</li>
                                <li>Taragarh Fort</li>
                                <li>Badal Mahal</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Mandawa Fort</li>
                                <li>Sikar</li>
                                <li>Chhatra Sagar</li>
                                <li>Sambhar Lake</li>
                                <li>Bhangarh Fort</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Rajasthan.js"></script>
    </body>

    </html>