<%- include("../partials/head") %>
    <title>Tamil Nadu</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Tamilnadu.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Tamilnadu</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Yercaud Lake</li>
                            <li>Bears Cave</li>
                            <li>Teak Forest</li>
                            <li>Kiliyur Waterfalls</li>
                            <li>Tipperary View Point</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Nature Park</li>
                            <li>Jalagmparai Waterfalls</li>
                            <li>Adventure Camp</li>
                            <li>Nilavoor Lake</li>
                            <li>Ropes and Knots</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Vellore Fort</li>
                            <li>Science Center</li>
                            <li>Marina Beach</li>
                            <li>Nettuppam</li>
                            <li>Mahabalipuram</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Auroville</li>
                            <li>Paradise Beach</li>
                            <li>Scuba Diving</li>
                            <li>Arikamedu</li>
                            <li>Rock Beach</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Airavateshvara Temple</li>
                                <li>Brahadeshwara Temple</li>
                                <li>Vijayanagar Fort</li>
                                <li>Gangaikonda Cholapuram</li>
                                <li>Big Temple</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Thiruvalluvar Statue</li>
                                <li>Sunset View Point</li>
                                <li>Vattakottai Fort</li>
                                <li>Wax Museum</li>
                                <li>Kanyakumari</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Mehamalai</li>
                                <li>Amman Temple</li>
                                <li>Vaigai Dam</li>
                                <li>Samanar Hills</li>
                                <li>Yannaimalai</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Green Valley View</li>
                                <li>Bear Shola Falls</li>
                                <li>Pillar Rocks</li>
                                <li>Coakers Walk</li>
                                <li>Dolphins Nose</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Heritage Train</li>
                                <li>Law's Falls</li>
                                <li>Rallia Dam</li>
                                <li>Ketti Valley</li>
                                <li>Hidden Valley</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Avalanche Lake</li>
                                <li>Ooty Lake</li>
                                <li>Doddabetta Peak</li>
                                <li>Needle View Hillpoint</li>
                                <li>Mini Car Museum</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Main Road Safari</li>
                                <li>Jungle Safari</li>
                                <li>Mountain Trek</li>
                                <li>Tree House Stay</li>
                                <li>Elephant Camp</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <script src="../PlanATrip/JS/Tamilnadu.js"></script>
    </body>

    </html>