<%- include("../partials/head") %>
    <title>Uttarkhand</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/Uttarkhand.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Uttarkhand</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Auli Artificial Lake</li>
                            <li>Joshimath</li>
                            <li>Gurso Bugyal</li>
                            <li>Auli Ropeway</li>
                            <li>Trishul Peak</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>Chilmiri Neck</li>
                            <li>Deoban</li>
                            <li>Yamuna Adventure Park</li>
                            <li>Tiger Falls</li>
                            <li>Budher Caves</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Nag Tibba</li>
                            <li>Mussorie Lake</li>
                            <li>Lake Mist</li>
                            <li>Gun Hill</li>
                            <li>Lal Tibba</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Happy Valley</li>
                            <li>Disco Sakting Rink</li>
                            <li>Bhoomi Wax Museum</li>
                            <li>Kasmanda Palace</li>
                            <li>Nag Tibba Trek</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Chopta-Tungnath Trek</li>
                                <li>Asan Barrage</li>
                                <li>Robber's Cave</li>
                                <li>Rupin Pass</li>
                                <li>Rupin Pass</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Har Ki Pauri</li>
                                <li>Parad Shivling</li>
                                <li>Brila Ghar</li>
                                <li>Gau Ghat</li>
                                <li>Pawan Dham</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Lakshman Jhula</li>
                                <li>Rafting In Rishikesh</li>
                                <li>Bungee JUmping</li>
                                <li>Shivpuri</li>
                                <li>Flying Fox</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Theri Dam</li>
                                <li>Ghansali</li>
                                <li>Budha Kedar</li>
                                <li>Tehri Lake</li>
                                <li>Chamba</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Kashi Vishwanath Temple</li>
                                <li>Har Ki Doon</li>
                                <li>Gangotri Temple</li>
                                <li>Harsil</li>
                                <li>Yamunotri</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Gandhi Sarovar</li>
                                <li>Sonprayag</li>
                                <li>Vasuki Tal Lake</li>
                                <li>Kedarnath Temple</li>
                                <li>Rudra Cave</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Mana Village</li>
                                <li>Neelkantha Peak</li>
                                <li>Narad Kund</li>
                                <li>Vyas Cave</li>
                                <li>Saraswati River</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/Uttarkhand.js"></script>
    </body>

    </html>