<%- include("../partials/head") %>
    <title>Uttar Pradesh</title>
    <link rel="stylesheet" href="../PlanATrip/CSS/UttarPradesh.css">
    <link rel="stylesheet" href="../PlanATrip/CSS/animation.css">
    </head>

    <body>
        <%- include("../partials/header") %>

            <section class="firstcontainer">
                <div class="box">
                    <div class="square" style="--i:0;"></div>
                    <div class="square" style="--i:1;"></div>
                    <div class="square" style="--i:2;"></div>
                    <div class="square" style="--i:3;"></div>
                    <div class="square" style="--i:4;"></div>
                    <div class="innercontainer">
                        <div class="container">
                            <h1>Trekidoo</h1>
                            <h2>Uttar Pradesh</h2>

                            <div class="select-box">
                                <div class="options-container">
                                    <div class="option">
                                        <input type="radio" class="radio" id="4days" name="Days" />
                                        <label for="4days">FourDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="9days" name="Days" />
                                        <label for="9days">SevenDays</label>
                                    </div>

                                    <div class="option">
                                        <input type="radio" class="radio" id="14days " name="Days" />
                                        <label for="14days">ElevenDays</label>
                                    </div>
                                </div>

                                <div class="selected">
                                    Select no of days
                                </div>

                            </div>
                        </div>
                        <!-- <button class="button" id="button">Continue</button> -->
                        <button class="button" id="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Continue
                        </button>
                    </div>
                </div>
            </section>
            <!-- starting of second container-->
            <section class="secondcontainer" id="secondcontainer">
                <div class="day1">
                    <div class="no1">
                        <h1>Day 1</h1>
                        <ol>
                            <li>Draupadi Ki Rasoi</li>
                            <li>Gandhi Bagh</li>
                            <li>Hastinapur</li>
                            <li>Mustaga Castle</li>
                            <li>Shapir</li>
                        </ol>
                    </div>
                    <div class="no2">
                        <h1>Day 2</h1>
                        <ol>
                            <li>City Forest</li>
                            <li>Dadri</li>
                            <li>Mohan Nagar</li>
                            <li>Dasna</li>
                            <li>Modinagar</li>
                        </ol>
                    </div>
                    <div class="no3">
                        <h1>Day 3</h1>
                        <ol>
                            <li>Dlf Mall of India</li>
                            <li>Iskcon</li>
                            <li>Buddh Cricuit</li>
                            <li>Botanical Garden</li>
                            <li>Wave Mall</li>
                        </ol>
                    </div>
                    <div class="no4">
                        <h1>Day 4</h1>
                        <ol>
                            <li>Prem Mandir</li>
                            <li>Nidhivan</li>
                            <li>Govind Devji Temple</li>
                            <li>Ranganatha Temple</li>
                            <li>Shahji Temple</li>
                        </ol>
                    </div>
                    <div class="fifthday">
                        <div class="no5">
                            <h1>Day 5</h1>
                            <ol>
                                <li>Taj Mahal</li>
                                <li>Agra Fort</li>
                                <li>Fatehpur Sikri</li>
                                <li>Akbar's Tomb</li>
                                <li>Moti Masjid</li>
                            </ol>
                        </div>
                        <div class="no6">
                            <h1>Day 6</h1>
                            <ol>
                                <li>Rani Mahal</li>
                                <li>Jhansi Fort</li>
                                <li>Jhansi Museum</li>
                                <li>Orchha Fort Complex</li>
                                <li>Barua Sagar</li>
                            </ol>
                        </div>
                        <div class="no7">
                            <h1>Day 7</h1>
                            <ol>
                                <li>Ram Janki Mandir</li>
                                <li>Nana Rao Park</li>
                                <li>Moti Jeheel</li>
                                <li>J.K.Temple</li>
                                <li>Phool Bagh</li>
                            </ol>
                        </div>
                    </div>
                    <div class="eighthday">
                        <div class="no8">
                            <h1>Day 8</h1>
                            <ol>
                                <li>Bara Imambara</li>
                                <li>Chota Imambara</li>
                                <li>Rumi Darwaza</li>
                                <li>Ambedkar Park</li>
                                <li>Constantia House</li>
                            </ol>
                        </div>
                        <div class="no9">
                            <h1>Day 9</h1>
                            <ol>
                                <li>Triveni Sangamam</li>
                                <li>Khusro Bagh</li>
                                <li>Allahabad Fort</li>
                                <li>Swaraj Bhavan</li>
                                <li>Akshavat</li>
                            </ol>
                        </div>
                        <div class="no10">
                            <h1>Day 10</h1>
                            <ol>
                                <li>Boat Ride in Ganges</li>
                                <li>Varanasi Temple</li>
                                <li>Stroll Along the Ghats</li>
                                <li>Sarnath</li>
                                <li>Ramnagar Fort</li>
                            </ol>
                        </div>
                        <div class="no11">
                            <h1>Day 11</h1>
                            <ol>
                                <li>Bhang Godowlia</li>
                                <li>Bharat Mata Mandir</li>
                                <li>Shivala Ghat</li>
                                <li>Ramnagar Fort</li>
                                <li>Chnar Fort</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>
            <script src="../PlanATrip/JS/UttarPradesh.js"></script>
    </body>

    </html>