@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap%27");

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  overflow: hidden;
}

/* Navbar Section */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 31;
  padding: 35px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  text-shadow: 1px 1px 2px white, 2px 2px 3px rgba(0, 0, 0, 1);
}

.logo-container {
  margin-left: 3%;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 200;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.logo span {
  font-weight: 600;
}

.Trekidoo_logo_nav {
  width: 40px;
  float: left;
}

.logo:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 5px white, 0 0 8px black;
  border-bottom: 3px solid white;
  border-radius: 10px;
}

.menu {
  position: absolute;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.list-item {
  padding: 10px;
  list-style-type: none;
}

.list-item a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  font-size: 22px;
}

.list-item a:hover {
  border-bottom: 3px solid white;
  border-radius: 0px;
}
.list-item a.signin {
  color: #28363d;
  background: white;
  border-radius: 50px;
  padding: 5px 15px 8px 15px;
  text-shadow: 1px 1px 3px;
}
.list-item a.signin:hover {
  color: white;
  background: #28363d;
  border: none;
  box-shadow: 1px 1px 3px #fff;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #2c73d2, #3596b5); */
  background: url("https://cdn.discordapp.com/attachments/843450590763679749/844971580345548800/photo-1476067897447-d0c5df27b5df.png")
    no-repeat center;
  background-size: cover;
}
section .color {
  position: absolute;
  filter: blur(150px);
}

.box {
  position: relative;
  width: 60%;
  height: 50%;
  margin: 0 auto;
}
.square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
.square:nth-child(1) {
  top: 35%;
  left: 0;
  width: 120px;
  height: 120px;
}
.square:nth-child(2) {
  top: -2%;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.square:nth-child(3) {
  bottom: -8%;
  right: 5%;
  width: 80px;
  height: 80px;
  z-index: 0;
}
.square:nth-child(4) {
  bottom: -10%;
  left: 30%;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.square:nth-child(5) {
  top: -15%;
  left: 20%;
  width: 60px;
  height: 60px;
}
.containerRegister {
  position: relative;
  width: 55%;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: -2px 3px 13px rgb(255 255 255 / 60%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
.form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  text-align: center;
}

.form h2 {
  position: relative;
  color: #28363d;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 4px solid #28363d;
}
.forget a {
  color: rgb(0, 217, 255);
  text-decoration: none;
}
.forget:hover a {
  color: rgb(0, 4, 255);
}

.form .inputbox {
  width: 100%;
  margin: 15px auto;
  display: flex;
  position: relative;
}

.form .inputbox input:focus {
  border: 3px solid #28363d;
  box-shadow: 2px 2px 3px #28363d;
}

.form .inputbox input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  margin: 0 auto;
  text-align: center;
}
.button {
  position: relative;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: #28363d;
  padding: 10px 30px;
  margin: 0 auto;
  border: none;
  display: table;
  margin: 4px auto 4px;
  font-size: large;
  font-weight: bold;
  width: 75%;
}

.button:hover {
  background-color: #28363d;
  color: #fff;
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.6);
}
.form .inputbox input::placeholder {
  color: rgb(255, 255, 255);
}

.form .inputbox input:focus::placeholder {
  color: transparent;
}

.form .inputbox input[type="submit"] {
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  font-weight: 600;
  padding: 0 auto;
  margin: 0 auto;
}
.forget {
  position: relative;
  display: table;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  letter-spacing: 1.5px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.form form {
  width: 65%;
}

#wrongPassword {
  margin-top: 1rem;
  text-align: center;
  color: rgb(236, 31, 31);
  font-size: 1.2rem;
  font-weight: 1.2rem;
  letter-spacing: 1px;
}

.eyesContainer {
  position: absolute;
  right: 35px;
  top: 28%;
  cursor: pointer;
}

.eyes {
  position: absolute;
  width: 20px;
  cursor: pointer;
}

/* google icon  */

.icon {
  display: flex;
  flex-direction: row;
  width: 92%;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.googlebtn {
  background-color: transparent;
  border: none;
  width: 2.8rem;
  margin: 4px auto 4px;
  border-radius: 100%;
  position: relative;
  top: 3px;
}

.google {
  width: 100%;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 800px) {
  /* Navigation Section */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    z-index: 31;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  }

  .nav-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.8s ease-in-out;
    backdrop-filter: blur(15px);
    line-height: 5rem;
    font-size: 1.5rem;
    top: -150vh;
    font-weight: 500;
  }

  .menu {
    position: relative;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-lines {
    position: absolute;
    width: 1.4rem;
    height: 0.2rem;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-lines::before,
  .menu-lines::after {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 0.2rem;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-lines::before {
    transform: translateY(0.5rem);
  }
  .menu-lines::after {
    transform: translateY(-0.5rem);
  }

  .menu.open .menu-lines {
    transform: translateX(1.8rem);
    background: transparent;
  }
  .menu.open .menu-lines::before {
    transform: rotate(45deg) translate(-20px, 20px);
  }
  .menu.open .menu-lines::after {
    transform: rotate(-45deg) translate(-20px, -20px);
  }
  body {
    background: linear-gradient(to bottom, #008e9b, #008f7a);
    height: 100vh;
    overflow: hidden;
  }
  section .color:nth-child(2) {
    display: none;
  }
  .containerRegister {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    overflow: hidden;
    margin: 0 auto;
  }
  .inputbox button {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 11px 40px;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    left: -9px;
    cursor: pointer;
  }

  .inputbox button:hover {
    color: white;
    background-color: #28363d;
    border: none;
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.6);
  }

  .square {
    display: none;
  }
  .forget
  {    
    letter-spacing: 0.5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .box {
    margin: 0;
    width: 100%;
  }
  .form>form {
    width: 80%;
  }
}