<%- include("../partials/head") %>
    <title>404 Page</title>
    <link rel="stylesheet" href="../404/404.css" />
    </head>

    <body>
        <%- include("../partials/header") %>
            <div class="night">
                <div class="surface"></div>
                <div class="car">
                    <img draggable = "false" src="../404/404_img/Img_06.png" alt="" />
                </div>
                <div class="content">
                    <h1>Error 404</h1>
                </div>
            </div>
            <script src="../Login/app.js"></script>
    </body>

    </html>