<%- include("../partials/head") %>
    <title>Forgot Password</title>
    <link rel="shortcut icon" href="/Images/Trekidoo_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../Login/forget.css" />
    </head>

    <body>
        <%- include("../partials/header") %>
            <section>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="box">
                    <div class="square" style="--i: 0"></div>
                    <div class="square" style="--i: 1"></div>
                    <div class="square" style="--i: 2"></div>
                    <div class="square" style="--i: 3"></div>
                    <div class="square" style="--i: 4"></div>
                    <div class="containerForget">
                        
                        <div class="form">
                            <h2>Forgot Password</h2>
                            
                            <form action="/otp" method="post">
                                <div class="inputbox">
                                    <input type="text" class="email" name="email" placeholder="Enter E-mail" />
                                    <button type="submit" class="buttonOTP">Get OTP</button>                              
                                </div>
                                </form>
                                <form action="/next" method="post">
                                <div class="inputbox">
                                    <input type="text" name="otp" placeholder="Enter OTP" />
                                    <button type="submit" class="buttonnext">Next</button>
                                </div>
                                </form>
                        </div>
                        <div class="form1">
                            <form action="/forgetpassword" method="POST">
                                <h2>Change Password</h2>
                                <div class="inputbox">
                                    <input type="text" class="email" name="email" placeholder="Enter E-mail" />                              
                                </div>
                                <div class="inputbox">
                                    <input class="inputPassword" type="password" name="newpassword"
                                        placeholder="Enter new password" required />
                                    <div class="eyesContainer">
                                        <img draggable="false" class="eyes" id="eye" src="/Images/eye-solid.svg"
                                            alt="" />
                                        <img draggable="false" class="eyes" id="slashedEye"
                                            src="/Images/eye-slash-solid.svg" alt="" />
                                    </div>
                                </div>
                                <div class="inputbox">
                                    <input class="inputPassword" type="password" name="confirmpassword"
                                        placeholder="Confirm new password" required />
                                </div>
                                <p id="wrongPassword">
                                    <%= wrongPassword %>
                                </p>
                                <button type="submit" class="button">Continue</button>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="otp"><%= otp %></p>
            </section>
            <script src="../Login/app.js"></script>
    </body>

    </html>