<%- include("../partials/head") %>
    <title>Trekidoo</title>
    <link rel="stylesheet" href="Home/home.css">
    </head>

    <body>

        <!-- Navigation Section -->

        <header id="home">
            <%- include("../partials/header") %>
                <div id="parallax" class="parallax">
                    <img draggable = "false" src="Home/home_img/Parallax/Title.png" alt="" class="title" />
                    <img draggable = "false" src="Home/home_img/Parallax/bg.png" alt="1" id="bg" class="parallax_img" />
                    <img draggable = "false" src="Home/home_img/Parallax/Layer1.png" alt="1" id="layer1" class="parallax_img" />
                    <img draggable = "false" src="Home/home_img/Parallax/Layer2.png" alt="2" id="layer2" class="parallax_img" />
                    <img draggable = "false" src="Home/home_img/Parallax/Layer3.png" alt="3" id="layer3" class="parallax_img" />
                    <img draggable = "false" src="Home/home_img/Parallax/Layer4.png" alt="4" id="layer4" class="parallax_img" />
                    <img draggable = "false" src="Home/home_img/Parallax/layer5.png" alt="5" id="layer5" class="parallax_img" />
                    <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
                </div>
        </header>

        <!-- Content 1 Section -->

        <section class="content1">
            <div class="overlay"></div>
            <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
            <div class="glass">
                <h2>Tourism in India</h2>
                <p>Tourism in India has shown a phenomenal growth in the past decade. Travel through the lovely Indian
                    states and discover closely the resplendent colors and rich cultural locales of this incredible
                    land.
                    Our India tourism guide provides you a glimpse of travel and tourism in india ,india tourism
                    information
                    about south india tourism, north India tourism, and all the major tourist destinations, and tourism
                    services of India.</a></p>
            </div>
            <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
        </section>

        <!-- Content 2 Section -->

        <section class="content2">
            <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
            <div class="side_bar">
                <a href="#tajmahal">
                    <div class="tajmahal glass2">
                        <h3>Taj Majal</h3>
                    </div>
                </a>
                <a href="#gomateshwara">
                    <div class="gomateshwara glass2">
                        <h3>Gomateshwara</h3>
                    </div>
                </a>
                <a href="#hampi">
                    <div class="hampi glass2">
                        <h3>Hampi</h3>
                    </div>
                </a>
                <a href="#goldenTemple">
                    <div class="goldenTemple glass2">
                        <h3>Golden Temple</h3>
                    </div>
                </a>
                <a href="#khajuraho">
                    <div class="khajuraho glass2">
                        <h3>Khajuraho</h3>
                    </div>
                </a>
                <a href="#konarkSunTemple">
                    <div class="konarkSunTemple glass2">
                        <h3>Konark Sun Temple</h3>
                    </div>
                </a>
                <a href="#nalanda">
                    <div class="nalanda glass2">
                        <h3>Nalanda</h3>
                    </div>
                </a>
            </div>
            <div class="content2_container" id="wondersofindia">
                <div class="overlay"></div>
                <div class="glass9">
                    <h2>Wonders Of India</h2>
                    <p>Dazzling, elegant, massive and imposing there are not enough words to describe the seven wonders
                        of
                        India, they hold the torch to the architectural brilliance of the bygone era. Located in the
                        different parts of India, they connect the diversity of this vibrant culture within one united
                        heritage. Gomateshwara, Golden Temple, Taj Mahal, Hampi, Konark Sun Temple, Nalanda and
                        Khajuraho.Some of these wonders are located in small towns and are not known to people all
                        around
                        the world. So let’s commence on the journey to understand these monuments that have wooed many
                        people with their charm.</p>
                </div>
            </div>
            <div class="content2_container" id="tajmahal">
                <div class="overlay"></div>
                <div class="glass1">
                    <h2>Taj Majal</h2>
                    <p>This ivory white marble structure that symbolizes love of the Emperor Shah Jehan to his beloved
                        third
                        wife – Mumtaz Mahal is one of the biggest monument mausoleum constructed in sixteenth century.
                        It
                        took over two decades and 20,000 talented artisans and lot of money to complete this massive
                        structure including marble stone and other precious stones, gardens, etc. The Taj Mahal changes
                        colors during the day as the sun light changes from morning to evening.</p>
                </div>
            </div>
            <div class="content2_container" id="gomateshwara">
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
                <div class="overlay"></div>
                <div class="glass3">
                    <h2>Gomateshwara Statue</h2>
                    <p>This massive statue that measures 57 feet in height is carved from a single rock stone. This is
                        situated at Shravanabelagola, Karnataka dating back to 983 AD dedicated to Bahubali, the Jain
                        God.
                        Close to 1/2 of total number of votes went for this massive statue which is the tallest free –
                        standing statues in the world.</p>
                </div>
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
            </div>
            <div class="content2_container" id="hampi">
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
                <div class="overlay"></div>
                <div class="glass4">
                    <h2>Hampi</h2>
                    <p>This massive temple town is known as a famous tourist destination in South India. As mentioned
                        earlier these ruins are recognized as UNESCO World Heritage Site. Some of the structures date
                        back
                        to early 13th century and being to the great Vijayanagara Empire. There are other names that
                        this
                        temple town in Karnataka goes by – Bhaskara Kshetra, Pampa Kshetra, and Kishkinda Kshetra. It is
                        a
                        massive spread of structures and ruins across large landscape and villages.</p>
                </div>
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
            </div>
            <div class="content2_container" id="goldenTemple">
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
                <div class="overlay"></div>
                <div class="glass5">
                    <h2> Golden Temple</h2>
                    <p>This famous Sri Harmandir Sahib is visited by pilgrims from around the world. Situated in the
                        Punjab
                        state in Amritsar city, the famous golden temple hosts the “Throne of the Timeless One”. It is
                        open
                        to visitors of all religions and volunteers at the temple. It is famous for the golden domes and
                        gold covering in the upper floors. It is built on a man-made water body and is excellent when
                        illumined. There are nearly 1 lakh visitors on a daily basis.</p>
                </div>
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
            </div>
            <div class="content2_container" id="konarkSunTemple">
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
                <div class="overlay"></div>
                <div class="glass6">
                    <h2>Konark Sun Temple</h2>
                    <p>This Kalinga style ancient temple dating back to the thirteenth century is famous all over India
                        for
                        several reasons. This Sun Temple is situated at Konark coastal region of Odisha. There is
                        sculptures
                        on the walls and stunning artistry found in the stone marvel constructed by King Narasimhadeva.
                    </p>
                </div>
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
            </div>
            <div class="content2_container" id="nalanda">
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
                <div class="overlay"></div>
                <div class="glass7">
                    <h2>Nalanda</h2>
                    <p>This Buddhist monastery and learning center for spiritual studies dates back to the seventh
                        century.
                        The ancient Mahavihara was the famed learning center during the time of 7th century AD to 12th
                        century AD and is known as one of the earliest education centers or universities in the world.
                    </p>
                </div>
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
            </div>
            <div class="content2_container" id="khajuraho">
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow_fliped" id="Shadow_fliped" />
                <div class="overlay"></div>
                <div class="glass8">
                    <h2>Khajuraho</h2>
                    <p>This collection of several monuments including Hindu and Jain Temples is recognized as UNESCO
                        World
                        Heritage Site. These monuments were constructed between 950 - 1050 CE in Nagara architectural
                        style
                        during the Chandeyla Dynasty. However, by records during twelvth century there were 85
                        structures
                        from which only 20 structures are still preserved.</p>
                </div>
                <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
            </div>
            <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
        </section>
        <script src="Home/home.js"></script>
    </body>

    </html>