body
{
    margin: 0;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    overflow-y: hidden;
}
.night
{
    height: 80vh;
    width: 70vw;
    border: 1px solid black;
    margin: 5rem auto;
    background: url("../404_page/Img/Img_1.png");
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0,0,0,0.4);
    overflow-x: hidden;
}
.surface
{
    height: 140px;
    width: 500%;
    background: url("../404_page/Img/Img_02.png");
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    animation: moveRight 6s linear infinite;
}

.car
{
    position: absolute;
    bottom: 7%;
    left: 24%;
    animation: suspension 1s linear infinite ;
}

.content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    font-size: 35px;
    opacity: 0.8;
}
@keyframes moveRight
{
    100%{transform: translateX(-2950px)}
}

@keyframes suspension
{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-1px);
    }
}