<%- include("../partials/head") %>
    <title>About Us</title>
    <link rel="stylesheet" href="../About/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />
    </head>

    <body>
        <%- include("../partials/header") %>
            <div class="container">
                <div class="bodyy">
                    <div class="card">
                        <div class="circle"></div>
                        <div class="message">
                            <h2>About us</h2>
                            <p>We want our clients to be happy when they visit our website. We thought we have done it
                            </p>
                            <h3> -Made by Legal Pirates</h3>
                        </div>
                        <img draggable = "false" src="../Images/Trekidoo_logo.png" alt="Trekidoo_logo" class="Trekidoo_logo" />
                    </div>
                    <img draggable = "false" src="../Images/Shadow.png" alt="Shadow" id="shadow" />
                </div>
                <div class="container1">
                    <div class="heading">
                        <h1>About us</h1>
                        <p>We want our clients to be happy when they visit our website. We thought we have done it</p>
                        <h2> -Made by Legal Pirates.</h2>
                        <img draggable = "false" src="../Images/Trekidoo_logo.png" alt="Trekidoo_logo" class="Trekidoo_logo">
                    </div>


                <div class="padding">
                    <div class="content">
                        <h2>Our Team Work</h2>
                        <p>Being naive in this field of IT, we have taken our efforts at the fullest to present you with this website. </p>
                        <a href="https://github.com/LegalPirates2020" target="_blank">Learn more</a>
                    </div>
                <!-- </div> -->
                    <!-- <div class="padding">
                        <div class="content">
                            <h2>Our Team Work</h2>
                            <p>Being naive in this field of IT, we have taken our efforts at the fullest to present you with this website. </p>
                            <a href="https://github.com/LegalPirates2020" target="_blank">Learn more</a>
                        </div> -->


                        <div class="content1">
                            <h2>Contact Us</h2>
                            <form action="/contact" method="POST" class="contact">
                                <!-- <input type="text" name="Name" placeholder="Enter your Name" id="name" required> -->
                                <input type="text" name="mail" class="color" placeholder="Enter your E mail"
                                    id="E-mail" required>
                                <textarea name="comment" id="comment" placeholder="Enter your comment" cols="30" rows="10" required></textarea>
                                <input type="Submit">
                            </form>
                        </div>

                        <div class="name">
                            <div class="name1">
                                <div class="box">
                                    <div class="space">
                                        <h3>Prasanna RV</h3>
                                        <p>1st Year IT Department</p>
                                        <ul class="social">
                                            <li><a class="icon_sh" href="https://www.facebook.com/prasanna.rv.31/" target="_blank"><i
                                                        class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.instagram.com/prasanna_rv_1308/?hl=en"
                                                    target="_blank"><i class="fa fa-instagram"
                                                        aria-hidden="true"></i></a>
                                            </li>
                                            <li><a class="icon_sh" href="https://www.linkedin.com/in/prasanna-r-v-it-4b8130203/"
                                                    target="_blank"><i class="fa fa-linkedin"
                                                        aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="space">
                                        <h3>Abii Aravindh</h3>
                                        <p>1st Year IT Department</p>
                                        <ul class="social">
                                            <li><a class="icon_sh" href="https://www.facebook.com/aravindh.r.988" target="_blank"><i
                                                        class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.instagram.com/aravindh_abii/?hl=en"
                                                    target="_blank"><i class="fa fa-instagram"
                                                        aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.linkedin.com/in/aravindh-r-9834a6202"
                                                    target="_blank"><i class="fa fa-linkedin"
                                                        aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="space">
                                        <h3>Solomon Santhosh</h3>
                                        <p>1st Year IT Department</p>
                                        <ul class="social">
                                            <li><a class="icon_sh" href="../404_page/404.html" target="_blank"><i class="fa fa-facebook"
                                                        aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.instagram.com/solomon_santy/?hl=en"
                                                    target="_blank"><i class="fa fa-instagram"
                                                        aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.linkedin.com/in/solomon-santhosh-i-it-4854a3212"
                                                    target="_blank"><i class="fa fa-linkedin"
                                                        aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="space">
                                        <h3>Lohith R</h3>
                                        <p>1st Year IT Department</p>
                                        <ul class="social">
                                            <li><a class="icon_sh" href="https://www.facebook.com/lohithsrk.srk" target="_blank"><i
                                                        class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.instagram.com/_lohith_s.r.k_/?hl=en"
                                                    target="_blank"><i class="fa fa-instagram"
                                                        aria-hidden="true"></i></a></li>
                                            <li><a class="icon_sh" href="https://www.linkedin.com/in/lohith-srk-4b22111bb/"
                                                    target="_blank"><i class="fa fa-linkedin"
                                                        aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../partials/footer") %>
                <script src="../About/about.js"></script>
    </body>

    </html>